[2019-11-05 13:02] yegor256 opened #1 "skeleton"

[2019-11-06 12:57] #1 closed, assigned to nobody

[2019-11-06 12:57] yegor256 opened #2 "rpm parsing in Java instead of createrepo"

[2019-11-07 15:04] yegor256 commented on #2
@rultor release, tag is `0.0.2`

[2019-11-07 15:06] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20812-551117776)

[2019-11-07 15:18] #2 closed

[2019-11-08 15:11] yegor256 opened #3 "it's not thread safe"

[2019-11-08 15:48] yegor256 commented on #3
@rultor release, tag is `0.0.3`

[2019-11-08 15:52] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20827-551879446)

[2019-11-08 16:08] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20827-551879446) (took me 15min)

[2019-11-08 16:13] #3 closed

[2019-11-26 11:14] xiaxuheng opened #4 "can i see the all the repodata files by junit run the RpmTest.java ?"
I want to compare the  all the repodata  generate by  run   RpmTest.java  to the repodata generate by artifacts,Can you help me achieve it？

[2019-11-26 11:16] yegor256 commented on #4
@xiaxuheng see the changes made in fab238b

[2019-11-26 11:16] #4 closed

[2019-12-24 08:14] yegor256 opened #6 "primary.xml is not generated entirely correct"
We are not filling all XML elements, as they are filled by the `createrepo`. Try to create a sample repository with `createrepo` and compare with what we are generating in our XML files. You will see that we don't fill every required element. Many of them are simply omitted. This is definitely a bug.

[2019-12-24 08:15] yegor256 opened #7 "RepoITCase doesn't test the functionality correctly"
Try to run `RepoITCase` and read the logs. You will see that `dnf install` doesn't really install the RPM file. Something is broken. Has to be fixed.

[2019-12-24 08:16] yegor256 opened #8 "Rpm is not tested with multiple files"
At the moment all tests work with a single `.rpm` file. We should extend them and see what happens when we have two or more different `.rpm` files.

[2019-12-29 14:26] #7 closed

[2019-12-29 15:10] #6 closed

[2019-12-29 15:28] yegor256 commented on #6
@rultor release, tag is `0.1.0`

[2019-12-29 15:31] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21118-569515625)

[2019-12-29 15:47] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21118-569515625) (took me 15min)

[2020-01-22 09:31] Sammers21 opened #13 "Change license header"
`Yegor Bugayenko` should be changed to `artipie.com`

[2020-01-22 09:31] Sammers21 opened #14 "Migrate to asto 0.4"

[2020-02-12 02:15] LuBan-Liu opened #17 "FileList index feature is necessary"
1、We should support filelist feature.
2、It is necessary to be able to switch

[2020-02-12 02:15] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-12 02:15] 0crat commented on #17
@luban-liu[/z](https://www.0crat.com/u/luban-liu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-12 02:18] LuBan-Liu opened #18 "The return value needs to be optimized"
Once the updata processing is complete, you need to return to the production file stream list. It includes other file stream/ primary file stream /repomd.xml file stream /filelist file stream.

[2020-02-12 02:18] 0crat commented on #18
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-12 02:18] 0crat commented on #18
@luban-liu[/z](https://www.0crat.com/u/luban-liu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-12 02:28] LuBan-Liu opened #19 "Update interface needs to be redefined"
We should redefine this interface to support different business scenarios.
For example

[code]

Description:
1、repodata:Existing repodata data needs to be transferd
2、filelist:Batch files need to generate repodata.
3、model: Add or delete files
4、we hope you can return the file stream.

[2020-02-12 02:28] 0crat commented on #19
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-12 02:28] 0crat commented on #19
@luban-liu[/z](https://www.0crat.com/u/luban-liu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-12 04:34] LuBan-Liu commented on #19
@yegor256

[2020-02-14 14:25] Sammers21 commented on #19
@LuBan-Liu, thank you for reporting this issue.

For example
class RepoData {
       String filename.
       InputStream fileStream.
}
RepoData repoData updata(RepoData[] repodata,String[] fileList,String model)

Can you please clarify what do you mean by this?

[2020-02-14 14:30] Sammers21 commented on #19
@LuBan-Liu, keep in mind that the library does not operate with `InputStream` and `OutputStream`s. We use flows from Java 9, they are non blocking and back-pressured

[2020-02-17 12:16] Sammers21 commented on #17
@LuBan-Liu, Storage interface has a list method. You can use it

[2020-02-17 12:17] Sammers21 commented on #18
@LuBan-Liu , those files can be obtained from `Stroage`

[2020-02-19 10:35] g4s8 commented on #14
@Sammers21 the latest version of asto is `0.13` now: https://github.com/artipie/asto/tree/0.13.2

[2020-02-19 10:35] g4s8 commented on #14
@0crat assign @Sammers21

[2020-02-19 11:13] 0crat commented on #14
@g4s8 The job [#14](https://github.com/artipie/rpm-adapter/issues/14) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/30ac6a50-f892-4289-927e-7d1110573bc4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-02-19 11:21] 0crat commented on #14
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-19 11:21] 0crat commented on #14
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-19 12:21] 0crat commented on #14
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-23 07:40] LuBan-Liu commented on #17
Next week,i will try it. Thanks you job.

[2020-02-23 07:41] LuBan-Liu commented on #18
Get it. Thanks.

[2020-02-23 07:43] LuBan-Liu commented on #19
Good Job. Thanks.

[2020-02-25 09:20] 0crat commented on #14
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-25 12:08] g4s8 opened #20 "Update to latest pom and asto"
Update to parent pom `0.3` and asto `0.14`, downgrade to JDK8.

[2020-02-25 12:27] 0crat commented on #20
The job [#20](https://github.com/artipie/rpm-adapter/issues/20) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5ebe2ef2-662f-4ca6-9009-df672e59a106); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-02-25 12:30] 0crat commented on #20
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 12:31] 0crat commented on #20
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 13:18] 0crat commented on #20
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-26 11:45] g4s8 commented on #20
@rultor release, tag=`0.2`

[2020-02-26 11:45] g4s8 commented on #20
Done in #21

[2020-02-26 11:45] #20 closed

[2020-02-26 11:46] rultor commented on #20
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21436-591385343)

[2020-02-26 11:48] rultor commented on #20
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21436-591385343) (spent 2min)

[code]

[2020-02-26 12:12] g4s8 commented on #20
@rultor release, tag=`0.2`

[2020-02-26 12:13] rultor commented on #20
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21436-591395129)

[2020-02-26 12:23] 0crat commented on #20
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-26 12:25] 0crat commented on #20
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-26 12:31] rultor commented on #20
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21436-591395129) (took me 16min)

[2020-02-27 08:10] g4s8 commented on #14
@Sammers21 fixed in #21

[2020-02-27 08:10] #14 closed

[2020-02-27 09:37] g4s8 opened #22 "Rpm file prefixes"
Add optional support of prefixes for rpm files

[2020-02-27 09:45] 0crat commented on #14
Order was finished: +30 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-27 10:07] 0crat commented on #22
The job [#22](https://github.com/artipie/rpm-adapter/issues/22) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b4712a4f-8d1d-40e1-8a19-a03cb9233226); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-02-27 10:32] 0crat commented on #22
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-27 10:34] 0crat commented on #22
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-27 10:52] 0crat commented on #22
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-27 11:29] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/artipie/rpm-adapter/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2020-03-02 09:09] Sammers21 commented on #17
@LuBan-Liu , can you try to explain your issue more precisely? What do you mean by ` filelist feature`?

[2020-03-02 09:19] LuBan-Liu commented on #17
Now. I havan't got the version to resolve the problem.

[2020-03-02 09:20] Sammers21 commented on #17
@LuBan-Liu , sure, the issues still is not resolved. Can you give us more details?

[2020-03-02 09:20] LuBan-Liu commented on #17
let me explain the issues  as precise as you can .as below:
We want to use a param to control the filelist feature.
When the param is ture, we should produce the filelist file.
When the param is false,we don't need to produce the filelist file.

[2020-03-02 09:23] Sammers21 commented on #17
@LuBan-Liu , How does this feature works in artifactory or createreapo? Does they produce filelist.xml files each time or what?

[2020-03-02 09:25] Sammers21 commented on #19
@LuBan-Liu, so you mean we should close this issues as irrelevant? right?

[2020-03-02 09:26] Sammers21 commented on #18
@LuBan-Liu, can we close this issue as irrelevant?

[2020-03-02 09:30] LuBan-Liu commented on #17
There is a switch param which belongs to one rpm repo.When the param is ture,  upload the rpm packege to the rpm repo .we should product the filelist file.  the problem is :  We want to transfer the param to rpm-adapter,How can i do it?

[2020-03-02 09:33] LuBan-Liu commented on #19
No. I think it must be resolved.

[2020-03-02 09:36] LuBan-Liu commented on #19
still have a question

[2020-03-02 12:29] Sammers21 commented on #17
@LuBan-Liu , it is clear what you need. It is not clear why do you need that. What is wrong with `filelist.xml` generation on each update?

[2020-03-02 12:40] g4s8 commented on #17
@LuBan-Liu did I get you correctly: we're generating the file `filelists.xml` and updating `repomd.xml` with this `filelists` file. You want to configure `Rpm` in a such way that it won't generate this file. But as I can see in the documentation of `createrepo` https://linux.die.net/man/8/createrepo and in [Artifactory](https://www.jfrog.com/confluence/display/JFROG/RPM+Repositories) documentation

[2020-03-02 12:49] g4s8 commented on #19
@LuBan-Liu what's your question?

[2020-03-02 13:48] g4s8 commented on #22
@rultor release, tag=`0.2.1`

[2020-03-02 13:50] rultor commented on #22
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21450-593410526)

[2020-03-02 14:09] rultor commented on #22
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21450-593410526) (took me 18min)

[2020-03-03 01:15] LuBan-Liu commented on #17
As I know, yum install rpm package by primary file. filelists file may be used when we query the rpm information.
second, jfrog artifactory has the switch which be used to control the filelist file. we only want to Keep in line with commercial artifactory.

[2020-03-03 01:25] LuBan-Liu commented on #19
This qustion description is too complicated.  close it and open one more issue. make it a little simple.

[2020-03-03 01:25] #19 closed

[2020-03-03 01:33] LuBan-Liu opened #24 "Batch update support for rpm repository"
Now  rpm-adapter can generate the repodata files for a single rpm package. That's not enough.
We should support directory-level repodata for all the rpm packages in one directory. As createrepo did.

[2020-03-03 01:33] 0crat commented on #24
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-03 01:33] 0crat commented on #24
@luban-liu[/z](https://www.0crat.com/u/luban-liu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 01:41] LuBan-Liu commented on #22
I'll test it today

[2020-03-03 01:43] LuBan-Liu commented on #8
Yes.Now only generate repodate file for a single file.

[2020-03-03 02:51] LuBan-Liu commented on #8
We should support to generate repodata for multiple files.

[2020-03-03 04:11] 0crat commented on #19
Job `gh:artipie/rpm-adapter#19` is not assigned, can't get performer

[2020-03-03 04:51] 0crat commented on #19
This job is not in scope

[2020-03-03 06:38] g4s8 commented on #22
@LuBan-Liu I updated the documentation in this commit: https://github.com/artipie/rpm-adapter/commit/0aa3dc41cab0f9ae9e78d1672619c5ec1dc047a8
please use `new Rpm(storage, new NamingPolicy.Sha1Prefixed())` to add `SHA1` prefixes to metadata files.

[2020-03-03 07:59] g4s8 commented on #17
@LuBan-Liu it's described by "Indexing the File List " section of Artifactory docs: https://www.jfrog.com/confluence/display/JFROG/RPM+Repositories

[2020-03-03 12:02] Sammers21 opened #25 "test issues"
test issues

[2020-03-03 12:03] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-03 12:03] 0crat commented on #25
@sammers21[/z](https://www.0crat.com/u/sammers21) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 12:03] #25 closed

[2020-03-03 12:22] 0crat commented on #17
Thanks for your contribution, @luban-liu[/z](https://www.0crat.com/u/luban-liu)! If you would be a member of [the project](https://www.0crat.com/p/CT2E6TK9B), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2020-03-03 12:22] 0crat commented on #17
The job [#17](https://github.com/artipie/rpm-adapter/issues/17) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b2348831-0994-431e-ae2f-9b7d660c1a22); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-03-03 12:22] 0crat commented on #25
Job `gh:artipie/rpm-adapter#25` is not assigned, can't get performer

[2020-03-03 12:23] 0crat commented on #17
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-03 12:25] 0crat commented on #25
This job is not in scope

[2020-03-04 07:12] g4s8 opened #26 "repomd.xml may not be updated in some cases"
`Rpm.update()` may not include references to `primary`, `filelists` and `other` to `repomd.xml` file in some cases, bug other metadata files seems to be ok.

[2020-03-04 07:35] 0crat commented on #26
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.7](https://github.com/zerocracy/farm): CID: [ce470b4e-8f94-449f-b767-4e7faa176e0c](https://www.0crat.com/footprint/CT2E6TK9B/ce470b4e-8f94-449f-b767-4e7faa176e0c), Type: "Job milestoned"

[2020-03-04 07:40] 0crat commented on #26
The job [#26](https://github.com/artipie/rpm-adapter/issues/26) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c7731be1-d6f2-45a0-979a-6ca41b370611); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-03-04 07:49] 0crat commented on #26
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-04 07:57] 0crat commented on #26
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-04 07:57] 0crat commented on #26
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-04 09:58] g4s8 commented on #26
ASTO bug should be fixed in https://github.com/artipie/asto/pull/92

[2020-03-04 14:29] g4s8 commented on #24
@LuBan-Liu see #28 PR

[2020-03-05 08:19] g4s8 commented on #24
@rultor release, tag=`0.3`

[2020-03-05 08:21] rultor commented on #24
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21470-595090698)

[2020-03-05 08:30] rultor commented on #24
@luban-liu @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21470-595090698) (spent 9min)

[code]

[2020-03-05 09:15] g4s8 commented on #24
@rultor release, tag=`0.3`

[2020-03-05 09:16] rultor commented on #24
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21470-595115912)

[2020-03-05 09:32] rultor commented on #24
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21470-595115912) (took me 14min)

[2020-03-08 12:51] 0crat commented on #17
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-10 07:54] g4s8 opened #29 "Repomd generates same SHA1 prefixes for all metadata files"
When using `NamingPolicy.Sha1Prefixed` with `Rpm`, `Repomd` generate same SHA1 prefixes for all metadata files. The prefix should be different and depend on files content.

[2020-03-10 10:02] 0crat commented on #29
The job [#29](https://github.com/artipie/rpm-adapter/issues/29) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/46594759-3ff1-4bec-8b1f-5738d79dcef0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-03-10 14:05] g4s8 opened #30 "Add a test with aarch64 rpm package"
Add a test to verify aarch64 rpm package works

[2020-03-10 14:58] g4s8 commented on #26
Fixed in #27 and https://github.com/artipie/asto/issues/91

[2020-03-10 14:58] #26 closed

[2020-03-10 16:33] 0crat commented on #30
The job [#30](https://github.com/artipie/rpm-adapter/issues/30) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1f17fca8-13ed-4269-9334-24f2e376a0f5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-03-11 10:46] 0pdd opened #32 "RpmTest.java:52-56: Refactor this test. Convert it to..."
The puzzle `30-6f533735` from #30 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/516e1a82d8ca028341fa76176abf40c3384e602b/src/test/java/com/artipie/rpm/RpmTest.java#L52-L56

The puzzle was created by @g4s8 on 10-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2020-03-11 10:46] 0pdd commented on #30
@g4s8 the puzzle [#32](https://github.com/artipie/rpm-adapter/issues/32) is still not solved.

[2020-03-11 10:47] 0crat commented on #32
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-11 10:52] g4s8 commented on #30
Solved in #31

[2020-03-11 10:52] #30 closed

[2020-03-11 12:20] Sammers21 commented on #29
In all the cases SHA1 prefix is equals to `da39a3ee5e6b4b0d3255bfef95601890afd80709`

[2020-03-11 13:11] 0crat commented on #30
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-11 13:53] 0crat commented on #29
@g4s8[/z](https://www.0crat.com/u/g4s8) I see that you unassigned this issue; the order is still assigned to @sammers21[/z](https://www.0crat.com/u/sammers21) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-11 14:10] 0crat commented on #29
The job [#29](https://github.com/artipie/rpm-adapter/issues/29) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/93dffc32-2343-4132-b3bb-167b1c7ba723); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-03-12 01:25] 0crat commented on #32
The job [#32](https://github.com/artipie/rpm-adapter/issues/32) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1160199c-062f-468d-969f-4d1ad71f3ca9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-12 07:48] Guseyn opened #33 "Refactor class Repomd"

[2020-03-12 07:48] 0crat commented on #33
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 08:55] Guseyn opened #35 "Add test for RepoXML"

[2020-03-12 08:55] 0crat commented on #35
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 12:34] #33 closed

[2020-03-12 13:21] #35 closed

[2020-03-12 16:57] 0crat commented on #35
Job `gh:artipie/rpm-adapter#35` is not assigned, can't get performer

[2020-03-12 18:03] 0crat commented on #33
Job `gh:artipie/rpm-adapter#33` is not assigned, can't get performer

[2020-03-12 18:37] 0crat commented on #29
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.11](https://github.com/zerocracy/farm): CID: [d6b3513c-0acb-44be-a365-882b43cb9bb1](https://www.0crat.com/footprint/CT2E6TK9B/d6b3513c-0acb-44be-a365-882b43cb9bb1), Type: "Job milestoned"

[2020-03-13 08:08] #32 closed

[2020-03-13 08:08] 0pdd commented on #32
The puzzle `30-6f533735` has disappeared from the source code, that's why I closed this issue.

[2020-03-13 08:09] 0pdd opened #40 "RpmTest.java:54-56: This test class needs refactoring...."
The puzzle `32-75a1be06` from #32 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/2e738e22f2702d3267e2acd81b9836b2ce5ec5a1/src/test/java/com/artipie/rpm/RpmTest.java#L54-L56

The puzzle was created by HDouss on 12-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-03-13 08:09] 0pdd commented on #30
@g4s8 the puzzle [#40](https://github.com/artipie/rpm-adapter/issues/40) is still not solved; solved: [#32](https://github.com/artipie/rpm-adapter/issues/32).

[2020-03-13 08:09] 0pdd commented on #32
@0pdd the puzzle [#40](https://github.com/artipie/rpm-adapter/issues/40) is still not solved.

[2020-03-13 08:10] 0crat commented on #40
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-13 09:12] g4s8 commented on #29
@rultor release, tag=`0.3.1`

[2020-03-13 09:14] rultor commented on #29
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21528-598623221)

[2020-03-13 09:36] rultor commented on #29
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21528-598623221) (took me 20min)

[2020-03-13 10:57] 0crat commented on #32
Job was finished in 33 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-13 12:27] #29 closed

[2020-03-13 12:27] 0pdd opened #41 "Repomd.java:166-170: Refactor Repomd.performUpdate..."
The puzzle `29-399d2455` from #29 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/9d385e63a83d1336eee894bbbad7c4cb60afea99/src/main/java/com/artipie/rpm/Repomd.java#L166-L170

The puzzle was created by @g4s8 on 13-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-03-13 12:27] g4s8 commented on #29
@rultor release, tag=`0.3.2`

[2020-03-13 12:27] 0pdd commented on #29
@g4s8 the puzzle [#41](https://github.com/artipie/rpm-adapter/issues/41) is still not solved.

[2020-03-13 12:29] 0crat commented on #41
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-13 12:29] rultor commented on #29
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21528-598696763)

[2020-03-13 12:43] rultor commented on #29
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21528-598696763) (took me 13min)

[2020-03-13 13:46] 0crat commented on #29
Job was finished in 46 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-14 13:37] 0crat commented on #17
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#17](https://github.com/artipie/rpm-adapter/issues/17), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-15 17:42] 0crat commented on #17
The job [#17](https://github.com/artipie/rpm-adapter/issues/17) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c5e65403-7e8c-4779-87cd-c2144723b6f6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-03-18 11:59] brastak opened #43 "Update all tests to use junit 5"
Currently we use junit 4 in several unit tests. Actual runner is junit 5, but these tests use junit 4 and it works together with junit-vintage-engine.
Need to upgrade all tests to junit 5 and remove redundant libraries.

[2020-03-18 12:02] 0crat commented on #43
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-19 09:31] g4s8 opened #45 "Don't generate xml files if not needed"
`Rpm` class generates 7 files on `update()`:
 - `repomd.xml`
 - `primary.xml`
 - `primary.xml.gz`
 - `filelists.xml`
 - `filelists.xml.gz`
 - `other.xml`
 - `other.xml.gz`

Most probably `primary.xml`, `filelists.xml` and `other.xml` files are not needed, since `repomd.xml` (the main metadata file) has a links only to `.xml.gz` versions of these files. Check if `createrepo` tool generates `.xml` v

[2020-03-19 10:40] 0crat commented on #45
The job [#45](https://github.com/artipie/rpm-adapter/issues/45) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fb381402-93cf-426e-b448-684091d795a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-20 12:24] brastak opened #47 "Re-implement docker container start with testcontainers"
Now integration test uses ProcessBuilder to execute docker. Testcontainers library provides higher abstraction level. It allows to create simple-in-use and reusable components. Also, it's designed for the unit testing purpose and provides lots of useful containers to create necessary environment for integration tests runs.

We need to rewrite existing code to start docker container with testcontai

[2020-03-20 12:25] 0crat commented on #47
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-20 13:07] #43 closed

[2020-03-20 16:09] 0crat commented on #43
Job `gh:artipie/rpm-adapter#43` is not assigned, can't get performer

[2020-03-21 11:28] 0crat commented on #17
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-21 18:37] 0crat commented on #40
The job [#40](https://github.com/artipie/rpm-adapter/issues/40) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/835f9a38-0295-4fd1-a0a4-2c4078797245); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-22 01:41] 0crat commented on #41
The job [#41](https://github.com/artipie/rpm-adapter/issues/41) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f21a311e-2328-4736-b979-7c1aed0dfbc5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-03-22 10:24] carlosmiranda commented on #41
@0crat refuse

[2020-03-23 00:59] carlosmiranda commented on #41
@0crat status

[2020-03-23 01:07] carlosmiranda commented on #41
@0crat refuse

[2020-03-23 04:46] 0crat commented on #41
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#41](https://github.com/artipie/rpm-adapter/issues/41), please stop working. Reason for job resignation: Order was cancelled

[2020-03-23 05:11] 0crat commented on #41
@carlosmiranda This is what I know about this job in [CT2E6TK9B](https://www.0crat.com/p/CT2E6TK9B), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#41](https://github.com/artipie/rpm-adapter/issues/41) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.ht

[2020-03-23 07:08] g4s8 opened #49 "Repomd uses links to src files instead of gzipped"
Metadata file `repomd.xml` uses wrong links. E.g. if a source file has a name `123abc-filelists.xml` (where `123abc` is a hashsum of the file), and gzipped file has a name `567def-filelists.xml.gz`, then `repomd.xml` will contains a link:
[code]
So it just appends `.gz` suffix to source file name instead of using correct gzipped file name.

[2020-03-23 08:39] brastak commented on #49
@g4s8 I can not reproduce this issue exactly. Our code does not append hashes to the filenames at all. filelists will be uploaded as filelists.xml and the reference will be the same.
But createrepo tool really appends hashes by default. Also createrepo creates sqlite database by default too - do we need to support this right now? All of options above are correct - hashless filenames, sqlite-less r

[2020-03-23 10:02] g4s8 commented on #49
@brastak we also support sha1 prefixes, see `new Rpm(sotrage, new NamingPolicy.Sha1Prefixed())`: https://github.com/artipie/rpm-adapter#naming-policy

[2020-03-23 11:16] 0crat commented on #47
The job [#47](https://github.com/artipie/rpm-adapter/issues/47) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/57ed5b36-2a24-4f82-9e3f-7d5b85d654df); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-23 11:34] 0crat commented on #49
The job [#49](https://github.com/artipie/rpm-adapter/issues/49) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/afc0f2cb-2409-403f-8973-71d81d75dc5a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-23 12:17] brastak commented on #49
@g4s8 Looks like we support it in wrong way. We have sha1 prefixes, but checksums in the repomd.xml are sha256. createrepo keeps them consistent - you specify checksum algorithm for both prefixes and tags. I will fix it

[2020-03-24 09:48] LuBan-Liu commented on #49
It is best to support alternatives。sha1 or sha256.

[2020-03-24 10:52] 0crat commented on #45
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-24 11:03] #47 closed

[2020-03-24 11:03] brastak commented on #45
@g4s8 Please, close it

[2020-03-24 11:22] 0crat commented on #47
Job was finished in 25 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-24 12:41] #45 closed

[2020-03-24 12:44] g4s8 opened #50 "Cleanup files on delete"
We should cleanup removed files on `Rpm.batchUpdate`, e.g. if repository has these files:
[code]
and user called `Rpm.batchUpdate`, these files will be added to metadata files. But if user removes any `222.rpm` file:
[code]
and call `Rpm.batchUpdate`, then all metadata files will contains links to `222.rpm`. We need to remove this file from metadata files too.

[2020-03-24 12:53] 0crat commented on #50
The job [#50](https://github.com/artipie/rpm-adapter/issues/50) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/94b07c43-d25d-499f-ac9a-58aeb3cef558); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-25 06:59] g4s8 commented on #49
@rultor release, tag=`0.4`

[2020-03-25 07:02] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21606-603674764)

[2020-03-25 07:13] rultor commented on #49
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21606-603674764) (took me 10min)

[2020-03-25 08:20] g4s8 opened #52 "Rpm doesn't remove old versions of metadata file"
When we use some custom naming policy for metadata files (e.g. hash prefixes), then `Rpm` can update these files but doesn't remove old versions, e.g. if we have files:
[code]
and add new package `package-two.rpm`, then `filelists`, `others` and `primary` will be updated and the name of them will change (because of hash based naming policy): `111-filelists -> aaa-filelists`, `222-others -> bbb-oth

[2020-03-25 08:22] 0crat commented on #52
The job [#52](https://github.com/artipie/rpm-adapter/issues/52) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d268294d-0849-4f4b-bc39-996d55b8b8c0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-25 11:28] LuBan-Liu opened #53 "Mutil-file scenario repodata produced by rpm-adapter is wrong. please fix it."
When we save three rpm package information by blockingStorage, then we use the rpm.batchUpdate to  to generate the repodata,the problem happens as below:

1.The rpm-adapter generated three set of filelist/primary/other files, this is ok, but we prefer to get a set of repodata data.
2. the newest set of filelist/other/primary files only contains one package basic information, this point is wrong.

[2020-03-25 11:28] 0crat commented on #53
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-25 13:05] paulodamaso commented on #17
@0crat wait for #42 merge

[2020-03-25 18:39] dgarus opened #55 "com.artipie.rpm.RpmTest#addsSingleRpm is broken"
The test com.artipie.rpm.RpmTest#addsSingleRpm is broken with error
[code]

MacOS.

[2020-03-25 18:39] 0crat commented on #55
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-25 18:40] dgarus commented on #40
@0pdd wait

https://github.com/artipie/rpm-adapter/issues/55

[2020-03-25 18:42] 0pdd commented on #40
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-03-25 18:43] dgarus commented on #40
@0crat wait
for https://github.com/artipie/rpm-adapter/issues/55

[2020-03-26 02:10] LuBan-Liu commented on #53
Ok

[2020-03-26 11:01] g4s8 commented on #53
@LuBan-Liu related to #52

[2020-03-26 11:45] g4s8 commented on #55
@dgarus please provide more details: OS, Java version, etc. I can't reproduce it locally and CI build is OK.

[2020-03-26 12:24] dgarus commented on #55
@g4s8
OS:	macOS 10.15.4 (19E266)
Java: 13.0.2 or 11.0.6

I think I don't have '/etc/hosts' file.

[2020-03-27 07:12] g4s8 commented on #49
@brastak it seems to fixed in #51, right? Can I close this bug?

[2020-03-27 07:13] 0crat commented on #53
The job [#53](https://github.com/artipie/rpm-adapter/issues/53) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/93bb955d-58f7-4569-a8db-43331ab0a4f4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-27 14:55] g4s8 commented on #53
@rultor release, tag=`0.5`

[2020-03-27 14:57] rultor commented on #53
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21641-605044738)

[2020-03-27 15:10] rultor commented on #53
@luban-liu @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21641-605044738) (spent 12min)

[code]

[2020-03-27 15:38] g4s8 commented on #53
@rultor release, tag=`0.5.1`

[2020-03-27 15:40] rultor commented on #53
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21641-605067449)

[2020-03-27 15:53] rultor commented on #53
@luban-liu @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21641-605067449) (spent 12min)

[code]

[2020-03-27 15:56] g4s8 commented on #53
@LuBan-Liu nexus sonatype is down for some reason, it returns `504 Gateway Time-out` when publishing. I'll try to release after some delay.

[2020-03-27 18:49] g4s8 commented on #53
@rultor release, tag=`0.51.1`

[2020-03-27 18:50] rultor commented on #53
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21641-605209848)

[2020-03-27 19:14] rultor commented on #53
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21641-605209848) (took me 23min)

[2020-03-28 12:52] 0crat commented on #49
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-29 13:39] 0crat commented on #50
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-29 18:02] 0crat commented on #41
The job [#41](https://github.com/artipie/rpm-adapter/issues/41) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/14429f1e-5d14-4d5b-a817-81accf7706d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-03-30 07:57] brastak commented on #49
@g4s8 Please, close

[2020-03-30 07:57] brastak commented on #50
@g4s8 Please, close

[2020-03-30 07:58] brastak commented on #52
@g4s8 Please, close

[2020-03-30 07:58] brastak commented on #53
@g4s8 Please, close

[2020-03-30 07:59] g4s8 commented on #52
@brastak thanks

[2020-03-30 07:59] #52 closed

[2020-03-30 07:59] g4s8 commented on #50
@brastak thanks

[2020-03-30 07:59] #50 closed

[2020-03-30 07:59] g4s8 commented on #49
@brastak thanks

[2020-03-30 07:59] #49 closed

[2020-03-30 11:28] g4s8 opened #57 "StringIndexOutOfBoundsException in PrimaryProcessor"
The file `v8location_rootfs-1213-lpu-1.0.0-3.aarch64.rpm` causes unexpected failure in RPM adapter (version `0.51.1`), exception:
[code]

[2020-03-30 11:30] 0crat commented on #57
The job [#57](https://github.com/artipie/rpm-adapter/issues/57) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e0782451-7fd4-4f9b-80c6-b65051c5ab57); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-03-30 11:37] g4s8 commented on #57
@rultor release, tag=`0.5.2`

[2020-03-30 11:40] rultor commented on #57
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21663-605947935)

[2020-03-30 11:41] rultor commented on #57
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21663-605947935) (spent 20s)

[code]

[2020-03-30 11:42] g4s8 commented on #57
@rultor release, tag=`0.5.3`

[2020-03-30 11:49] rultor commented on #57
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21663-605949992)

[2020-03-30 12:04] rultor commented on #57
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21663-605949992) (took me 14min)

[2020-03-30 13:15] victornoel commented on #41
@0crat wait for #58 to be merged

[2020-03-31 18:45] #53 closed

[2020-03-31 18:45] g4s8 commented on #57
Fixed in `0.5.3`

[2020-03-31 18:45] #57 closed

[2020-03-31 19:09] 0crat commented on #57
Job was finished in 31 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-01 17:48] g4s8 opened #59 "Update asto"
Update asto dependency to fix https://github.com/artipie/asto/issues/142 bug

[2020-04-01 17:49] g4s8 commented on #59
@rultor release, tag=`0.5.4`

[2020-04-01 17:51] rultor commented on #59
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21678-607397191)

[2020-04-01 18:04] rultor commented on #59
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21678-607397191) (took me 12min)

[2020-04-02 09:04] #41 closed

[2020-04-02 09:04] 0pdd commented on #41
The puzzle `29-399d2455` has disappeared from the source code, that's why I closed this issue.

[2020-04-02 09:04] 0pdd opened #60 "Repomd.java:142-146: Continue refactoring..."
The puzzle `41-df9cd1a3` from #41 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/40349c1c61d20933048c00efa51bd185332bf4c8/src/main/java/com/artipie/rpm/Repomd.java#L142-L146

The puzzle was created by Victor Noël on 02-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-04-02 09:04] 0pdd opened #61 "Repomd.java:191-194: This method and saveGzip are very..."
The puzzle `41-ab144851` from #41 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/40349c1c61d20933048c00efa51bd185332bf4c8/src/main/java/com/artipie/rpm/Repomd.java#L191-L194

The puzzle was created by Victor Noël on 31-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-04-02 09:04] 0pdd commented on #29
@g4s8 2 puzzles [#60](https://github.com/artipie/rpm-adapter/issues/60), [#61](https://github.com/artipie/rpm-adapter/issues/61) are still not solved; solved: [#41](https://github.com/artipie/rpm-adapter/issues/41).

[2020-04-02 09:04] 0pdd commented on #41
@0pdd 2 puzzles [#60](https://github.com/artipie/rpm-adapter/issues/60), [#61](https://github.com/artipie/rpm-adapter/issues/61) are still not solved.

[2020-04-02 09:05] 0crat commented on #61
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-02 09:05] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-02 09:25] 0crat commented on #41
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-02 10:04] sereshqua commented on #41
@0crat quality good

[2020-04-02 14:32] g4s8 commented on #17
@0crat boost 4x

[2020-04-02 14:35] 0crat commented on #17
@g4s8 Boost 4x was set for [#17](https://github.com/artipie/rpm-adapter/issues/17)

[2020-04-02 15:01] 0crat commented on #60
The job [#60](https://github.com/artipie/rpm-adapter/issues/60) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e73d15b1-6a3b-481c-95d0-65f01199a9c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-02 16:08] 0crat commented on #61
The job [#61](https://github.com/artipie/rpm-adapter/issues/61) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7eac0e99-412e-4cb3-bf7e-75f2951c3cec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-03 03:00] carlosmiranda commented on #61
@0crat refuse

[2020-04-03 05:07] 0crat commented on #61
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#61](https://github.com/artipie/rpm-adapter/issues/61), please stop working. Reason for job resignation: Order was cancelled

[2020-04-03 05:10] 0crat commented on #61
@carlosmiranda Job refused in 13 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-03 05:17] 0crat commented on #61
The job [#61](https://github.com/artipie/rpm-adapter/issues/61) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a8eff03f-4b3b-47af-a640-b38537db2737); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-03 05:51] ammaratef45 opened #62 "URL in documentation should be changed"
The Origin of RPM Content URL should be changed from https://docs.pulpproject.org/plugins/pulp_rpm/tech-reference/rpm.html to https://docs.pulpproject.org/en/2.9/plugins/pulp_rpm/tech-reference/rpm.html

As the first one isn't working

[2020-04-03 05:51] 0crat commented on #62
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-03 06:26] g4s8 commented on #62
@ammaratef45 thanks! Fixed by https://github.com/artipie/rpm-adapter/commit/d9845c23e2b88f12e1ce126d81cede0836aea863

[2020-04-03 06:26] #62 closed

[2020-04-03 06:38] g4s8 opened #63 "More unit tests"
Let's add more tests for `Rpm` metadata generators:
 - verify that it can update multiple files one by one
 - verify that the content is correct for all supported digests and `NamingPolicy` implementations
 - verify that it doesn't brake existing metadata in case of invalid package (e.g. generate metadata for first package, then try to generate for broken package)

[2020-04-03 06:45] 0crat commented on #62
Job `gh:artipie/rpm-adapter#62` is not assigned, can't get performer

[2020-04-03 07:50] 0crat commented on #63
The job [#63](https://github.com/artipie/rpm-adapter/issues/63) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d08cf712-9a1b-409b-903f-7d24f9716095); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-03 07:51] carlosmiranda commented on #63
@0crat refuse

[2020-04-03 07:56] 0crat commented on #63
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-03 08:10] victornoel opened #65 "Remove incorrect usage of doOnSuccess"
I noticed in the code some places where `doOnSuccess` was used, but incorrectly IMHO.

Sometimes the argument passed to `doOnSuccess` returns a `Completable`, but it will never be executed because `doOnSuccess` does nothing with it. Also sometimes it makes more sense to use `map` when the passed lambda use the builder pattern.

In this module, we have that is wrong https://github.com/artipie/rpm-a

[2020-04-03 08:11] 0crat commented on #65
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-03 08:29] victornoel commented on #65
@g4s8 I think the correct alternative is:
[code]

[2020-04-03 08:30] 0crat commented on #63
The job [#63](https://github.com/artipie/rpm-adapter/issues/63) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/12d08727-b0a2-43b4-aaf3-6ffff2376d11); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-03 08:33] victornoel commented on #65
@g4s8 also sometimes `map` can directly be used, for example in https://github.com/artipie/rpm-adapter/blob/daba515d1c70ea1e54516f172bf31b13546df39e/src/main/java/com/artipie/rpm/Repomd.java#L238

[2020-04-03 08:48] victornoel commented on #60
@0crat wait for #66 to be merged

[2020-04-03 10:19] g4s8 commented on #59
Fixed by https://github.com/artipie/rpm-adapter/commit/2f70283cc68779e71172fbb9940a16767bd768a5

[2020-04-03 10:19] #59 closed

[2020-04-03 10:54] 0crat commented on #59
Job `gh:artipie/rpm-adapter#59` is not assigned, can't get performer

[2020-04-03 11:10] ammaratef45 commented on #63
@0crat refuse

[2020-04-03 11:16] 0crat commented on #63
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#63](https://github.com/artipie/rpm-adapter/issues/63), please stop working. Reason for job resignation: Order was cancelled

[2020-04-03 11:17] 0crat commented on #63
@ammaratef45 Job refused in 2 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-03 11:23] g4s8 commented on #65
@victornoel sure, can you put all places to ticket description (from your comments) and I'll add it to scope.

[2020-04-03 11:54] 0crat commented on #63
The job [#63](https://github.com/artipie/rpm-adapter/issues/63) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/60929ce8-6a70-4f78-9088-5a274be70bb4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-03 13:45] victornoel commented on #65
@g4s8 those are the only two in this module, I updated the description, I will check other modules and create corresponding issue.

[2020-04-03 13:50] victornoel commented on #65
@g4s8 luckily, those are the only places

[2020-04-03 13:53] victornoel commented on #63
@g4s8 `Rpm` metadata generator is the class `Repomd`?

[2020-04-03 14:06] victornoel commented on #65
@g4s8 actually I think I will do it as part of #63 because it's going to be needed.

[2020-04-03 14:06] #65 closed

[2020-04-03 14:24] 0crat commented on #65
Job `gh:artipie/rpm-adapter#65` is not assigned, can't get performer

[2020-04-03 14:42] victornoel commented on #63
@0crat wait for #67 to be merged

[2020-04-03 14:55] g4s8 commented on #63
@victornoel no, it's `Rpm` class. `Repomd` is responsible only for `repomd.xml` metadata file.

[2020-04-03 15:10] victornoel commented on #63
@g4s8 `Repomd` is used nowhere, and `RepoUpdater` seems to be solving the same problem, I don't get what `Repomd` is for then?

[2020-04-03 15:20] g4s8 commented on #63
@victornoel it looks like we forgot to delete `Repomd` class. It was replaced with `RepoUpdater` by the hotfix when we faced some critical performance issue with Xembly (it parses `xml` document fully in memory, but some documents in RPM repository may be huge enough). So actually, we need unit tests for `Rpm` class to be sure that it can generate metadata correctly, now we have too few asserts in

[2020-04-03 15:29] g4s8 opened #68 "CLI tool for RPM metadata generators"
Let's create simple CLI tool to generate metadata for `rpm` packages. We need some class for this CLI with `main()` method (don't forget to define main method in `pom.xml`). It will be a wrapper for `Rpm` class. The syntax of this tool can be:
[code]
So there are some options, one command, and one (or more) required positional arguments.

Options are:
 - `naming-policy` - (optional, default `simpl

[2020-04-03 15:36] victornoel commented on #63
@g4s8 well, I guess I did refactor `Repomd` yesterday and write a test for `Repomd` for nothing, I will leave this task for someone else then, I don't want to start again the whole process of wrapping my head around `Rpm` and existing `RpmTest`.

@0crat refuse

[2020-04-03 15:37] 0crat commented on #63
Are you speaking to me or about me [here](https://github.com/artipie/rpm-adapter/issues/63#issuecomment-608510473); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-04-03 15:38] victornoel opened #69 "Delete Repomd and remove all existing job for it"
See https://github.com/artipie/rpm-adapter/issues/63#issuecomment-608502266.

[2020-04-03 15:38] 0crat commented on #69
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-03 15:40] victornoel commented on #63
@0crat refuse

[2020-04-03 15:43] g4s8 commented on #63
@victornoel ok, sorry, I forgot to refactor this module after the fix

[2020-04-03 15:44] 0pdd opened #70 "WithFilelists.java:34-37: Implement WithFilelists..."
The puzzle `17-f66e78ab` from #17 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/1ed50fc002326f2f35e79e96e03f746b10deccf9/src/main/java/com/artipie/rpm/WithFilelists.java#L34-L37

The puzzle was created by paulodamaso on 24-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-03 15:44] 0pdd commented on #17
@LuBan-Liu the puzzle [#70](https://github.com/artipie/rpm-adapter/issues/70) is still not solved.

[2020-04-03 15:46] 0crat commented on #70
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-03 15:46] yegor256 opened #71 "Why RepoUpdater?"
Can we rename class `RepoUpdater` to something more object-oriented? https://www.yegor256.com/2015/03/09/objects-end-with-er.html

[2020-04-03 15:46] 0crat commented on #71
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-03 15:54] 0crat commented on #63
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#63](https://github.com/artipie/rpm-adapter/issues/63), please stop working. Reason for job resignation: Order was cancelled

[2020-04-03 16:01] 0crat commented on #69
The job [#69](https://github.com/artipie/rpm-adapter/issues/69) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ea026959-2edd-4333-887c-e566c819b9e1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-03 16:08] 0crat commented on #63
@victornoel Job refused in 3 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-03 19:42] ammaratef45 commented on #61
@0crat wait for reviewing PR #64

[2020-04-05 17:06] ammaratef45 commented on #68
@0crat wait for the review for PR #72

[2020-04-07 02:43] paulodamaso commented on #17
@LuBan-Liu PR #42 was merged, please close the issue

[2020-04-08 13:25] olenagerasimova opened #73 "Update readme"
Examples in readme should be updated as `Rpm` is deprecated in favour to `RpmAbstraction.Base`.

Also please correct phrase about `Storage` implementation:

`Storage` from `artipie.asto` should be implemented.

[2020-04-08 13:25] 0crat commented on #73
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 13:29] 0crat commented on #73
The job [#73](https://github.com/artipie/rpm-adapter/issues/73) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d2d2e9f0-c3b4-4342-9337-ba996da453f9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-08 13:30] 0crat commented on #71
The job [#71](https://github.com/artipie/rpm-adapter/issues/71) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5ace811b-d637-4f68-bd2e-0e88df9c82b1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-08 17:29] #69 closed

[2020-04-08 17:29] #40 closed

[2020-04-08 17:29] 0pdd commented on #40
The puzzle `32-75a1be06` has disappeared from the source code, that's why I closed this issue.

[2020-04-08 17:29] #60 closed

[2020-04-08 17:29] 0pdd commented on #60
The puzzle `41-df9cd1a3` has disappeared from the source code, that's why I closed this issue.

[2020-04-08 17:29] #61 closed

[2020-04-08 17:29] 0pdd commented on #61
The puzzle `41-ab144851` has disappeared from the source code, that's why I closed this issue.

[2020-04-08 17:29] #70 closed

[2020-04-08 17:29] 0pdd commented on #70
The puzzle `17-f66e78ab` has disappeared from the source code, that's why I closed this issue.

[2020-04-08 17:29] 0pdd opened #75 "FilePackage.java:113-115: Create unit tests to verify..."
The puzzle `69-3c6bbf6c` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/pkg/FilePackage.java#L113-L115

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-04-08 17:29] 0pdd opened #76 "HeaderTags.java:33-34: Write javadocs for all these..."
The puzzle `69-5a24f18b` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/pkg/HeaderTags.java#L33-L34

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-04-08 17:29] 0pdd opened #77 "Package.java:49-50: This class has too many methods,..."
The puzzle `69-56010550` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/pkg/Package.java#L49-L50

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-04-08 17:29] 0pdd opened #78 "MetadataFile.java:45-46: Add a unit test for this class,..."
The puzzle `69-b66a2919` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/pkg/MetadataFile.java#L45-L46

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-04-08 17:30] 0pdd opened #79 "Rpm.java:67-71: Add option to exclude `filelists.xml`..."
The puzzle `69-a899429c` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/Rpm.java#L67-L71

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-04-08 17:30] 0pdd opened #80 "XmlOthers.java:53-55: Create a unit test to verify that..."
The puzzle `69-0165dd8a` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/meta/XmlOthers.java#L53-L55

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-04-08 17:30] 0pdd opened #81 "XmlOthers.java:168-170: Refactor XML classes. Each XML..."
The puzzle `69-30c26981` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/meta/XmlOthers.java#L168-L170

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-04-08 17:30] 0pdd opened #82 "XmlOthers.java:231-233: Implement changelog method. It's..."
The puzzle `69-43c6c36b` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/meta/XmlOthers.java#L231-L233

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-04-08 17:30] 0pdd opened #83 "XmlPrimary.java:58-60: Create a unit test to verify that..."
The puzzle `69-e192dc9a` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/meta/XmlPrimary.java#L58-L60

The puzzle was created by @g4s8 on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-04-08 17:30] 0crat commented on #81
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:30] 0pdd opened #84 "XmlFilelists.java:55-57: Create a unit test to verify..."
The puzzle `69-64696d73` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/main/java/com/artipie/rpm/meta/XmlFilelists.java#L55-L57

The puzzle was created by Kirill on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-04-08 17:30] 0pdd opened #85 "RpmITCase.java:41-48: I've checked that this test..."
The puzzle `69-ac25d152` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/test/java/com/artipie/rpm/RpmITCase.java#L41-L48

The puzzle was created by Kirill on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2020-04-08 17:30] 0pdd opened #86 "RpmITCase.java:49-52: This test is failing on Windows..."
The puzzle `69-20779ab6` from #69 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/493153a41dfc9dcae2bb43d8af290adf7d7acf47/src/test/java/com/artipie/rpm/RpmITCase.java#L49-L52

The puzzle was created by Kirill on 08-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2020-04-08 17:30] 0pdd commented on #30
@g4s8 all 2 puzzles are solved here: [#32](https://github.com/artipie/rpm-adapter/issues/32), [#40](https://github.com/artipie/rpm-adapter/issues/40).

[2020-04-08 17:30] 0pdd commented on #32
@0pdd the only puzzle [#40](https://github.com/artipie/rpm-adapter/issues/40) is solved here.

[2020-04-08 17:30] 0pdd commented on #29
@g4s8 all 3 puzzles are solved here: [#41](https://github.com/artipie/rpm-adapter/issues/41), [#60](https://github.com/artipie/rpm-adapter/issues/60), [#61](https://github.com/artipie/rpm-adapter/issues/61).

[2020-04-08 17:30] 0pdd commented on #41
@0pdd all 2 puzzles are solved here: [#60](https://github.com/artipie/rpm-adapter/issues/60), [#61](https://github.com/artipie/rpm-adapter/issues/61).

[2020-04-08 17:30] 0pdd commented on #17
@LuBan-Liu the only puzzle [#70](https://github.com/artipie/rpm-adapter/issues/70) is solved here.

[2020-04-08 17:31] 0pdd commented on #69
@victornoel 12 puzzles [#75](https://github.com/artipie/rpm-adapter/issues/75), [#76](https://github.com/artipie/rpm-adapter/issues/76), [#77](https://github.com/artipie/rpm-adapter/issues/77), [#78](https://github.com/artipie/rpm-adapter/issues/78), [#79](https://github.com/artipie/rpm-adapter/issues/79), [#80](https://github.com/artipie/rpm-adapter/issues/80), [#81](https://github.com/artipie/rp

[2020-04-08 17:31] 0crat commented on #80
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:31] 0crat commented on #79
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:31] 0crat commented on #78
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:32] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:32] 0crat commented on #76
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:32] g4s8 commented on #71
@yegor256 it should be fixed now: #74

[2020-04-08 17:32] 0crat commented on #75
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:34] #22 closed

[2020-04-08 17:37] 0crat commented on #86
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:37] 0crat commented on #85
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:37] #17 closed

[2020-04-08 17:37] 0crat commented on #84
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:38] 0crat commented on #83
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 17:38] 0crat commented on #82
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 18:00] 0crat commented on #70
Job `gh:artipie/rpm-adapter#70` is not assigned, can't get performer

[2020-04-08 18:10] 0crat commented on #17
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-08 18:13] 0crat commented on #61
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-08 18:14] 0crat commented on #60
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-08 18:14] 0crat commented on #40
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dgarus[/z](https://www.0crat.com/u/dgarus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-08 18:15] 0crat commented on #22
Job `gh:artipie/rpm-adapter#22` is not assigned, can't get performer

[2020-04-08 18:18] sereshqua commented on #17
@LuBan-Liu please make sure you start all your comments with the name of the user they are referred to, [see](https://github.com/artipie/rpm-adapter/issues/17#issuecomment-593302268) for instance

[2020-04-08 18:19] sereshqua commented on #61
@0crat quality good

[2020-04-08 18:19] sereshqua commented on #60
@0crat quality good

[2020-04-08 18:19] sereshqua commented on #40
@0crat quality good

[2020-04-08 19:24] 0crat commented on #85
The job [#85](https://github.com/artipie/rpm-adapter/issues/85) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/dee86f56-e6eb-4fca-bf47-b59cdb203e68); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-08 19:26] 0crat commented on #86
The job [#86](https://github.com/artipie/rpm-adapter/issues/86) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/02165ec8-0790-47e0-81af-0f95dde5b8d7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-08 19:34] 0crat commented on #84
The job [#84](https://github.com/artipie/rpm-adapter/issues/84) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/04fbd7cf-0026-4288-9380-732597788534); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-08 19:57] 0crat commented on #83
The job [#83](https://github.com/artipie/rpm-adapter/issues/83) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/839bb023-4173-41cd-b3aa-72675d5bdaa4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-08 20:27] 0crat commented on #81
The job [#81](https://github.com/artipie/rpm-adapter/issues/81) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5730d490-ef67-42b6-9706-a28fb63ee1ac); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-08 20:47] 0crat commented on #80
The job [#80](https://github.com/artipie/rpm-adapter/issues/80) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e2140fda-babd-4140-a242-e566e001f3ea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-08 20:48] 0crat commented on #79
The job [#79](https://github.com/artipie/rpm-adapter/issues/79) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/19aa11d3-da8a-4272-b68f-64f1115dc3f6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-08 20:57] 0crat commented on #78
The job [#78](https://github.com/artipie/rpm-adapter/issues/78) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/eda9f559-66a3-425f-a212-27aee3aaeed5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-09 08:22] 0crat commented on #13
Job [#13](https://github.com/artipie/rpm-adapter/issues/13) is already in scope

[2020-04-09 09:03] g4s8 opened #88 "OOM exception on update"
There're possible OOM error on updating with 200 RPM packages for JVM with 4GB heap.

[2020-04-09 09:04] 0crat commented on #88
The job [#88](https://github.com/artipie/rpm-adapter/issues/88) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3203fa3d-2caf-4d59-ab6d-1a1ce824ec44); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-09 11:39] g4s8 commented on #88
@rultor release, tag=`0.6`

[2020-04-09 11:40] rultor commented on #88
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21722-611482259)

[2020-04-09 11:48] rultor commented on #88
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21722-611482259) (took me 7min)

[2020-04-09 11:55] 0pdd opened #89 "Cli.java:83-87: start execution of the command you can..."
The puzzle `68-3d243175` from #68 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/16ab0ee456e65b3378f2a9e82840a5a73cf948e4/src/main/java/com/artipie/rpm/Cli.java#L83-L87

The puzzle was created by @ammaratef45 on 09-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2020-04-09 11:55] 0pdd commented on #68
@g4s8 the puzzle [#89](https://github.com/artipie/rpm-adapter/issues/89) is still not solved.

[2020-04-09 11:56] 0crat commented on #89
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-09 11:58] g4s8 commented on #68
@ammaratef45 done in #72

[2020-04-09 11:58] #68 closed

[2020-04-09 11:59] 0crat commented on #89
The job [#89](https://github.com/artipie/rpm-adapter/issues/89) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/58225798-5023-4cd9-be8b-7500b09bf56e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-09 12:20] 0crat commented on #68
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-09 12:23] sereshqua commented on #68
@0crat quality good

[2020-04-09 12:35] 0crat commented on #77
The job [#77](https://github.com/artipie/rpm-adapter/issues/77) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2d970be6-d8b9-4184-835f-513e768dd439); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-09 12:51] dgarus commented on #85
@0crat refuse

[2020-04-09 12:55] 0crat commented on #85
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#85](https://github.com/artipie/rpm-adapter/issues/85), please stop working. Reason for job resignation: Order was cancelled

[2020-04-09 12:56] 0crat commented on #85
@dgarus Job refused in 17 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-09 12:58] 0crat commented on #75
The job [#75](https://github.com/artipie/rpm-adapter/issues/75) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/06b7f013-510e-4529-aa6e-00febfe89ab9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-09 16:01] g4s8 commented on #88
Should be fixed

[2020-04-09 16:01] #88 closed

[2020-04-09 16:19] 0crat commented on #88
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-09 18:54] ammaratef45 commented on #78
@g4s8 in order to try the `accept` method I need to path a `Mata` object, the only implementation I found is the private class `Header` from `FilePackage.java`
What's the correct way to inject some test `Meta` objects?

[2020-04-09 19:05] sereshqua commented on #68
@0crat quality good

[2020-04-09 19:08] 0crat commented on #68
@sereshqua There is no quality review for [#68](https://github.com/artipie/rpm-adapter/issues/68), no performer

[2020-04-09 19:23] 0crat commented on #85
The job [#85](https://github.com/artipie/rpm-adapter/issues/85) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1d7ff39d-0836-40f3-9a2d-5be3c08597c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-09 19:34] 0crat commented on #82
@g4s8[/z](https://www.0crat.com/u/g4s8) not enough funds available in the project, can't set budget of job [#82](https://github.com/artipie/rpm-adapter/issues/82), see [§21](http://www.zerocracy.com/policy.html#21); @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-04-10 01:44] carlosmiranda commented on #77
@0crat refuse

[2020-04-10 01:52] 0crat commented on #77
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#77](https://github.com/artipie/rpm-adapter/issues/77), please stop working. Reason for job resignation: Order was cancelled

[2020-04-10 01:53] 0crat commented on #77
@carlosmiranda Job refused in 13 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-10 02:05] 0crat commented on #77
The job [#77](https://github.com/artipie/rpm-adapter/issues/77) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6c377c14-d046-48c6-a367-0f45d8aac2a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-10 03:05] ammaratef45 commented on #77
@0crat refuse

[2020-04-10 03:27] 0crat commented on #77
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#77](https://github.com/artipie/rpm-adapter/issues/77), please stop working. Reason for job resignation: Order was cancelled

[2020-04-10 03:28] 0crat commented on #77
@ammaratef45 Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-10 03:32] 0crat commented on #76
The job [#76](https://github.com/artipie/rpm-adapter/issues/76) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1bcaa522-bdd3-4ed7-81ec-ba76f5bfef83); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-10 06:47] g4s8 opened #92 "NoClassDefFounderror: org.cactoos.UncheckedScalar"
There is the dependency conflicts for `org.cactoos` classes.

[2020-04-10 06:53] 0crat commented on #92
The job [#92](https://github.com/artipie/rpm-adapter/issues/92) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c7588563-0009-4915-9bb2-8b7b17bb455f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-10 07:37] g4s8 commented on #92
@rultor release, tag=`0.6.1`

[2020-04-10 07:39] rultor commented on #92
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21733-611918925)

[2020-04-10 07:48] rultor commented on #92
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21733-611918925) (took me 9min)

[2020-04-10 08:00] g4s8 commented on #78
@ammaratef45 I'd create some custom Hamcrest matcher to verify `Meta` headers, e.g.:
[code]
and use it in tests like:
[code]

maybe you can find some better solution, like split output and matcher or create output matcher.

[2020-04-10 11:06] g4s8 commented on #92
@rultor release, tag=`0.6.2`

[2020-04-10 11:08] rultor commented on #92
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21733-611985984)

[2020-04-10 11:16] rultor commented on #92
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21733-611985984) (took me 7min)

[2020-04-10 13:28] 0crat commented on #13
The job [#13](https://github.com/artipie/rpm-adapter/issues/13) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b1d5c5ad-8dbf-4f45-b618-5834196cdccb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-10 14:21] sereshqua commented on #17
@LuBan-Liu ping

[2020-04-10 16:14] #92 closed

[2020-04-10 16:32] 0crat commented on #92
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-10 16:46] paulodamaso commented on #17
@sereshqua ping

[2020-04-10 17:19] sereshqua commented on #17
@paulodamaso still waiting for @LuBan-Liu 's response :)

[2020-04-10 20:23] ammaratef45 commented on #78
@g4s8 I've tried to figure it out but, apparently, I couldn't make it good enough. I'll learn from the solution then.

[2020-04-10 20:23] ammaratef45 commented on #78
@0crat refuse

[2020-04-10 20:24] 0crat commented on #78
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#78](https://github.com/artipie/rpm-adapter/issues/78), please stop working. Reason for job resignation: Order was cancelled

[2020-04-10 23:30] carlosmiranda commented on #13
@Sammers21 @g4s8 see PR #93

[2020-04-11 00:17] carlosmiranda commented on #86
@g4s8 see PR #94

[2020-04-11 04:22] paulodamaso commented on #17
@sereshqua Could you give your veredict on my work? This issue is preventing me from receiving other jobs

[2020-04-11 05:34] sereshqua commented on #17
@0crat quality acceptable

[2020-04-11 08:51] victornoel commented on #84
@0crat wait for #95 to be merged

[2020-04-11 09:21] victornoel commented on #83
@0crat wait for #86 to be merged

[2020-04-11 10:25] victornoel commented on #81
@0crat wait for #97 to be merged

[2020-04-11 12:27] victornoel commented on #79
@0crat refuse

[2020-04-11 12:27] victornoel commented on #85
@0crat refuse

[2020-04-11 12:32] 0crat commented on #79
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#79](https://github.com/artipie/rpm-adapter/issues/79), please stop working. Reason for job resignation: Order was cancelled

[2020-04-11 12:53] victornoel commented on #85
@0crat status

[2020-04-11 13:02] 0crat commented on #85
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#85](https://github.com/artipie/rpm-adapter/issues/85), please stop working. Reason for job resignation: Order was cancelled

[2020-04-11 13:02] 0crat commented on #85
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#85](https://github.com/artipie/rpm-adapter/issues/85) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2020-04-11 14:56] 0crat commented on #78
The job [#78](https://github.com/artipie/rpm-adapter/issues/78) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b4f1742f-1808-4589-a5e9-6abacb2c0249); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-11 14:57] 0crat commented on #77
The job [#77](https://github.com/artipie/rpm-adapter/issues/77) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/85ff9f6a-2c5a-42a6-a1c8-24cd8d253a76); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-11 15:16] victornoel opened #98 "Remove slf4j-log4j from classpath"
I noticed that rpm-adapter has slf4j-log4j in its test classpath, but it also has sl4f-simple.

Warnings appears during execution of tests:
[code]

As we can see, both are detected but only one used.

For simplicity concerns, I think we should just keep slf4j-simple as it is clearly enough for running tests.

[2020-04-11 15:16] 0crat commented on #98
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-11 15:23] victornoel opened #99 "MetadataFile, as a decorator of PackageOutput, should behave on close()"
Apparently `MetadataFile` does it's mean job during the call to `save()` but I believe it would simplify many things to:
- move this behaviour to `close()`
- pass the digest and naming strategy to its constructor

Like this, there will be no need to explicitly call save in `Repository`: the `repomd.xml` file would be updated as soon as the wrapped metadata file is closed.

Next step would then be

[2020-04-11 15:23] 0crat commented on #99
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-11 15:38] victornoel commented on #78
@0crat wait for #100 to be merged

[2020-04-11 15:43] victornoel commented on #77
@g4s8 what do you prefer?
- that `Meta` exposes a `Headers headrs()` method that exposes all the methods currently in `Meta` pertaining to headers
- that `Meta` exposes a `Header header(Header.HeaderTag tag)` method that exposes `asInt(int def)`, `asString(String def)`, `asInts`, etc

[2020-04-11 15:52] victornoel opened #101 "Bump junit to 5.6.2 to better support TempDir on Windows"
Many of our test fails on Windows, and in some case, it is caused by `TempDir` not succeeding in deleting a temporary directory used for test.

In particular I've seen https://github.com/junit-team/junit5/issues/2046, in:
- #95 #96 even though there are other problems related to #86 happening there too...
- #100 where it happens directly without reason

Latest version of junit should include the f

[2020-04-11 15:52] 0crat commented on #101
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-12 12:34] victornoel commented on #77
@g4s8 seeing how `FilePackage.Headers` is implemented, I think the second solution is better because we will be able to have a generic implementation for redline's rpm header like this.

[2020-04-12 13:46] victornoel commented on #77
@0crat wait for #102 to be merged

[2020-04-12 13:46] victornoel commented on #77
@g4s8 I went with this solution, see #102.

[2020-04-12 19:10] ammaratef45 commented on #80
@0crat wait for review of #87

[2020-04-12 19:11] ammaratef45 commented on #76
@0crat wait for #91 to be merged

[2020-04-13 01:33] 0crat commented on #85
The job [#85](https://github.com/artipie/rpm-adapter/issues/85) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8b5fe7d8-52a9-4989-9615-8286bb8924a6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-13 07:26] carlosmiranda commented on #86
@0crat refuse

[2020-04-13 07:27] carlosmiranda commented on #86
@g4s8 I give up on this. First of all, it seems to be strangely environment specific - I couldn't reproduce it locally even though I'm also on Windows. Then I've tried every fix and workaround and hack I can think of and nothing works on any of the Github Windows check builds.

[2020-04-13 07:31] 0crat commented on #86
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#86](https://github.com/artipie/rpm-adapter/issues/86), please stop working. Reason for job resignation: Order was cancelled

[2020-04-13 07:46] carlosmiranda commented on #13
@Sammers21 @g4s8 done in #93. May we close this now?

[2020-04-13 07:49] #76 closed

[2020-04-13 07:49] 0pdd commented on #76
The puzzle `69-5a24f18b` has disappeared from the source code, that's why I closed this issue.

[2020-04-13 07:49] 0pdd commented on #69
@victornoel 11 puzzles [#75](https://github.com/artipie/rpm-adapter/issues/75), [#77](https://github.com/artipie/rpm-adapter/issues/77), [#78](https://github.com/artipie/rpm-adapter/issues/78), [#79](https://github.com/artipie/rpm-adapter/issues/79), [#80](https://github.com/artipie/rpm-adapter/issues/80), [#81](https://github.com/artipie/rpm-adapter/issues/81), [#82](https://github.com/artipie/rp

[2020-04-13 07:55] g4s8 commented on #98
@victornoel thanks, it's fixed in https://github.com/artipie/rpm-adapter/commit/3375dd7b5210a882f70abd4d3f2b3745fd816f00

[2020-04-13 07:55] #98 closed

[2020-04-13 07:55] #71 closed

[2020-04-13 08:01] 0crat commented on #99
The job [#99](https://github.com/artipie/rpm-adapter/issues/99) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/de177591-2e5d-4dcd-bdd8-c43c17cc273b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-13 08:08] 0crat commented on #76
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-13 08:09] victornoel commented on #98
@g4s8 thx, just for my understanding, why keep slf4j-log4j?

[2020-04-13 08:12] 0crat commented on #98
Job `gh:artipie/rpm-adapter#98` is not assigned, can't get performer

[2020-04-13 08:21] 0crat commented on #101
The job [#101](https://github.com/artipie/rpm-adapter/issues/101) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f83958c7-f499-4dcc-a294-06d357d125b8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-13 08:59] sereshqua commented on #76
@0crat quality good

[2020-04-13 08:59] 0crat commented on #79
The job [#79](https://github.com/artipie/rpm-adapter/issues/79) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7d2db45c-eab1-4049-ab4c-431d6db012d4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-13 09:57] 0crat commented on #86
The job [#86](https://github.com/artipie/rpm-adapter/issues/86) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7c67d643-dcb0-4cf6-899a-3a70d549f0c7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-13 11:27] g4s8 commented on #98
@victornoel because it's configured the same way for all other projects (in parent `pom.xml`), so I don't think we need to use different implementation here

[2020-04-13 11:52] g4s8 commented on #13
@carlosmiranda thanks

[2020-04-13 11:52] #13 closed

[2020-04-13 12:08] victornoel commented on #98
@g4s8 ah yes, thx for the explanation

[2020-04-13 12:11] 0crat commented on #13
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-13 12:12] 0crat commented on #13
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.1](https://github.com/zerocracy/farm): CID: [833af633-049f-4bb0-8e80-d4faf84eccfa](https://www.0crat.com/footprint/CT2E6TK9B/833af633-049f-4bb0-8e80-d4faf84eccfa), Type: "Remove job from WBS"

[2020-04-13 12:13] #81 closed

[2020-04-13 12:13] 0pdd commented on #81
The puzzle `69-30c26981` has disappeared from the source code, that's why I closed this issue.

[2020-04-13 12:13] 0pdd opened #103 "XmlFile.java:49-51: Introduce an envelope for..."
The puzzle `81-827d5ef1` from #81 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/0ba3ae1b9ccca2f5985e4c939b06237d00c2dc7f/src/main/java/com/artipie/rpm/meta/XmlFile.java#L49-L51

The puzzle was created by Victor Noël on 11-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-04-13 12:13] 0pdd opened #104 "XmlFile.java:52-60: Introduce a new class named..."
The puzzle `81-27d531fb` from #81 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/0ba3ae1b9ccca2f5985e4c939b06237d00c2dc7f/src/main/java/com/artipie/rpm/meta/XmlFile.java#L52-L60

The puzzle was created by Victor Noël on 13-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-04-13 12:13] 0pdd opened #105 "XmlRepomd.java:43-51: Refactor this class so it uses..."
The puzzle `81-6d01bf6b` from #81 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/0ba3ae1b9ccca2f5985e4c939b06237d00c2dc7f/src/main/java/com/artipie/rpm/meta/XmlRepomd.java#L43-L51

The puzzle was created by Victor Noël on 11-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-13 12:13] 0pdd commented on #69
@victornoel 13 puzzles [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#75](https://github.com/artipie/rpm-adapter/issues/75), [#77](https://github.com/artipie/rpm-adapter/issues/77), [#78](https://github.com/artipie/rpm-adapter/issues/78), [#79](https://github.com/arti

[2020-04-13 12:13] 0pdd commented on #81
@0pdd 3 puzzles [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105) are still not solved.

[2020-04-13 12:14] 0crat commented on #105
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-13 12:14] 0crat commented on #104
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-13 12:15] 0crat commented on #103
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-13 12:33] 0crat commented on #81
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-13 12:37] sereshqua commented on #13
@0crat quality good

[2020-04-13 12:38] sereshqua commented on #81
@0crat quality good

[2020-04-13 14:25] #78 closed

[2020-04-13 14:25] 0pdd commented on #78
The puzzle `69-b66a2919` has disappeared from the source code, that's why I closed this issue.

[2020-04-13 14:25] 0pdd opened #106 "MetadataFileTest.java:43-47: This test has everything..."
The puzzle `78-ae125758` from #78 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/4ba66c2597bebf9ca6d84e7a7b3b74db9d1c1e47/src/test/java/com/artipie/rpm/pkg/MetadataFileTest.java#L43-L47

The puzzle was created by Victor Noël on 11-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-04-13 14:25] 0pdd commented on #69
@victornoel 13 puzzles [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#75](https://github.com/artipie/rpm-adapter/issues/75), [#77](https://github.com/artipie/rpm-adapter/issues/77), [#79](https://github.com/ar

[2020-04-13 14:25] 0pdd commented on #78
@0pdd the puzzle [#106](https://github.com/artipie/rpm-adapter/issues/106) is still not solved.

[2020-04-13 14:35] ammaratef45 commented on #86
@0crat refuse

[2020-04-13 14:53] 0crat commented on #86
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#86](https://github.com/artipie/rpm-adapter/issues/86), please stop working. Reason for job resignation: Order was cancelled

[2020-04-13 14:53] 0crat commented on #86
@ammaratef45 Job refused in 5 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-13 15:18] olenagerasimova commented on #101
@g4s8 should not be update junit version in parent pom instead of updating it only in this project?

[2020-04-13 16:07] 0crat commented on #103
The job [#103](https://github.com/artipie/rpm-adapter/issues/103) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9b9dba9f-c99f-46bf-b629-281db738fb52); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-13 16:08] 0crat commented on #104
The job [#104](https://github.com/artipie/rpm-adapter/issues/104) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fbdc3f2b-9fb6-46b5-9923-6104b72335d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-13 16:10] g4s8 commented on #101
@olenagerasimova correct, I updated junit in parent pom and released `0.3.1`

[2020-04-13 16:13] victornoel commented on #78
@0crat status

[2020-04-13 16:15] 0crat commented on #78
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#78](https://github.com/artipie/rpm-adapter/issues/78) is [in scope](http://www.zerocracy.com/policy.html#14) for 5days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [2days](http://www.zerocracy.com/policy.html#8

[2020-04-13 16:25] victornoel commented on #78
@g4s8 0crat didn't noticed the issue was closed, what should be done to trigger it?

[2020-04-13 16:26] #84 closed

[2020-04-13 16:26] 0pdd commented on #84
The puzzle `69-64696d73` has disappeared from the source code, that's why I closed this issue.

[2020-04-13 16:26] 0pdd opened #107 "XmlFilelistsTest.java:38-42: This test only creates a..."
The puzzle `84-f98fbe90` from #84 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/319f59902602559d29450c83141ec583fb71106c/src/test/java/com/artipie/rpm/meta/XmlFilelistsTest.java#L38-L42

The puzzle was created by Victor Noël on 11-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-04-13 16:26] 0pdd commented on #69
@victornoel 13 puzzles [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#75](https://github.com/artipie/rpm-adapter/issues/75), [#77](https://github.com/

[2020-04-13 16:26] 0pdd commented on #84
@0pdd the puzzle [#107](https://github.com/artipie/rpm-adapter/issues/107) is still not solved.

[2020-04-13 16:27] 0crat commented on #107
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-13 16:42] olenagerasimova commented on #101
@g4s8 thanks, I've updated parent pom version in PR #108

[2020-04-13 16:55] 0crat commented on #84
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-13 18:42] sereshqua commented on #84
@0crat quality good

[2020-04-14 00:38] ammaratef45 commented on #104
@g4s8 can I get an example of the result file or information about its structure?

[2020-04-14 02:31] carlosmiranda commented on #85
@0crat refuse

[2020-04-14 02:57] 0crat commented on #85
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#85](https://github.com/artipie/rpm-adapter/issues/85), please stop working. Reason for job resignation: Order was cancelled

[2020-04-14 06:33] g4s8 opened #110 "Meaningful error on broken package"
Verify that `Rpm.batchUpdate()` throws meaningful error if any of `.rpm` package is broken (not readable). The broken package for test can be created by writing arbitrary data into a file (e.g. `0x00,0x01,0x02`). If exception message will not be clear, then re-throw this exception with understandable message, like `RPM package "package.rpm" is broken, can't be read`.

[2020-04-14 06:44] g4s8 opened #111 "Integration test with more packages"
Create an integration test with at least 200 RPM packages

[2020-04-14 06:45] 0crat commented on #111
The job [#111](https://github.com/artipie/rpm-adapter/issues/111) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/14a6ab5d-5947-49d6-a542-39e95daa1f28); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-14 12:19] g4s8 commented on #104
@ammaratef45 there are few example files in test resources: `others.xml.example`, `primary.xml.example`, `filelists.xml.example`

[2020-04-14 12:45] 0crat commented on #75
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-14 13:16] olenagerasimova commented on #101
@victornoel we've updated junit. Could you please close this issue?

[2020-04-14 13:20] victornoel commented on #101
@olenagerasimova thx!

[2020-04-14 13:20] #101 closed

[2020-04-14 14:07] 0crat commented on #101
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-14 14:11] 0crat commented on #101
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-14 14:13] sereshqua commented on #101
@0crat quality good

[2020-04-14 16:21] 0crat commented on #86
The job [#86](https://github.com/artipie/rpm-adapter/issues/86) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/30580c8e-832a-487e-8339-366d94b7bfc7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-14 16:31] #89 closed

[2020-04-14 16:31] 0pdd commented on #89
The puzzle `68-3d243175` has disappeared from the source code, that's why I closed this issue.

[2020-04-14 16:31] 0pdd opened #113 "Cli.java:41-43: Cli options are not parsed correctly...."
The puzzle `89-bf69222b` from #89 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/e4f69bb51920538f71e265de91566883b675d2eb/src/main/java/com/artipie/rpm/Cli.java#L41-L43

The puzzle was created by @g4s8 on 09-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-04-14 16:31] 0pdd opened #114 "Cli.java:65-67: Refactor options parsing. Extract the..."
The puzzle `89-d55308e3` from #89 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/e4f69bb51920538f71e265de91566883b675d2eb/src/main/java/com/artipie/rpm/Cli.java#L65-L67

The puzzle was created by @g4s8 on 13-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-04-14 16:31] 0pdd commented on #68
@g4s8 2 puzzles [#113](https://github.com/artipie/rpm-adapter/issues/113), [#114](https://github.com/artipie/rpm-adapter/issues/114) are still not solved; solved: [#89](https://github.com/artipie/rpm-adapter/issues/89).

[2020-04-14 16:31] 0pdd commented on #89
@0pdd 2 puzzles [#113](https://github.com/artipie/rpm-adapter/issues/113), [#114](https://github.com/artipie/rpm-adapter/issues/114) are still not solved.

[2020-04-14 16:32] 0crat commented on #114
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-14 16:33] 0crat commented on #113
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-14 17:17] 0crat commented on #105
The job [#105](https://github.com/artipie/rpm-adapter/issues/105) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1250ecd3-9e30-493e-b061-3c0d6cb222fd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-14 18:03] victornoel commented on #78
@g4s8 please can you look at that and notify 0crat to go on with the process?

[2020-04-14 18:37] victornoel commented on #86
@0crat wait for #115 to be merged

[2020-04-14 18:37] victornoel commented on #86
@carlosmiranda the file wasn't properly closed before the move happened on it. But the ATOMIC thing was also a good idea I believe, so I left it.

[2020-04-14 19:16] victornoel commented on #105
@g4s8 this is not easy at all... do you know if you will tackle #99 soon?

I think waiting for the choices you will make there is going to be safer before tackling this one...

[2020-04-14 19:45] 0crat commented on #82
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-15 00:02] ammaratef45 commented on #82
@0crat status

[2020-04-15 01:16] 0crat commented on #82
@ammaratef45 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#82](https://github.com/artipie/rpm-adapter/issues/82) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) for [5days](http://www.zerocracy.com/policy.htm

[2020-04-15 01:31] carlosmiranda commented on #75
@0crat refuse

[2020-04-15 01:33] 0crat commented on #75
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#75](https://github.com/artipie/rpm-adapter/issues/75), please stop working. Reason for job resignation: Order was cancelled

[2020-04-15 02:12] carlosmiranda commented on #86
@victornoel good job. I did try to put the file input/output streams in try-with-resources too but my solution didn't work for some reason.

[2020-04-15 07:57] g4s8 commented on #105
@victornoel ok, let's wait for #99

[2020-04-15 08:08] victornoel commented on #105
@0crat wait for #99 to be done first

[2020-04-15 11:35] victornoel commented on #86
@carlosmiranda shame on me, I simply forgot to remove the `DisabledOnOs` annotation, actually the problem is not fixed ^^

[2020-04-15 12:08] g4s8 opened #116 "Thread blocked error on 1000 RPM repository"
When running `Rpm.batchUpdate()` for repository with >=1000 RPM packages, it throws an exception:
[code]

[2020-04-15 12:10] 0crat commented on #116
The job [#116](https://github.com/artipie/rpm-adapter/issues/116) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/19533bd4-d582-41e9-9e8e-0b35de991bc8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-15 12:11] g4s8 commented on #78
@0crat out

[2020-04-15 12:13] 0crat commented on #78
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-15 12:14] #83 closed

[2020-04-15 12:14] 0pdd commented on #83
The puzzle `69-e192dc9a` has disappeared from the source code, that's why I closed this issue.

[2020-04-15 12:14] 0pdd opened #117 "XmlPrimaryTest.java:38-42: This test only creates a..."
The puzzle `83-a430163f` from #83 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/e6cf7df9d5ef191d731aa21afd79ef6bb514e484/src/test/java/com/artipie/rpm/meta/XmlPrimaryTest.java#L38-L42

The puzzle was created by Victor Noël on 11-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-04-15 12:14] 0pdd commented on #69
@victornoel 13 puzzles [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#75](https://github.co

[2020-04-15 12:14] 0pdd commented on #83
@0pdd the puzzle [#117](https://github.com/artipie/rpm-adapter/issues/117) is still not solved.

[2020-04-15 12:16] victornoel commented on #86
@carlosmiranda finally found the solution: closing an xmlwriterstream does not close the underlying stream :|

[2020-04-15 12:16] 0crat commented on #117
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-15 12:22] #77 closed

[2020-04-15 12:22] 0pdd commented on #77
The puzzle `69-56010550` has disappeared from the source code, that's why I closed this issue.

[2020-04-15 12:22] 0pdd commented on #69
@victornoel 12 puzzles [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#75](https://github.co

[2020-04-15 12:34] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.2](https://github.com/zerocracy/farm): CID: [aad77234-4f50-46cc-87af-f6f51f683ab8](https://www.0crat.com/footprint/CT2E6TK9B/aad77234-4f50-46cc-87af-f6f51f683ab8), Type: "Finish order"

[2020-04-15 12:35] 0crat commented on #83
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-15 12:58] 0crat commented on #77
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-15 13:08] 0crat commented on #83
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-15 13:41] sereshqua commented on #78
@0crat quality good

[2020-04-15 13:47] sereshqua commented on #83
@0crat quality good

[2020-04-15 13:49] sereshqua commented on #77
@0crat quality good

[2020-04-15 16:27] g4s8 opened #120 "Download RPM test packages before integration tests"
Download RPM packages from the file list before running `RpmITCase` (this test is enabled with `longTests` profile) and put it to storage used by `generatesMetadata()` test method instead of resolving built-in resources.

The URL for downloading is: http://mirror.centos.org/centos/7/os/x86_64/Packages/ just add rpm file name to URL, e.g. http://mirror.centos.org/centos/7/os/x86_64/Packages/cups-fi

[2020-04-15 16:28] g4s8 commented on #116
@rultor release, tag=`0.6.3`

[2020-04-15 16:30] rultor commented on #116
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21786-614142403)

[2020-04-15 16:40] rultor commented on #116
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21786-614142403) (took me 9min)

[2020-04-16 06:55] g4s8 commented on #116
Fixed and released

[2020-04-16 06:55] #116 closed

[2020-04-16 06:59] #86 closed

[2020-04-16 06:59] 0pdd commented on #86
The puzzle `69-20779ab6` has disappeared from the source code, that's why I closed this issue.

[2020-04-16 06:59] 0pdd commented on #69
@victornoel 11 puzzles [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#75](https://github.co

[2020-04-16 07:19] 0crat commented on #116
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-16 07:20] 0crat commented on #86
Job was finished in 38 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-16 07:21] 0crat commented on #86
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-16 08:29] sereshqua commented on #86
@0crat quality good

[2020-04-16 11:16] g4s8 opened #121 "HTTP repository API for download"
Add repository API for download

[2020-04-16 11:19] 0crat commented on #121
The job [#121](https://github.com/artipie/rpm-adapter/issues/121) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5aa534ef-5814-473e-beda-228f489ea4af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-16 11:57] g4s8 commented on #121
@rultor release, tag=`0.7`

[2020-04-16 11:59] rultor commented on #121
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21792-614607178)

[2020-04-16 12:07] rultor commented on #121
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21792-614607178) (took me 7min)

[2020-04-16 14:10] g4s8 opened #123 "Add CLI jar to release assets on tag"
Create new GitHub action to build [CLI RPM tool](https://github.com/artipie/rpm-adapter#cli) on release GitHub event and upload target `target/rpm-adapter.jar` to release assets similar to https://github.com/artipie/white-paper/blob/master/.github/workflows/build-latex.yml#L28

[2020-04-16 14:12] 0crat commented on #123
The job [#123](https://github.com/artipie/rpm-adapter/issues/123) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7c4b5dd2-cd56-4c9d-84d1-64449fa62051); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-16 14:47] g4s8 opened #124 "Update metadata for changed packages only"
Currently, RPM `batchUpdate` methods works this way:
 - create new metadata files (`primary.xml`, `filelists.xml` , `others.xml`)
 - download RPM files from storage
 - extract metadata for each RPM
 - update new metadata files with package metadata by appending RPM metadata to the end of XML stream writer
 - close metadata files, update main `repomd.xml` file and replace old metadata files with ne

[2020-04-16 15:04] 0crat commented on #124
The job [#124](https://github.com/artipie/rpm-adapter/issues/124) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/48356e07-38f5-4253-a3da-4fb3938dc8cf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-16 15:52] g4s8 opened #125 "Wrong checksums"
RPM adapter generates wrong checksums:
[code]

[2020-04-16 15:57] 0crat commented on #125
The job [#125](https://github.com/artipie/rpm-adapter/issues/125) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/66d10a63-9774-4e2a-966f-a3b7396b3dd6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-17 05:33] g4s8 commented on #125
@rultor release, tag=`0.7.1`

[2020-04-17 05:35] rultor commented on #125
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21798-615051834)

[2020-04-17 05:47] rultor commented on #125
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21798-615051834) (took me 10min)

[2020-04-17 07:08] g4s8 commented on #125
Fixed

[2020-04-17 07:08] #125 closed

[2020-04-17 07:14] #123 closed

[2020-04-17 07:17] g4s8 commented on #123
@rultor release, tag=`0.7.2`

[2020-04-17 07:25] 0crat commented on #125
Job was finished in 15 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-17 07:32] 0crat commented on #123
Job was finished in 17 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-17 07:33] 0crat commented on #123
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-17 07:34] rultor commented on #123
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21801-615085683)

[2020-04-17 07:42] rultor commented on #123
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21801-615085683) (took me 8min)

[2020-04-17 07:53] sereshqua commented on #123
@0crat quality good

[2020-04-17 18:42] ammaratef45 commented on #104
@g4s8 classes like `XmlFilelists` and `XmlOthers` have their own inner classes called package and due to this refactoring, `startPackage` can't return a Package and stay universal among them.
should I add a puzzle to refactor this to a universal class instead of inner classes?

[2020-04-17 18:49] ammaratef45 commented on #82
@0crat refuse

[2020-04-17 20:24] 0crat commented on #82
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#82](https://github.com/artipie/rpm-adapter/issues/82), please stop working. Reason for job resignation: Order was cancelled

[2020-04-18 10:34] 0crat commented on #79
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-18 18:40] 0crat commented on #104
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-18 18:57] 0crat commented on #103
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-18 19:16] g4s8 commented on #104
@ammaratef45 I don't think it's a good idea. These inner classes have to be different since they produce different file specific data. If I understood correctly this puzzle #104, it's about creating common behavior to generate the start of XML document, count the number of packages (all 3 metadata files counts packages), and update this counter XML attribute on end. @victornoel please fix me if I'

[2020-04-18 19:17] 0pdd commented on #103
The puzzle `81-827d5ef1` has disappeared from the source code, that's why I closed this issue.

[2020-04-18 19:17] #103 closed

[2020-04-18 19:17] 0pdd commented on #69
@victornoel 10 puzzles [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#75](https://github.com/artipie/rpm-adapter/issues/75), [#79](https://github.com/

[2020-04-18 19:17] 0pdd commented on #81
@0pdd 2 puzzles [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105) are still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/103).

[2020-04-18 19:21] victornoel commented on #104
@g4s8 @ammaratef45 yes, that was the idea.

I was thinking that `XmlFilelists`, `XmlPrimary` and `XmlOthers` would continue to expose the same behaviour as before without changes to their contract. Instead, their implementations would rely on `XmlPackagesFile`for the common behaviour, including opening and closing the xml for each packages as well as counting them.

If it's not doable in practice

[2020-04-18 19:25] victornoel opened #128 "XmlWriterWrap should be abstract and have final methods"
I see XmlWriterWrap was introduced in #109.

I believe that envelopes should be abstract and have all their methods be final : that would allow for removing the `DesignForExtensionCheck` suppression from checkstyle. It exists for good reasons, it is dangerous to use inheritance, but it is way safer when one can't override inherited behaviour.

Also it should be abstract because as a good rule, cla

[2020-04-18 19:25] 0crat commented on #128
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-18 19:28] victornoel commented on #128
@g4s8 also I'm in favour of naming it `XMLStreamWriterEnvelope` to reflect both the interface it envelopes and the fact it is an envelope.

[2020-04-18 20:40] 0crat commented on #103
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-18 20:41] sereshqua commented on #103
@0crat quality good

[2020-04-19 03:39] carlosmiranda commented on #79
@0crat wait for merge of #119.

[2020-04-19 03:39] carlosmiranda commented on #79
@0crat wait for merge of #119

[2020-04-19 04:07] 0crat commented on #79
@carlosmiranda Job [#79](https://github.com/artipie/rpm-adapter/issues/79) is already on hold

[2020-04-20 13:55] #79 closed

[2020-04-20 13:55] 0pdd commented on #79
The puzzle `69-a899429c` has disappeared from the source code, that's why I closed this issue.

[2020-04-20 13:55] #80 closed

[2020-04-20 13:55] 0pdd commented on #80
The puzzle `69-0165dd8a` has disappeared from the source code, that's why I closed this issue.

[2020-04-20 13:55] 0pdd opened #129 "Cli.java:68-69: Right now Rpm always includes filelists -..."
The puzzle `79-4e9f7178` from #79 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/3e5cdb7f84634189781bc08d9312edc6c695dfdd/src/main/java/com/artipie/rpm/Cli.java#L68-L69

The puzzle was created by @g4s8 on 20-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-04-20 13:56] 0pdd opened #130 "XmlOthersTest.java:39-41: add another test for adding a..."
The puzzle `80-4f54b460` from #80 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/3e5cdb7f84634189781bc08d9312edc6c695dfdd/src/test/java/com/artipie/rpm/meta/XmlOthersTest.java#L39-L41

The puzzle was created by Kirill on 20-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-20 13:56] 0pdd commented on #69
@victornoel 10 puzzles [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#129](https://github.com/artipie/rpm-adapter/issues/129), [#130](https://github.c

[2020-04-20 13:56] 0pdd commented on #79
@0pdd the puzzle [#129](https://github.com/artipie/rpm-adapter/issues/129) is still not solved.

[2020-04-20 13:56] 0pdd commented on #80
@0pdd the puzzle [#130](https://github.com/artipie/rpm-adapter/issues/130) is still not solved.

[2020-04-20 13:57] 0crat commented on #130
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-20 13:58] 0crat commented on #129
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-20 14:17] 0crat commented on #79
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-20 14:18] 0crat commented on #80
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [6e25719f-b10e-4a0e-a2c4-8675806a9dec](https://www.0crat.com/footprint/CT2E6TK9B/6e25719f-b10e-4a0e-a2c4-8675806a9dec), Type: "Remove job from WBS"

[2020-04-20 14:18] sereshqua commented on #79
@0crat quality good

[2020-04-20 14:19] 0crat commented on #79
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [399dfd90-3d9c-47e3-a54c-6c167de0c8b3](https://www.0crat.com/footprint/CT2E6TK9B/399dfd90-3d9c-47e3-a54c-6c167de0c8b3), Type: "Complete QA review"

[2020-04-20 14:19] #121 closed

[2020-04-20 14:19] 0crat commented on #129
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [e7326c26-56ec-48b8-baf3-f4f70a824005](https://www.0crat.com/footprint/CT2E6TK9B/e7326c26-56ec-48b8-baf3-f4f70a824005), Type: "Add job to WBS"

[2020-04-20 14:43] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [f3aa7cf1-5a98-4482-b508-2df3719aa307](https://www.0crat.com/footprint/CT2E6TK9B/f3aa7cf1-5a98-4482-b508-2df3719aa307), Type: "Finish order"

[2020-04-20 15:06] ammaratef45 commented on #104
@0crat refuse

[2020-04-20 15:09] 0crat commented on #104
@ammaratef45 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [6b132591-9d8a-4c0d-9403-84645adeaf41](https://www.0crat.com/footprint/CT2E6TK9B/6b132591-9d8a-4c0d-9403-84645adeaf41), Type: "Cancel order"

[2020-04-20 15:10] ammaratef45 commented on #104
@g4s8 the reason I gave up on the task is that I was working on it doing something different than what's needed

[2020-04-20 15:10] ammaratef45 commented on #104
@0crat status

[2020-04-20 15:11] 0crat commented on #104
@ammaratef45 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [1c9ee4c5-f6d0-4a02-bc5a-d3b1fcfa9846](https://www.0crat.com/footprint/CT2E6TK9B/1c9ee4c5-f6d0-4a02-bc5a-d3b1fcfa9846), Type: "Check job status"

[2020-04-20 15:27] ammaratef45 commented on #80
@g4s8 something is wrong with 0crat?

[2020-04-20 15:52] g4s8 commented on #80
@0crat status

[2020-04-20 15:58] 0crat commented on #80
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#80](https://github.com/artipie/rpm-adapter/issues/80) is [in scope](http://www.zerocracy.com/policy.html#14) for 12days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are bann

[2020-04-20 16:09] g4s8 commented on #121
@0crat status

[2020-04-20 16:09] g4s8 commented on #80
@0crat out

[2020-04-20 16:10] 0crat commented on #121
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [97fd141d-1a52-4cc5-a44a-34293a5b2012](https://www.0crat.com/footprint/CT2E6TK9B/97fd141d-1a52-4cc5-a44a-34293a5b2012), Type: "Check job status"

[2020-04-20 16:11] 0crat commented on #80
@g4s8 Job `gh:artipie/rpm-adapter#80` is not assigned, can't get performer

[2020-04-20 16:11] 0crat commented on #80
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [621105ae-8673-4f29-abb3-67f6fc4446cf](https://www.0crat.com/footprint/CT2E6TK9B/621105ae-8673-4f29-abb3-67f6fc4446cf), Type: "Remove job from WBS"

[2020-04-20 16:28] 0crat commented on #129
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [9e40df0d-14a2-43f8-81fd-076b3b1e0736](https://www.0crat.com/footprint/CT2E6TK9B/9e40df0d-14a2-43f8-81fd-076b3b1e0736), Type: "Add job to WBS"

[2020-04-20 17:31] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [75758f7f-378c-4f77-9e71-2be94acfd9cf](https://www.0crat.com/footprint/CT2E6TK9B/75758f7f-378c-4f77-9e71-2be94acfd9cf), Type: "Start order"

[2020-04-20 18:33] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [a4c9eee0-69c1-45f0-b656-dcddcd5316ff](https://www.0crat.com/footprint/CT2E6TK9B/a4c9eee0-69c1-45f0-b656-dcddcd5316ff), Type: "Start order"

[2020-04-20 18:45] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [e377a4a1-d84a-4660-add6-29d48eaeb1ee](https://www.0crat.com/footprint/CT2E6TK9B/e377a4a1-d84a-4660-add6-29d48eaeb1ee), Type: "Start order"

[2020-04-20 18:56] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [777446f1-f799-4143-8813-8e7fd030ef68](https://www.0crat.com/footprint/CT2E6TK9B/777446f1-f799-4143-8813-8e7fd030ef68), Type: "Start order"

[2020-04-20 19:55] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [f1701d16-0459-4b1d-a5f6-6f156de0196d](https://www.0crat.com/footprint/CT2E6TK9B/f1701d16-0459-4b1d-a5f6-6f156de0196d), Type: "Start order"

[2020-04-20 20:01] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [637cb141-0121-4436-91fd-6cb3dee7724c](https://www.0crat.com/footprint/CT2E6TK9B/637cb141-0121-4436-91fd-6cb3dee7724c), Type: "Start order"

[2020-04-20 20:01] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [79e2dd59-4552-482c-9c6e-b468d2050c95](https://www.0crat.com/footprint/CT2E6TK9B/79e2dd59-4552-482c-9c6e-b468d2050c95), Type: "Start order"

[2020-04-20 20:02] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [82785887-942c-4e09-a79b-7d73099ddda7](https://www.0crat.com/footprint/CT2E6TK9B/82785887-942c-4e09-a79b-7d73099ddda7), Type: "Cancel order"

[2020-04-20 20:15] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [19a21ea6-0d33-49bd-a08f-f8148a8f8313](https://www.0crat.com/footprint/CT2E6TK9B/19a21ea6-0d33-49bd-a08f-f8148a8f8313), Type: "Cancel order"

[2020-04-20 20:16] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [47ad1188-f767-42ed-9e44-ee5f9eca40b7](https://www.0crat.com/footprint/CT2E6TK9B/47ad1188-f767-42ed-9e44-ee5f9eca40b7), Type: "Start order"

[2020-04-20 20:17] victornoel commented on #83
@g4s8 see here for example

[2020-04-20 20:17] victornoel commented on #85
@g4s8 this one seems blocked in a loop or whatever...

[2020-04-20 20:23] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [7c2d70b4-421e-417c-8f3c-17a357615a45](https://www.0crat.com/footprint/CT2E6TK9B/7c2d70b4-421e-417c-8f3c-17a357615a45), Type: "Cancel order"

[2020-04-20 20:35] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [1c70ec68-35b9-4576-a198-ccc334c17598](https://www.0crat.com/footprint/CT2E6TK9B/1c70ec68-35b9-4576-a198-ccc334c17598), Type: "Cancel order"

[2020-04-20 20:50] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [5755bc1f-2374-4023-b8a9-1984eae7042c](https://www.0crat.com/footprint/CT2E6TK9B/5755bc1f-2374-4023-b8a9-1984eae7042c), Type: "Cancel order"

[2020-04-20 20:51] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [1ac2c086-9405-4cf5-9cd1-3d7b268f9534](https://www.0crat.com/footprint/CT2E6TK9B/1ac2c086-9405-4cf5-9cd1-3d7b268f9534), Type: "Start order"

[2020-04-20 20:51] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [5db0c3eb-b284-45bf-8e57-d561685c993b](https://www.0crat.com/footprint/CT2E6TK9B/5db0c3eb-b284-45bf-8e57-d561685c993b), Type: "Cancel order"

[2020-04-20 21:05] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [86fa8a39-a10b-4eab-a7da-adb2fa9c1d3c](https://www.0crat.com/footprint/CT2E6TK9B/86fa8a39-a10b-4eab-a7da-adb2fa9c1d3c), Type: "Cancel order"

[2020-04-20 21:20] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [ef4d4f04-876a-4df6-8ac6-e770121acc7c](https://www.0crat.com/footprint/CT2E6TK9B/ef4d4f04-876a-4df6-8ac6-e770121acc7c), Type: "Cancel order"

[2020-04-20 21:33] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [34f07b6f-d7e3-4d9c-bea9-f3e26665d18e](https://www.0crat.com/footprint/CT2E6TK9B/34f07b6f-d7e3-4d9c-bea9-f3e26665d18e), Type: "Cancel order"

[2020-04-20 21:33] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [9996e06f-3c92-47e4-8dc9-43f3f253df2e](https://www.0crat.com/footprint/CT2E6TK9B/9996e06f-3c92-47e4-8dc9-43f3f253df2e), Type: "Start order"

[2020-04-20 21:48] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [4a2e3998-a075-4f0c-811a-4bf5b57d9b84](https://www.0crat.com/footprint/CT2E6TK9B/4a2e3998-a075-4f0c-811a-4bf5b57d9b84), Type: "Cancel order"

[2020-04-20 21:57] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [be046518-9aea-4e5b-8beb-97b33b7b74ef](https://www.0crat.com/footprint/CT2E6TK9B/be046518-9aea-4e5b-8beb-97b33b7b74ef), Type: "Cancel order"

[2020-04-20 21:57] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [11664fc8-7d19-451c-8a1c-895ae0360be2](https://www.0crat.com/footprint/CT2E6TK9B/11664fc8-7d19-451c-8a1c-895ae0360be2), Type: "Start order"

[2020-04-20 22:19] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [88952a22-ea3f-4663-b1ee-42e4ad6c20bb](https://www.0crat.com/footprint/CT2E6TK9B/88952a22-ea3f-4663-b1ee-42e4ad6c20bb), Type: "Cancel order"

[2020-04-20 22:27] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [4f9ab9c5-27a4-4f3d-bac8-0e6abd65a28e](https://www.0crat.com/footprint/CT2E6TK9B/4f9ab9c5-27a4-4f3d-bac8-0e6abd65a28e), Type: "Cancel order"

[2020-04-20 22:28] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [d5856cca-1b31-4b5f-a074-43fcc9aea637](https://www.0crat.com/footprint/CT2E6TK9B/d5856cca-1b31-4b5f-a074-43fcc9aea637), Type: "Start order"

[2020-04-20 22:33] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.7](https://github.com/zerocracy/farm): CID: [3de0d374-d117-446c-84a4-7143cf5fa11a](https://www.0crat.com/footprint/CT2E6TK9B/3de0d374-d117-446c-84a4-7143cf5fa11a), Type: "Start order"

[2020-04-20 23:36] carlosmiranda commented on #79
@0crat status

[2020-04-21 00:41] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [ee0276d5-0394-4944-b6b2-b0c44c69513e](https://www.0crat.com/footprint/CT2E6TK9B/ee0276d5-0394-4944-b6b2-b0c44c69513e), Type: "Start order"

[2020-04-21 00:49] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [7de9daef-7218-4474-b6ab-e32ae80f9ec1](https://www.0crat.com/footprint/CT2E6TK9B/7de9daef-7218-4474-b6ab-e32ae80f9ec1), Type: "Start order"

[2020-04-21 01:51] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [b422f1ed-8591-45a3-9227-de24b4f23084](https://www.0crat.com/footprint/CT2E6TK9B/b422f1ed-8591-45a3-9227-de24b4f23084), Type: "Start order"

[2020-04-21 04:03] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [476c986e-682e-457b-b8ee-09ff109985f0](https://www.0crat.com/footprint/CT2E6TK9B/476c986e-682e-457b-b8ee-09ff109985f0), Type: "Start order"

[2020-04-21 05:33] sereshqua commented on #79
@0crat quality good

[2020-04-21 05:34] 0crat commented on #79
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [51ad6b85-abf7-4e5e-bebe-fdcc6f73fc12](https://www.0crat.com/footprint/CT2E6TK9B/51ad6b85-abf7-4e5e-bebe-fdcc6f73fc12), Type: "Complete QA review"

[2020-04-21 06:29] victornoel commented on #83
@0crat wait

[2020-04-21 06:30] victornoel commented on #83
@0crat out

[2020-04-21 06:30] victornoel commented on #83
@0crat refuse

[2020-04-21 06:31] 0crat commented on #83
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [c98c1bfc-4985-4008-99f4-2ae61738ffd1](https://www.0crat.com/footprint/CT2E6TK9B/c98c1bfc-4985-4008-99f4-2ae61738ffd1), Type: "Register impediment"

[2020-04-21 06:31] 0crat commented on #83
@victornoel[/z](https://www.0crat.com/u/victornoel) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2020-04-21 06:32] 0crat commented on #83
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [e43366ea-45c2-4f81-a3cd-6fd2e59adc3f](https://www.0crat.com/footprint/CT2E6TK9B/e43366ea-45c2-4f81-a3cd-6fd2e59adc3f), Type: "Cancel order"

[2020-04-21 06:32] 0crat commented on #83
@victornoel Job [#83](https://github.com/artipie/rpm-adapter/issues/83) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't set title

[2020-04-21 06:33] victornoel commented on #83
@0crat status

[2020-04-21 06:53] 0crat commented on #83
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [3281d8a6-99c8-445e-bb36-05dca91de955](https://www.0crat.com/footprint/CT2E6TK9B/3281d8a6-99c8-445e-bb36-05dca91de955), Type: "Check job status"

[2020-04-21 06:55] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [f8829f6e-7cb1-417b-9d28-9352f73f5bca](https://www.0crat.com/footprint/CT2E6TK9B/f8829f6e-7cb1-417b-9d28-9352f73f5bca), Type: "Cancel order"

[2020-04-21 06:56] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [0cf42f28-a61c-4a35-b393-3c213e92d9a6](https://www.0crat.com/footprint/CT2E6TK9B/0cf42f28-a61c-4a35-b393-3c213e92d9a6), Type: "Start order"

[2020-04-21 07:20] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [7161a1d5-e66a-46a2-ac58-82d6322a3e01](https://www.0crat.com/footprint/CT2E6TK9B/7161a1d5-e66a-46a2-ac58-82d6322a3e01), Type: "Cancel order"

[2020-04-21 07:22] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [c39db8e8-1498-4058-8298-4012f9d02dbb](https://www.0crat.com/footprint/CT2E6TK9B/c39db8e8-1498-4058-8298-4012f9d02dbb), Type: "Cancel order"

[2020-04-21 08:58] 0crat commented on #83
The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#83](https://github.com/artipie/rpm-adapter/issues/83), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-21 09:23] 0crat commented on #83
Job `gh:artipie/rpm-adapter#83` is not assigned, can't get performer

[2020-04-21 10:03] g4s8 commented on #79
@0crat pay 35min @carlosmiranda

[2020-04-21 11:59] g4s8 commented on #83
@0crat pay 35min @victornoel

[2020-04-21 12:37] HDouss commented on #85
@0crat status

[2020-04-21 12:47] 0crat commented on #85
@HDouss This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#85](https://github.com/artipie/rpm-adapter/issues/85) is [in scope](http://www.zerocracy.com/policy.html#14) for 13days
  * The role is `DEV`
  * The job is assigned to @hdouss[/z](https://www.0crat.com/u/hdouss) for [4hr](http://www.zerocracy.com/policy.html#8)
  * There i

[2020-04-21 13:07] HDouss commented on #85
@0crat refuse, this test does not seem to work. There isn't even a dir called "rpms" in resources or classpath in general.

[2020-04-21 13:09] HDouss opened #132 "RpmITCase depends on an inexistent folder"
`RpmITCase` test relies on a classpath folder named "rpms", but the project does not have such a folder.

[2020-04-21 13:09] 0crat commented on #132
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 13:09] 0crat commented on #85
@HDouss Can't understand "refuse,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `elect` Trigger election for ticket
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Revi

[2020-04-21 13:14] HDouss commented on #85
@0crat refuse This test does not seem to work. There isn't even a dir called "rpms" in resources or classpath in general.

[2020-04-21 13:16] 0crat commented on #85
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#85](https://github.com/artipie/rpm-adapter/issues/85), please stop working. Reason for job resignation: Order was cancelled

[2020-04-21 13:17] 0crat commented on #85
@HDouss Job refused in 4 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-21 14:26] sereshqua commented on #79
@0crat quality good

[2020-04-21 17:21] HDouss opened #133 "RpmITCase is not running on Github Actions workflow"
Due to `it.longtests.enabled` system property that should be equal to true for RpmITCase, we should add a system property in the workflow definition file `maven.yml`, so the methods in that test got executed. For now, the build succeeds without running those tests.

[2020-04-21 17:21] 0crat commented on #133
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 23:52] 0crat commented on #83
The job [#83](https://github.com/artipie/rpm-adapter/issues/83) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4630f304-6526-4733-9c38-65c1b1655c4c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-21 23:53] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-21 23:53] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-21 23:54] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-21 23:55] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-21 23:56] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-21 23:57] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-21 23:58] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-21 23:59] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-22 00:00] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-22 00:01] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.10](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#83, Action: `created`

[2020-04-22 06:08] 0crat commented on #80
The job [#80](https://github.com/artipie/rpm-adapter/issues/80) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2256f3f7-2f9b-4e35-abd2-6416ce84a248); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-22 07:33] artemlazarev opened #134 "add container to docker registry with "latest" tag"
In the documentation we have description with container "latest"? but at the dockerhub that container are absent.

[2020-04-22 10:13] 0pdd opened #135 "FilelistsOutput.java:36-38: Modify this class and..."
The puzzle `124-5bce57f2` from #124 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/bab36bf10c263f5316c53ac1cb335d4b3289aad2/src/main/java/com/artipie/rpm/pkg/FilelistsOutput.java#L36-L38

The puzzle was created by @g4s8 on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-04-22 10:13] 0pdd opened #136 "OthersOutput.java:36-38: Modify this class and XmlOthers..."
The puzzle `124-3102e87b` from #124 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/bab36bf10c263f5316c53ac1cb335d4b3289aad2/src/main/java/com/artipie/rpm/pkg/OthersOutput.java#L36-L38

The puzzle was created by @g4s8 on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-04-22 10:14] 0pdd opened #137 "ModifiableMetadata.java:52-56: Implement this method to..."
The puzzle `124-752857bc` from #124 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/bab36bf10c263f5316c53ac1cb335d4b3289aad2/src/main/java/com/artipie/rpm/pkg/ModifiableMetadata.java#L52-L56

The puzzle was created by @g4s8 on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-04-22 10:14] 0pdd opened #138 "PrimaryOutput.java:36-38: Modify this class and..."
The puzzle `124-6b3b1cde` from #124 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/bab36bf10c263f5316c53ac1cb335d4b3289aad2/src/main/java/com/artipie/rpm/pkg/PrimaryOutput.java#L36-L38

The puzzle was created by @g4s8 on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-22 10:14] 0pdd commented on #124
@g4s8 4 puzzles [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [#137](https://github.com/artipie/rpm-adapter/issues/137), [#138](https://github.com/artipie/rpm-adapter/issues/138) are still not solved.

[2020-04-22 11:01] #134 closed

[2020-04-22 11:03] artemlazarev commented on #134
issue for the main project artipie project. I am made mistake while opening.

[2020-04-23 03:21] carlosmiranda commented on #83
@0crat refuse

[2020-04-23 05:51] olenagerasimova commented on #124
@g4s8 please close this issue, we are working on puzzles now

[2020-04-23 06:49] olenagerasimova commented on #136
@g4s8 please assign me

[2020-04-23 06:49] olenagerasimova commented on #135
@g4s8 please assign me

[2020-04-23 07:35] #124 closed

[2020-04-23 08:09] carlosmiranda commented on #80
@0crat refuse

[2020-04-23 08:56] 0crat commented on #80
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#80](https://github.com/artipie/rpm-adapter/issues/80), please stop working. Reason for job resignation: Order was cancelled

[2020-04-23 09:00] 0crat commented on #83
@carlosmiranda Job `gh:artipie/rpm-adapter#83` is not assigned, can't get performer

[2020-04-23 09:12] g4s8 commented on #79
@0crat status

[2020-04-23 09:14] 0crat commented on #79
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#79](https://github.com/artipie/rpm-adapter/issues/79) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%2379%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-04-23 09:23] g4s8 commented on #83
@0crat status

[2020-04-23 09:25] 0crat commented on #83
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#83](https://github.com/artipie/rpm-adapter/issues/83) is not in scope
  * The job is waiting quality review verdict by @sereshqua[/z](https://www.0crat.com/u/sereshqua) for 1days
  * @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) will receive 35 minutes after quali

[2020-04-23 09:33] g4s8 commented on #83
@0crat refuse

[2020-04-23 09:33] g4s8 commented on #83
@0crat out

[2020-04-23 09:43] g4s8 commented on #135
@0crat assign @olenagerasimova

[2020-04-23 09:43] g4s8 commented on #136
@0crat assign @olenagerasimova

[2020-04-23 12:12] sereshqua commented on #83
@0crat quality good

[2020-04-23 12:24] 0crat commented on #83
@g4s8 Job `gh:artipie/rpm-adapter#83` is not assigned, can't get performer

[2020-04-23 12:41] g4s8 commented on #121
@0crat status

[2020-04-23 12:59] 0crat commented on #83
@g4s8 Job `gh:artipie/rpm-adapter#83` is not assigned, can't get performer

[2020-04-23 13:55] 0crat commented on #137
The job [#137](https://github.com/artipie/rpm-adapter/issues/137) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9d66bcc1-ea0f-4835-9927-abc51584569a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-23 14:10] 0crat commented on #136
@g4s8 The job [#136](https://github.com/artipie/rpm-adapter/issues/136) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/43a4cbe1-6f0f-4681-b36c-3c2f72e4d304); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2020-04-23 14:12] 0crat commented on #135
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.11](https://github.com/zerocracy/farm): CID: [e2db8bc8-7892-4a7e-9e1b-316b985d0cd9](https://www.0crat.com/footprint/CT2E6TK9B/e2db8bc8-7892-4a7e-9e1b-316b985d0cd9), Type: "Job was added to WBS"

[2020-04-23 14:42] 0crat commented on #121
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#121](https://github.com/artipie/rpm-adapter/issues/121) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [7days](http://www.zerocracy.com/policy.html#8)
  * There is n

[2020-04-23 14:43] 0crat commented on #135
@g4s8 The job [#135](https://github.com/artipie/rpm-adapter/issues/135) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9ef6e28c-a503-4605-a345-e24d2255d64e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zero

[2020-04-23 16:19] 0crat commented on #104
The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#104](https://github.com/artipie/rpm-adapter/issues/104), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-23 22:56] 0crat commented on #85
The job [#85](https://github.com/artipie/rpm-adapter/issues/85) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7a6522b6-2dc1-4e9e-84c4-9f4cb7f3da16); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-24 01:12] 0crat commented on #80
The job [#80](https://github.com/artipie/rpm-adapter/issues/80) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f0f6a205-5c26-4d65-9dcf-f8972b0680b2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-24 01:13] 0crat commented on #80
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.12](https://github.com/zerocracy/farm): CID: [06f7badb-3724-4503-b0a8-06659b57b133](https://www.0crat.com/footprint/CT2E6TK9B/06f7badb-3724-4503-b0a8-06659b57b133), Type: "Order was given"

[2020-04-24 01:55] 0crat commented on #75
The job [#75](https://github.com/artipie/rpm-adapter/issues/75) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/11ee32e3-6f2a-4a8c-b791-8bd40f6a3f70); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-24 02:55] 0crat commented on #82
The job [#82](https://github.com/artipie/rpm-adapter/issues/82) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8f785d83-c283-46d2-8837-3f33d4192f9d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-24 08:28] HDouss commented on #133
@g4s8 ping

[2020-04-24 08:51] 0crat commented on #63
The job [#63](https://github.com/artipie/rpm-adapter/issues/63) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2c19fef1-b325-44ee-8b3a-6a367906da51); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-24 09:53] 0crat commented on #104
The job [#104](https://github.com/artipie/rpm-adapter/issues/104) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e6f724c6-a9a2-4aee-b6d8-3bdd339bfc0b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-04-24 10:24] HDouss commented on #63
@0crat refuse

[2020-04-24 10:25] 0crat commented on #63
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#63](https://github.com/artipie/rpm-adapter/issues/63), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 10:25] 0crat commented on #63
@HDouss Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 10:30] olenagerasimova commented on #124
@0crat status

[2020-04-24 10:32] 0crat commented on #124
@olenagerasimova This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#124](https://github.com/artipie/rpm-adapter/issues/124) is [in scope](http://www.zerocracy.com/policy.html#14) for 8days
  * The role is `DEV`
  * The job is assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) for [8days](http://www.zerocracy.

[2020-04-24 10:35] g4s8 commented on #124
@0crat out

[2020-04-24 10:37] g4s8 commented on #133
@HDouss let's wait for #120 to be resolved first

[2020-04-24 10:38] #138 closed

[2020-04-24 10:38] 0pdd commented on #138
The puzzle `124-6b3b1cde` has disappeared from the source code, that's why I closed this issue.

[2020-04-24 10:38] 0pdd opened #141 "PrimaryOutput.java:36-37: Make this class be able to work..."
The puzzle `138-e82cce42` from #138 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/1e9e4fb1419e4c21c94ab7ccecedbe4b157297cb/src/main/java/com/artipie/rpm/pkg/PrimaryOutput.java#L36-L37

The puzzle was created by olenagerasimova on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-04-24 10:38] 0pdd commented on #124
@g4s8 4 puzzles [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [#137](https://github.com/artipie/rpm-adapter/issues/137), [#141](https://github.com/artipie/rpm-adapter/issues/141) are still not solved; solved: [#138](https://github.com/artipie/rpm-adapter/issues/138).

[2020-04-24 10:38] 0pdd commented on #138
@0pdd the puzzle [#141](https://github.com/artipie/rpm-adapter/issues/141) is still not solved.

[2020-04-24 10:39] 0crat commented on #141
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 10:52] 0crat commented on #124
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-24 10:53] 0crat commented on #110
The job [#110](https://github.com/artipie/rpm-adapter/issues/110) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/071200cf-0ce8-4d4b-a90d-32f64337ed9b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-04-24 10:57] 0crat commented on #138
Job `gh:artipie/rpm-adapter#138` is not assigned, can't get performer

[2020-04-24 11:02] sereshqua commented on #124
@0crat quality goood

[2020-04-24 11:04] 0crat commented on #124
@sereshqua Argument "goood" doesn't match regex `good|bad|acceptable`

[2020-04-24 11:14] 0crat commented on #141
The job [#141](https://github.com/artipie/rpm-adapter/issues/141) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f882b274-e467-43f4-91e6-26d9d6e3186a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-24 11:59] sereshqua commented on #124
@0crat quality good

[2020-04-24 13:53] 0crat commented on #117
The job [#117](https://github.com/artipie/rpm-adapter/issues/117) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/23cfde48-faab-463a-a285-982ecc65ede9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-04-24 14:06] HDouss commented on #117
@0crat refuse

[2020-04-24 14:06] HDouss commented on #110
@0crat refuse

[2020-04-24 14:07] 0crat commented on #117
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#117](https://github.com/artipie/rpm-adapter/issues/117), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 14:08] 0crat commented on #117
@HDouss Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 14:08] 0crat commented on #110
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#110](https://github.com/artipie/rpm-adapter/issues/110), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 14:08] 0crat commented on #110
@HDouss Job refused in 3 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 14:44] #135 closed

[2020-04-24 14:44] 0pdd commented on #135
The puzzle `124-5bce57f2` has disappeared from the source code, that's why I closed this issue.

[2020-04-24 14:45] #136 closed

[2020-04-24 14:45] 0pdd commented on #136
The puzzle `124-3102e87b` has disappeared from the source code, that's why I closed this issue.

[2020-04-24 14:45] 0pdd opened #143 "FilelistsOutput.java:36-37: Make this class be able to..."
The puzzle `136-9d5dbc04` from #136 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/c9a3f638160b551b59710d9231a510f57a58ae4e/src/main/java/com/artipie/rpm/pkg/FilelistsOutput.java#L36-L37

The puzzle was created by olenagerasimova on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-04-24 14:45] 0pdd opened #144 "XmlMaid.java:44-47: We need to use this interface to..."
The puzzle `136-d4e1ea38` from #136 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/c9a3f638160b551b59710d9231a510f57a58ae4e/src/main/java/com/artipie/rpm/meta/XmlMaid.java#L44-L47

The puzzle was created by olenagerasimova on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-04-24 14:45] 0pdd opened #145 "OthersOutput.java:36-37: Make this class be able to work..."
The puzzle `124-dbdcc472` from #124 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/c9a3f638160b551b59710d9231a510f57a58ae4e/src/main/java/com/artipie/rpm/pkg/OthersOutput.java#L36-L37

The puzzle was created by olenagerasimova on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-04-24 14:45] 0pdd commented on #124
@g4s8 5 puzzles [#137](https://github.com/artipie/rpm-adapter/issues/137), [#141](https://github.com/artipie/rpm-adapter/issues/141), [#143](https://github.com/artipie/rpm-adapter/issues/143), [#144](https://github.com/artipie/rpm-adapter/issues/144), [#145](https://github.com/artipie/rpm-adapter/issues/145) are still not solved; solved: [#135](https://github.com/artipie/rpm-adapter/issues/135), [

[2020-04-24 14:45] 0pdd commented on #136
@0pdd 2 puzzles [#143](https://github.com/artipie/rpm-adapter/issues/143), [#144](https://github.com/artipie/rpm-adapter/issues/144) are still not solved.

[2020-04-24 14:46] 0crat commented on #145
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 14:46] 0crat commented on #144
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 14:46] 0crat commented on #143
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 14:49] 0crat commented on #145
The job [#145](https://github.com/artipie/rpm-adapter/issues/145) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9e8d5f32-2388-40f1-b540-841cf0f01fae); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-24 14:50] 0crat commented on #144
The job [#144](https://github.com/artipie/rpm-adapter/issues/144) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fd50f2ac-d907-47bd-a993-9f2d4410949d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-24 14:50] 0crat commented on #143
The job [#143](https://github.com/artipie/rpm-adapter/issues/143) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5685ce8c-612c-49b3-95fd-12347c7b6a13); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-24 14:59] g4s8 commented on #121
@0crat out

[2020-04-24 15:02] 0crat commented on #136
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-24 15:02] 0crat commented on #136
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-24 15:04] 0crat commented on #135
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-24 15:05] 0crat commented on #135
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-24 15:15] sereshqua commented on #136
@0crat quality good

[2020-04-24 15:16] sereshqua commented on #135
@0crat quality good

[2020-04-24 15:50] 0crat commented on #120
The job [#120](https://github.com/artipie/rpm-adapter/issues/120) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/abc5ae80-1f02-44b6-bf97-de51c3faed78); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-04-24 15:50] 0crat commented on #120
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @hdouss[/z](https://www.0crat.com/u/hdouss) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 16:52] 0crat commented on #110
The job [#110](https://github.com/artipie/rpm-adapter/issues/110) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b1016653-d155-4a4a-96ae-5723114a7f06); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-24 17:14] olenagerasimova commented on #120
@HDouss hm, yesterday this issue was assigned to me and I'm submitting PR...

[2020-04-24 20:30] HDouss commented on #120
@olenagerasimova Ok. I will refuse the task

[2020-04-24 20:30] HDouss commented on #120
@0crat refuse

[2020-04-24 20:49] ammaratef45 commented on #80
@g4s8 This task needs should be out of scope, right?

[2020-04-24 20:50] ammaratef45 commented on #75
@0crat refuse

[2020-04-24 20:51] 0crat commented on #120
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#120](https://github.com/artipie/rpm-adapter/issues/120), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 20:51] 0crat commented on #120
@HDouss Job refused in 4 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 20:52] 0crat commented on #75
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#75](https://github.com/artipie/rpm-adapter/issues/75), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 20:52] 0crat commented on #75
@ammaratef45 Job refused in 19 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 21:01] ammaratef45 commented on #110
@0crat refuse

[2020-04-24 21:06] 0crat commented on #110
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#110](https://github.com/artipie/rpm-adapter/issues/110), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 21:06] 0crat commented on #110
@ammaratef45 Job refused in 4 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 21:52] 0crat commented on #75
The job [#75](https://github.com/artipie/rpm-adapter/issues/75) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1ce42361-931c-4acd-a208-10de4a091748); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-24 22:35] HDouss commented on #75
@0crat refuse

[2020-04-24 22:51] 0crat commented on #75
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#75](https://github.com/artipie/rpm-adapter/issues/75), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 22:52] 0crat commented on #75
@HDouss Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 22:53] 0crat commented on #63
The job [#63](https://github.com/artipie/rpm-adapter/issues/63) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d78d94af-e09e-41aa-b43b-485bc0586697); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-25 00:52] 0crat commented on #117
The job [#117](https://github.com/artipie/rpm-adapter/issues/117) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1c7be8c2-b091-40c7-99f5-2c80a7ad88ad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-25 01:52] 0crat commented on #120
The job [#120](https://github.com/artipie/rpm-adapter/issues/120) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6b1b2c75-9aee-4616-890d-47a57d215d9e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-25 06:50] olenagerasimova commented on #120
@g4s8 please, can you help as here? I've submitted PR for this issue, but 0crat is still assigning this job.

[2020-04-25 13:51] 0crat commented on #110
The job [#110](https://github.com/artipie/rpm-adapter/issues/110) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e3521e8e-cd59-48d0-9746-aa9c1cf968d5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-04-25 15:00] ammaratef45 commented on #120
@0crat refuse

[2020-04-25 15:52] 0crat commented on #120
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#120](https://github.com/artipie/rpm-adapter/issues/120), please stop working. Reason for job resignation: Order was cancelled

[2020-04-25 15:52] 0crat commented on #120
@ammaratef45 Job refused in 14 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-25 20:42] 0crat commented on #75
The job [#75](https://github.com/artipie/rpm-adapter/issues/75) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0aee2b6f-aa80-49fd-9f0a-fd6ba9daadfe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-26 00:27] 0crat commented on #80
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-26 00:27] 0crat commented on #80
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-26 01:06] paulodamaso commented on #85
@g4s8 This test doesn't work:
[code]

[2020-04-26 01:08] paulodamaso commented on #63
@g4s8 `RpmITCase` is very confused and doesn't work. We need it working before thinking in improving it

[2020-04-26 04:53] sereshqua commented on #80
@0crat quality good

[2020-04-26 08:22] victornoel commented on #75
@g4s8 I have two questions on this task:
- what is the meaning of testing size or checksum when it corresponds to copypasting the content of the checksum and size method in a test file? Aren't there more useful things to do? Maybe testing directly FilePackage would make more sense, no?
- what is header range? I don't see anything related to that in the class or interface behaviour

[2020-04-27 05:48] carlosmiranda commented on #82
@0crat refuse

[2020-04-27 05:56] 0crat commented on #82
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#82](https://github.com/artipie/rpm-adapter/issues/82), please stop working. Reason for job resignation: Order was cancelled

[2020-04-27 06:08] carlosmiranda commented on #110
@0crat refuse

[2020-04-27 06:30] 0crat commented on #110
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#110](https://github.com/artipie/rpm-adapter/issues/110), please stop working. Reason for job resignation: Order was cancelled

[2020-04-27 06:37] #104 closed

[2020-04-27 06:37] 0pdd commented on #104
The puzzle `81-27d531fb` has disappeared from the source code, that's why I closed this issue.

[2020-04-27 06:37] 0pdd opened #147 "XmlPackagesFile.java:36-38: XmlPackagesFile is now used..."
The puzzle `104-6e11be90` from #104 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/5d752473212a8c8ed959fdf97bd73ee9a040a923/src/main/java/com/artipie/rpm/meta/XmlPackagesFile.java#L36-L38

The puzzle was created by Kirill on 27-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-04-27 06:38] 0pdd commented on #69
@victornoel 10 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#129](https://github.com/artipie/rpm-adapter/issues/129), [#130](https://github.com/artipie/rpm-adapter/issues/130), [#147](https://github.c

[2020-04-27 06:38] 0pdd commented on #81
@0pdd 2 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#147](https://github.com/artipie/rpm-adapter/issues/147) are still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104).

[2020-04-27 06:38] 0pdd commented on #104
@0pdd the puzzle [#147](https://github.com/artipie/rpm-adapter/issues/147) is still not solved.

[2020-04-27 06:39] 0crat commented on #147
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-27 06:44] 0crat commented on #82
The job [#82](https://github.com/artipie/rpm-adapter/issues/82) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9fc04645-9203-478a-9fb1-758817f3f40d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-27 06:57] 0crat commented on #104
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-27 07:49] g4s8 commented on #75
@victornoel yes, your suggestions makes sense. This ticket is about verifying metadata parsing from RPM packages and increase coverage for that, since this part is one of the most central point in the logic.

[2020-04-27 08:08] HDouss commented on #82
@0crat refuse

[2020-04-27 08:09] 0crat commented on #82
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#82](https://github.com/artipie/rpm-adapter/issues/82), please stop working. Reason for job resignation: Order was cancelled

[2020-04-27 08:09] 0crat commented on #82
@HDouss Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-27 08:41] sereshqua commented on #104
@0crat quality good

[2020-04-27 12:56] g4s8 opened #148 "Run parallel"
Run metadata parsers for `batchUpdate` in parallel depending on CPU count.

[2020-04-27 12:57] 0crat commented on #148
The job [#148](https://github.com/artipie/rpm-adapter/issues/148) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ca2d9be5-7a89-4f30-93e6-797c73ee8291); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-27 16:44] 0crat commented on #120
The job [#120](https://github.com/artipie/rpm-adapter/issues/120) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/50327952-69ae-479e-b707-f070688f7af6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-27 17:44] 0crat commented on #82
The job [#82](https://github.com/artipie/rpm-adapter/issues/82) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e91d8f6a-f8c6-4ea7-8c6e-dc3af0d131e7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-27 18:15] jeffzhu503 commented on #124
What are the performance data for this scenario: "It works very slow for huge repositories (>1000 RPM packages) when only few packages added (or updated/deleted). We need to filter out packages which was not changed and update only fresh packages." ? Shall we publish the data in Github wiki page?

[2020-04-27 20:44] 0crat commented on #147
The job [#147](https://github.com/artipie/rpm-adapter/issues/147) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c831ba61-58c4-4452-b4e7-c658950bacd1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-04-28 01:43] 0crat commented on #110
The job [#110](https://github.com/artipie/rpm-adapter/issues/110) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a7799f06-679e-472a-a555-f96db73542ba); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-28 06:24] carlosmiranda commented on #147
@0crat refuse

[2020-04-28 06:31] 0crat commented on #147
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#147](https://github.com/artipie/rpm-adapter/issues/147), please stop working. Reason for job resignation: Order was cancelled

[2020-04-28 06:31] 0crat commented on #147
@carlosmiranda Job refused in 9 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-28 06:56] g4s8 commented on #148
@rultor release, tag=`0.8`

[2020-04-28 06:57] rultor commented on #148
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21906-620418392)

[2020-04-28 07:03] rultor commented on #148
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21906-620418392) (spent 5min)

[code]

[2020-04-28 07:13] 0pdd opened #151 "DownloadBundle.java:39-40: Create test for this class and..."
The puzzle `120-b9c4d61d` from #120 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/fef8ecbb34f39a598e735b91b89096f349810e9a/src/test/java/com/artipie/rpm/files/DownloadBundle.java#L39-L40

The puzzle was created by olenagerasimova on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2020-04-28 07:14] 0pdd commented on #120
@g4s8 the puzzle [#151](https://github.com/artipie/rpm-adapter/issues/151) is still not solved.

[2020-04-28 07:14] g4s8 commented on #148
@rultor release, tag=`0.8`

[2020-04-28 07:16] rultor commented on #148
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21906-620425678)

[2020-04-28 07:25] rultor commented on #148
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21906-620425678) (spent 9min)

[code]

[2020-04-28 07:31] g4s8 commented on #148
@rultor release, tag=`0.8`

[2020-04-28 07:34] rultor commented on #148
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21906-620433412)

[2020-04-28 07:43] rultor commented on #148
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21906-620433412) (took me 8min)

[2020-04-28 08:38] victornoel commented on #75
@0crat wait for #152 to be merged

[2020-04-28 08:38] victornoel commented on #75
@g4s8 see #152, I added a todo there to convey this intention :)

[2020-04-28 10:17] 0crat commented on #151
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-28 11:33] 0crat commented on #151
The job [#151](https://github.com/artipie/rpm-adapter/issues/151) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/10f0472c-e1c1-4950-9666-f24b35053553); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-28 12:47] 0crat commented on #137
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-28 13:07] olenagerasimova commented on #120
@g4s8 please close issue, #146 was merged

[2020-04-28 13:17] g4s8 commented on #120
@olenagerasimova thanks

[2020-04-28 13:17] #120 closed

[2020-04-28 13:34] 0crat commented on #120
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))