[2020-04-28 13:35] 0crat commented on #120
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-28 13:35] 0crat commented on #120
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): CID: [3ff1cb7f-fb80-4778-b0dd-aa7896a7821e](https://www.0crat.com/footprint/CT2E6TK9B/3ff1cb7f-fb80-4778-b0dd-aa7896a7821e), Type: "Remove job from WBS"

[2020-04-28 13:51] g4s8 commented on #63
It's working now, see https://github.com/artipie/rpm-adapter/pull/153

[2020-04-28 14:30] sereshqua commented on #120
@0crat quality good

[2020-04-28 23:47] 0crat commented on #85
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 06:58] 0pdd commented on #151
The puzzle `120-b9c4d61d` has disappeared from the source code, that's why I closed this issue.

[2020-04-29 06:58] #151 closed

[2020-04-29 06:58] 0pdd commented on #120
@g4s8 the only puzzle [#151](https://github.com/artipie/rpm-adapter/issues/151) is solved here.

[2020-04-29 06:59] g4s8 commented on #85
@paulodamaso the test was fixed in https://github.com/artipie/rpm-adapter/pull/153 (to speed up it locally, you can use `HUNDRED` bundle instead of `THOUSAND`, see enums in test)

[2020-04-29 07:17] 0crat commented on #151
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-29 11:46] 0crat commented on #141
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 12:22] 0pdd opened #154 "FilePackage.java:50-55: Create tests to validate that..."
The puzzle `75-9baf1976` from #75 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/46cfe60d098397ca4391e012d03c39a317698be7/src/main/java/com/artipie/rpm/pkg/FilePackage.java#L50-L55

The puzzle was created by Victor Noël on 28-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-04-29 12:22] 0pdd opened #155 "FilePackageHeadersTest.java:38-42: Transform the..."
The puzzle `75-58eafec8` from #75 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/46cfe60d098397ca4391e012d03c39a317698be7/src/test/java/com/artipie/rpm/pkg/FilePackageHeadersTest.java#L38-L42

The puzzle was created by Victor Noël on 28-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2020-04-29 12:22] 0pdd commented on #69
@victornoel 11 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#129](https://github.com/artipie/rpm-adapter/issues/129), [#130](https://github.com/artipie/rpm-adapter/issues/130), [#147](https://github.c

[2020-04-29 12:22] 0pdd commented on #75
@0pdd 2 puzzles [#154](https://github.com/artipie/rpm-adapter/issues/154), [#155](https://github.com/artipie/rpm-adapter/issues/155) are still not solved.

[2020-04-29 12:23] 0crat commented on #155
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-29 12:23] 0crat commented on #154
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-29 12:47] 0crat commented on #75
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-29 13:16] sereshqua commented on #75
@0crat quality good

[2020-04-29 16:08] 0crat commented on #145
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 16:08] 0crat commented on #143
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 16:08] 0crat commented on #144
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 16:21] ammaratef45 commented on #117
@0crat wait for merging #156

[2020-04-30 01:45] 0crat commented on #63
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-30 01:47] 0crat commented on #147
The job [#147](https://github.com/artipie/rpm-adapter/issues/147) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/407ede69-06c8-491f-8d45-1410c3f0e458); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-30 05:59] ammaratef45 commented on #147
@0crat refuse

[2020-04-30 06:45] 0crat commented on #147
@ammaratef45 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): CID: [e4259317-45a2-4559-8af5-df05d985629d](https://www.0crat.com/footprint/CT2E6TK9B/e4259317-45a2-4559-8af5-df05d985629d), Type: "Cancel order"

[2020-04-30 14:55] ammaratef45 commented on #147
@0crat status

[2020-04-30 15:06] 0crat commented on #147
@ammaratef45 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#147](https://github.com/artipie/rpm-adapter/issues/147) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) for [13hr](http://www.zerocracy.com/policy.ht

[2020-04-30 15:14] ammaratef45 commented on #147
@0crat refuse

[2020-04-30 15:16] 0crat commented on #147
@ammaratef45 Job refused in 13 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-30 20:46] 0crat commented on #147
The job [#147](https://github.com/artipie/rpm-adapter/issues/147) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0189448a-0cf1-4532-aff2-3e9971055ceb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-01 02:35] paulodamaso commented on #63
@g4s8 I'm implementing the third case. How can add packages to the repository programatically so I can add a broken package to it?

[2020-05-01 03:20] paulodamaso commented on #63
@0crat wait for #158 review

[2020-05-01 09:54] victornoel opened #159 "There is something wrong with XmlPackagesFile behaviour"
I am working on #147 and I noticed that `XmlPackagesFile` is counting the number of packages but never write it down at the end.

In the past there was a method called `XmlFile.alterTag` that was responsible of writing down this information but it seems that it was removed.

At the same time, I can see that `ModifiableMetadata` seems to be writing the number of packages into some files.

Also I ca

[2020-05-01 09:54] 0crat commented on #159
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-01 10:15] victornoel commented on #147
@0crat wait for #160 to be merged

[2020-05-01 10:17] victornoel opened #161 "CI is all broken"
Apparently the CI is all broken, see:
- https://github.com/artipie/rpm-adapter/runs/636089140?check_suite_focus=true
  - there are old puzzles that doesn't pass the checks
- https://github.com/artipie/rpm-adapter/runs/636089098?check_suite_focus=true
  - codecov can't run

[2020-05-01 10:17] 0crat commented on #161
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-02 18:43] 0crat commented on #82
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-03 02:42] 0crat commented on #110
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-03 14:01] paulodamaso commented on #85
@0crat wait for #157 merge

[2020-05-07 07:18] g4s8 opened #162 "Upload API"
Let's create custom upload API, since RPM specification doesn't have the standard way for uploading.

## Upload HTTP request

Method: `PUT`

URI: `/package.rpm` - the name of RPM package

Query params:
 - `override` (optional) - if `true`, override existing package with same name

Body: RPM package data

## Upload process

User sends RPM package as `PUT` HTTP request with RPM data in body.

RPM ad

[2020-05-07 07:19] g4s8 commented on #148
Fixed

[2020-05-07 07:19] #148 closed

[2020-05-07 07:20] 0crat commented on #161
The job [#161](https://github.com/artipie/rpm-adapter/issues/161) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fc54956e-7a82-4771-b182-49cede746898); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-07 07:22] 0crat commented on #159
The job [#159](https://github.com/artipie/rpm-adapter/issues/159) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/cd07a904-d888-464f-86cc-a903e5ab5331); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-07 10:07] g4s8 opened #164 "Couldn't close underlying outputs with ClassCastException"
The error happened in `XmlFile.alterTag` with `ClassCastException`, see the stacktrace:

[code]

[2020-05-07 10:08] 0crat commented on #164
The job [#164](https://github.com/artipie/rpm-adapter/issues/164) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/08ffd828-9bdf-4682-9ef1-9b10170da2d0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-07 13:18] olenagerasimova commented on #164
@g4s8 is this bug stable? I cannot reproduce it with jdk1.8.0_171 on macos. I'm not sure yet, but it looks like https://bugs.openjdk.java.net/browse/JDK-8198355

[2020-05-07 13:24] g4s8 commented on #164
@olenagerasimova it's not stable, and I can't reproduce it too. This error I received from rpm adapter users.

[2020-05-07 13:28] olenagerasimova commented on #164
@g4s8 on what jdk is rpm adapter running there?

[2020-05-07 13:38] g4s8 commented on #164
@olenagerasimova they are using 1.8

[2020-05-07 13:40] olenagerasimova commented on #164
@g4s8 is it possible to find out minor version and what jdk is it - open or oracle?

[2020-05-07 13:57] g4s8 commented on #164
@olenagerasimova they are using custom JDK implementation based on OpenJDK 1.8

[2020-05-07 14:47] 0crat commented on #162
The job [#162](https://github.com/artipie/rpm-adapter/issues/162) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8a3a22fb-2bee-4244-bce0-295ee6ab7beb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-07 15:45] 0crat commented on #114
The job [#114](https://github.com/artipie/rpm-adapter/issues/114) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b34723fb-6a89-44f3-a203-03a0556ffbc5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-07 16:53] 0crat commented on #130
The job [#130](https://github.com/artipie/rpm-adapter/issues/130) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3137d432-2565-4743-82f2-f028f1f3ace4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-07 17:48] 0crat commented on #113
The job [#113](https://github.com/artipie/rpm-adapter/issues/113) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2a030c6f-aa67-49a6-bf93-227a31953400); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-07 17:57] olenagerasimova commented on #144
@0crat status

[2020-05-07 18:00] 0crat commented on #144
@olenagerasimova This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/artipie/rpm-adapter/issues/144) is [in scope](http://www.zerocracy.com/policy.html#14) for 13days
  * The role is `DEV`
  * The job is assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) for [13days](http://www.zerocrac

[2020-05-07 18:20] olenagerasimova commented on #164
@g4s8 I have not got any lack reproducing this error with different jdk8 (that's just a part https://github.com/olenagerasimova/rpm-adapter/runs/653959934). The most straightforward solution here - rewrite entire method with different approach. We can either get rid of `StAX` and use xml streams only or simply replace tag value re-writing file line by line with buffered reader/writer. Second appro

[2020-05-07 20:49] 0crat commented on #107
The job [#107](https://github.com/artipie/rpm-adapter/issues/107) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/cec97ab6-71ce-4614-9b77-449296979d1c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-07 22:27] paulodamaso commented on #85
@g4s8 Merged, please close

[2020-05-08 01:12] 0crat commented on #106
The job [#106](https://github.com/artipie/rpm-adapter/issues/106) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8ced038f-d3e7-4b32-8e29-fc34b3b760ca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-08 05:28] olenagerasimova commented on #133
@HDouss @g4s8 I think we can close this issue, `RpmITCase` is currently running in integration test action, for example https://github.com/artipie/rpm-adapter/pull/163/checks?check_run_id=655403317

[2020-05-08 05:30] olenagerasimova commented on #132
@HDouss please, can you check this test now? We transformed it do download test bundles. If everything fine, could you please close this issue?

[2020-05-08 06:44] #85 closed

[2020-05-08 06:44] 0pdd commented on #85
The puzzle `69-ac25d152` has disappeared from the source code, that's why I closed this issue.

[2020-05-08 06:44] #144 closed

[2020-05-08 06:44] 0pdd commented on #144
The puzzle `136-d4e1ea38` has disappeared from the source code, that's why I closed this issue.

[2020-05-08 06:44] #137 closed

[2020-05-08 06:44] 0pdd commented on #137
The puzzle `124-752857bc` has disappeared from the source code, that's why I closed this issue.

[2020-05-08 06:44] 0pdd opened #166 "RpmITCase.java:47-52: Continue the automation of..."
The puzzle `85-d051fc3e` from #85 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/3dc2e6f2332aab3f52ae239b647020356173e99e/src/test/java/com/artipie/rpm/RpmITCase.java#L47-L52

The puzzle was created by paulodamaso on 30-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-05-08 06:44] 0pdd opened #167 "XmlAlter.java:45-46: Create separate proper unit-test for..."
The puzzle `144-e68f383c` from #144 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/3dc2e6f2332aab3f52ae239b647020356173e99e/src/main/java/com/artipie/rpm/meta/XmlAlter.java#L45-L46

The puzzle was created by olenagerasimova on 07-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-05-08 06:44] 0pdd opened #168 "pom.xml:257-260: Improve code coverage by writing..."
The puzzle `161-ecd3feaa` from #161 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/3dc2e6f2332aab3f52ae239b647020356173e99e/pom.xml#L257-L260

The puzzle was created by @olenagerasimova on 07-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2020-05-08 06:44] 0pdd commented on #69
@victornoel 11 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#129](https://github.com/artipie/rpm-adapter/issues/129), [#130](https://github.com/artipie/rpm-adapter/issues/130), [#147](https://github.c

[2020-05-08 06:44] 0pdd commented on #85
@0pdd the puzzle [#166](https://github.com/artipie/rpm-adapter/issues/166) is still not solved.

[2020-05-08 06:44] 0pdd commented on #124
@g4s8 4 puzzles [#141](https://github.com/artipie/rpm-adapter/issues/141), [#143](https://github.com/artipie/rpm-adapter/issues/143), [#145](https://github.com/artipie/rpm-adapter/issues/145), [#167](https://github.com/artipie/rpm-adapter/issues/167) are still not solved; solved: [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [

[2020-05-08 06:44] 0pdd commented on #136
@0pdd 2 puzzles [#143](https://github.com/artipie/rpm-adapter/issues/143), [#167](https://github.com/artipie/rpm-adapter/issues/167) are still not solved; solved: [#144](https://github.com/artipie/rpm-adapter/issues/144).

[2020-05-08 06:44] 0pdd commented on #144
@0pdd the puzzle [#167](https://github.com/artipie/rpm-adapter/issues/167) is still not solved.

[2020-05-08 06:44] 0pdd commented on #161
@victornoel the puzzle [#168](https://github.com/artipie/rpm-adapter/issues/168) is still not solved.

[2020-05-08 06:45] 0crat commented on #168
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-08 06:46] 0crat commented on #167
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-08 06:46] 0crat commented on #166
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-08 06:56] g4s8 commented on #161
@victornoel @olenagerasimova I've also renamed check names in #169 and enabled it as required

[2020-05-08 07:01] g4s8 commented on #167
@olenagerasimova are you going to fix it by yourself, or we can delegate it to 0crat developers?

[2020-05-08 07:03] carlosmiranda commented on #162
@0crat refuse

[2020-05-08 07:04] 0crat commented on #137
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-08 07:04] 0crat commented on #85
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-08 07:04] 0crat commented on #144
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-08 07:04] 0crat commented on #162
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#162](https://github.com/artipie/rpm-adapter/issues/162), please stop working. Reason for job resignation: Order was cancelled

[2020-05-08 07:05] 0crat commented on #162
@carlosmiranda Job refused in 16 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-08 07:05] sereshqua commented on #137
@0crat quality good

[2020-05-08 07:06] sereshqua commented on #85
@0crat quality good

[2020-05-08 07:06] sereshqua commented on #144
@0crat quality good

[2020-05-08 07:08] g4s8 commented on #124
@jeffzhu503 we can compare with `createrepo` native tool for generating RPM metadata on Centos, and generate performance reports on release to attach this report to release assets.

[2020-05-08 07:28] #132 closed

[2020-05-08 07:29] #133 closed

[2020-05-08 07:29] olenagerasimova commented on #167
@g4s8 I think it would be convenient (or even necessary) to do it together with #164 and so please assign me this issue

[2020-05-08 07:49] 0crat commented on #133
Job `gh:artipie/rpm-adapter#133` is not assigned, can't get performer

[2020-05-08 07:50] 0crat commented on #132
Job `gh:artipie/rpm-adapter#132` is not assigned, can't get performer

[2020-05-08 07:54] 0pdd commented on #147
The puzzle `104-6e11be90` has disappeared from the source code, that's why I closed this issue.

[2020-05-08 07:54] #147 closed

[2020-05-08 07:54] 0pdd commented on #69
@victornoel 10 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#129](https://github.com/artipie/rpm-adapter/issues/129), [#130](https://github.com/artipie/rpm-adapter/issues/130), [#154](https://github.c

[2020-05-08 07:54] 0pdd commented on #81
@0pdd the puzzle [#105](https://github.com/artipie/rpm-adapter/issues/105) is still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#147](https://github.com/artipie/rpm-adapter/issues/147).

[2020-05-08 07:54] 0pdd commented on #104
@0pdd the only puzzle [#147](https://github.com/artipie/rpm-adapter/issues/147) is solved here.

[2020-05-08 08:01] g4s8 commented on #164
@olenagerasimova ok, let's try with second option.

[2020-05-08 08:32] 0crat commented on #167
The job [#167](https://github.com/artipie/rpm-adapter/issues/167) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/663aa970-0369-4348-bec2-dedc86592cd7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-08 10:02] victornoel commented on #161
@g4s8 @olenagerasimova I think I can close this then, thanks :)

[2020-05-08 10:03] #161 closed

[2020-05-08 10:20] 0crat commented on #161
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-08 10:20] 0crat commented on #161
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-08 10:44] sereshqua commented on #161
@0crat quality good

[2020-05-08 12:56] 0crat commented on #155
The job [#155](https://github.com/artipie/rpm-adapter/issues/155) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/52e98603-da5f-4ca3-ac3c-1146ca3e6c9a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-08 13:08] victornoel commented on #147
@0crat status

[2020-05-08 13:11] 0crat commented on #147
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#147](https://github.com/artipie/rpm-adapter/issues/147) is [in scope](http://www.zerocracy.com/policy.html#14) for 11days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [8days](http://www.zerocracy.com/policy.htm

[2020-05-08 13:13] victornoel commented on #147
@0crat out

[2020-05-08 13:16] 0crat commented on #147
@victornoel[/z](https://www.0crat.com/u/victornoel) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2020-05-08 13:18] victornoel commented on #147
@g4s8 can you tell 0crat to close this issue? it missed the event apparently...

[2020-05-08 13:26] g4s8 commented on #147
@0crat out

[2020-05-08 13:34] 0crat commented on #147
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-08 13:46] 0crat commented on #129
The job [#129](https://github.com/artipie/rpm-adapter/issues/129) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5c64f0ab-fb53-474e-9709-c608b8ea626d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-08 13:55] sereshqua commented on #147
@0crat quality good

[2020-05-08 14:03] victornoel commented on #105
@g4s8 is this issue and #99 still in scope nowadays?

[2020-05-08 15:15] victornoel commented on #114
@0crat wait for #172 to be merged

[2020-05-08 16:19] paulodamaso commented on #110
@g4s8 I think that this one is closely related to https://github.com/artipie/rpm-adapter/issues/63 , so I prefer to do it after we get a resolution there

[2020-05-08 16:19] paulodamaso commented on #110
@0crat wait for https://github.com/artipie/rpm-adapter/issues/63 resolution

[2020-05-08 16:47] 0crat commented on #162
The job [#162](https://github.com/artipie/rpm-adapter/issues/162) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3f5893cf-980b-471d-bb47-e8bbe007a1e4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-08 18:57] 0crat commented on #166
The job [#166](https://github.com/artipie/rpm-adapter/issues/166) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/386eb75e-8fc6-4d8b-adea-7094a5b1ebe7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-08 19:43] victornoel commented on #113
@paulodamaso FYI see https://github.com/artipie/rpm-adapter/pull/172#discussion_r422328817 that is related to the current todo

[2020-05-08 21:33] paulodamaso commented on #82
@0crat wait for https://github.com/artipie/rpm-adapter/issues/130

[2020-05-09 02:02] carlosmiranda commented on #129
@0crat refuse

[2020-05-09 02:12] carlosmiranda commented on #155
@0crat refuse

[2020-05-09 02:59] 0crat commented on #155
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#155](https://github.com/artipie/rpm-adapter/issues/155), please stop working. Reason for job resignation: Order was cancelled

[2020-05-09 03:00] 0crat commented on #155
@carlosmiranda Job refused in 14 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-11 08:35] carlosmiranda commented on #129
@0crat refuse

[2020-05-11 09:18] carlosmiranda commented on #166
@0crat refuse

[2020-05-11 09:18] 0crat commented on #129
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#129](https://github.com/artipie/rpm-adapter/issues/129), please stop working. Reason for job resignation: Order was cancelled

[2020-05-11 09:19] 0crat commented on #129
@carlosmiranda Job `gh:artipie/rpm-adapter#129` is not assigned, can't get performer

[2020-05-11 09:19] 0crat commented on #166
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#166](https://github.com/artipie/rpm-adapter/issues/166), please stop working. Reason for job resignation: Order was cancelled

[2020-05-11 17:19] jeffzhu503 commented on #124
Please come up the list of metrics you want to measure, how would you like to measure.  Do you want to compare these metrics to any existing competitor? If, so please set up the environment for both.

[2020-05-11 19:47] 0crat commented on #155
The job [#155](https://github.com/artipie/rpm-adapter/issues/155) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/30b17a04-bfaf-46e9-9296-b83998264cae); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-11 20:46] 0crat commented on #129
The job [#129](https://github.com/artipie/rpm-adapter/issues/129) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/184b577b-910f-4f9e-bb37-7148e26ad146); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-11 21:45] 0crat commented on #166
The job [#166](https://github.com/artipie/rpm-adapter/issues/166) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b5d2bd81-9665-4a7d-a914-7b610834f04a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-05-12 06:13] g4s8 commented on #164
@rultor release, tag=`0.8.1`

[2020-05-12 06:14] rultor commented on #164
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22025-627132718)

[2020-05-12 06:22] rultor commented on #164
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22025-627132718) (took me 8min)

[2020-05-12 07:45] 0crat commented on #159
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-12 10:06] victornoel commented on #105
@g4s8 ping :)

[2020-05-12 10:08] victornoel commented on #114
@g4s8 is 0pdd broken? It didn't close the issue

[2020-05-12 10:10] victornoel commented on #129
@0crat refuse

[2020-05-12 10:13] 0crat commented on #129
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#129](https://github.com/artipie/rpm-adapter/issues/129), please stop working. Reason for job resignation: Order was cancelled

[2020-05-12 10:14] 0crat commented on #129
@victornoel Job refused in 13 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-12 10:48] 0crat commented on #164
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-12 14:49] 0crat commented on #129
The job [#129](https://github.com/artipie/rpm-adapter/issues/129) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/36e1de7b-9690-40e1-9dac-7427bce16397); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-12 17:46] 0crat commented on #130
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-12 18:45] 0crat commented on #113
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-12 21:44] 0crat commented on #107
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 01:48] 0crat commented on #106
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 07:31] #114 closed

[2020-05-13 07:31] 0pdd commented on #114
The puzzle `89-d55308e3` has disappeared from the source code, that's why I closed this issue.

[2020-05-13 07:31] #143 closed

[2020-05-13 07:31] 0pdd commented on #143
The puzzle `136-9d5dbc04` has disappeared from the source code, that's why I closed this issue.

[2020-05-13 07:31] #167 closed

[2020-05-13 07:31] 0pdd commented on #167
The puzzle `144-e68f383c` has disappeared from the source code, that's why I closed this issue.

[2020-05-13 07:31] 0pdd commented on #141
The puzzle `138-e82cce42` has disappeared from the source code, that's why I closed this issue.

[2020-05-13 07:31] #141 closed

[2020-05-13 07:31] #145 closed

[2020-05-13 07:32] 0pdd commented on #145
The puzzle `124-dbdcc472` has disappeared from the source code, that's why I closed this issue.

[2020-05-13 07:32] 0pdd opened #176 "CliTest.java:34-35: Add some more tests in order to..."
The puzzle `114-f9d288ae` from #114 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/359b4670b8fb754efe6a0a1b505e11b5215ec140/src/test/java/com/artipie/rpm/CliTest.java#L34-L35

The puzzle was created by Victor Noël on 08-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-05-13 07:32] 0pdd opened #177 "ModifiableMetadata.java:38-40: Create tests for this..."
The puzzle `141-769c95ee` from #141 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/359b4670b8fb754efe6a0a1b505e11b5215ec140/src/main/java/com/artipie/rpm/pkg/ModifiableMetadata.java#L38-L40

The puzzle was created by @olenagerasimova on 12-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-05-13 07:32] 0pdd opened #178 "Rpm.java:233-238: Finish incremental update: we need to..."
The puzzle `141-85a28213` from #141 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/359b4670b8fb754efe6a0a1b505e11b5215ec140/src/main/java/com/artipie/rpm/Rpm.java#L233-L238

The puzzle was created by @olenagerasimova on 12-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-05-13 07:32] 0pdd commented on #68
@g4s8 2 puzzles [#113](https://github.com/artipie/rpm-adapter/issues/113), [#176](https://github.com/artipie/rpm-adapter/issues/176) are still not solved; solved: [#114](https://github.com/artipie/rpm-adapter/issues/114), [#89](https://github.com/artipie/rpm-adapter/issues/89).

[2020-05-13 07:32] 0pdd commented on #89
@0pdd 2 puzzles [#113](https://github.com/artipie/rpm-adapter/issues/113), [#176](https://github.com/artipie/rpm-adapter/issues/176) are still not solved; solved: [#114](https://github.com/artipie/rpm-adapter/issues/114).

[2020-05-13 07:32] 0pdd commented on #114
@0pdd the puzzle [#176](https://github.com/artipie/rpm-adapter/issues/176) is still not solved.

[2020-05-13 07:32] 0pdd commented on #124
@g4s8 2 puzzles [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178) are still not solved; solved: [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [#137](https://github.com/artipie/rpm-adapter/issues/137), [#138](https://github.com/artipie/rpm-adapter/issues/138), [

[2020-05-13 07:32] 0pdd commented on #136
@0pdd all 3 puzzles are solved here: [#143](https://github.com/artipie/rpm-adapter/issues/143), [#144](https://github.com/artipie/rpm-adapter/issues/144), [#167](https://github.com/artipie/rpm-adapter/issues/167).

[2020-05-13 07:32] 0pdd commented on #144
@0pdd the only puzzle [#167](https://github.com/artipie/rpm-adapter/issues/167) is solved here.

[2020-05-13 07:32] 0pdd commented on #138
@0pdd 2 puzzles [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178) are still not solved; solved: [#141](https://github.com/artipie/rpm-adapter/issues/141).

[2020-05-13 07:32] 0pdd commented on #141
@0pdd 2 puzzles [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178) are still not solved.

[2020-05-13 07:34] olenagerasimova commented on #178
@g4s8 please assign me

[2020-05-13 07:36] 0crat commented on #178
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-13 07:36] 0crat commented on #177
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-13 07:36] 0crat commented on #176
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-13 07:56] 0crat commented on #114
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-13 07:57] sereshqua commented on #114
@0crat quality good

[2020-05-13 07:58] 0crat commented on #143
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-13 07:58] 0crat commented on #141
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-13 07:58] 0crat commented on #167
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-13 07:58] 0crat commented on #145
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-13 08:02] victornoel commented on #105
@0crat refuse

[2020-05-13 08:04] 0crat commented on #105
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#105](https://github.com/artipie/rpm-adapter/issues/105), please stop working. Reason for job resignation: Order was cancelled

[2020-05-13 08:15] sereshqua commented on #143
@0crat quality good

[2020-05-13 08:15] sereshqua commented on #141
@0crat quality good

[2020-05-13 08:16] sereshqua commented on #167
@0crat quality good

[2020-05-13 08:16] sereshqua commented on #145
@0crat quality good

[2020-05-13 08:46] 0crat commented on #105
The job [#105](https://github.com/artipie/rpm-adapter/issues/105) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ed736cc7-0813-4be1-abe7-042dd02fe2ad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-13 11:44] olenagerasimova commented on #164
@g4s8 were there any info from our colleague? Can we say that bug is fixed and close the issue?

[2020-05-13 14:23] g4s8 commented on #164
@olenagerasimova yes, it was fixed, thanks.

[2020-05-13 14:23] #164 closed

[2020-05-13 14:47] 0crat commented on #164
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-13 14:49] sereshqua commented on #164
@0crat quality good

[2020-05-13 16:28] paulodamaso commented on #130
@g4s8 I forgot to remove the puzzle, please merge #179

[2020-05-13 18:00] paulodamaso commented on #82
@0crat wait for #180 merge

[2020-05-13 18:09] 0crat commented on #82
@paulodamaso Job [#82](https://github.com/artipie/rpm-adapter/issues/82) is already on hold

[2020-05-13 19:46] 0crat commented on #162
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 21:20] paulodamaso commented on #105
@g4s8 Let's wait for #99, you can assign it to me if you want

[2020-05-13 21:20] paulodamaso commented on #105
@0crat wait for #99

[2020-05-14 07:16] g4s8 opened #182 "Cleanup old metadata after update"
Let's remove old metadata files after update

[2020-05-14 07:17] 0crat commented on #182
The job [#182](https://github.com/artipie/rpm-adapter/issues/182) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e332049b-0902-47fa-94b1-4d2bec9b1692); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-05-14 07:47] olenagerasimova commented on #177
@g4s8 please assign me

[2020-05-14 11:45] 0crat commented on #177
The job [#177](https://github.com/artipie/rpm-adapter/issues/177) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c021fcf9-a89f-4534-8cc4-13a5bd75fad4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-15 06:14] g4s8 commented on #182
@rultor release, tag=`0.8.2`

[2020-05-15 06:16] rultor commented on #182
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22057-629050027)

[2020-05-15 06:25] rultor commented on #182
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22057-629050027) (took me 9min)

[2020-05-15 15:35] g4s8 commented on #182
Fixed in `0.8.2`

[2020-05-15 15:35] #182 closed

[2020-05-15 15:57] 0crat commented on #182
Job was finished in 32 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-16 11:21] victornoel commented on #155
@0crat wait for #187

[2020-05-16 14:17] victornoel commented on #166
@0crat refuse

[2020-05-16 14:21] 0crat commented on #166
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#166](https://github.com/artipie/rpm-adapter/issues/166), please stop working. Reason for job resignation: Order was cancelled

[2020-05-17 15:46] 0crat commented on #129
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-18 07:39] g4s8 opened #188 "Update ASTO dep"
Update asto dependency to `0.20` version

[2020-05-18 07:50] 0crat commented on #188
The job [#188](https://github.com/artipie/rpm-adapter/issues/188) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2b792e7c-9c12-41f6-98ef-bf727ae3434a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-05-18 14:22] g4s8 commented on #154
@0crat assign @marceloamadeu

[2020-05-18 14:23] #129 closed

[2020-05-18 14:23] 0pdd commented on #129
The puzzle `79-4e9f7178` has disappeared from the source code, that's why I closed this issue.

[2020-05-18 14:23] 0pdd commented on #69
@victornoel 9 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#130](https://github.com/artipie/rpm-adapter/issues/130), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#155](https://github.co

[2020-05-18 14:23] 0pdd commented on #79
@0pdd the only puzzle [#129](https://github.com/artipie/rpm-adapter/issues/129) is solved here.

[2020-05-18 14:24] 0crat commented on #154
@g4s8 The job [#154](https://github.com/artipie/rpm-adapter/issues/154) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d67813d2-cee8-4836-8bfd-2270c1464085); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2020-05-18 14:48] 0crat commented on #129
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-18 20:05] paulodamaso commented on #130
@g4s8 ping

[2020-05-18 20:14] paulodamaso commented on #106
@0crat wait for #175

[2020-05-18 20:34] paulodamaso commented on #113
@0crat wait

[2020-05-19 06:13] #107 closed

[2020-05-19 06:13] 0pdd commented on #107
The puzzle `84-f98fbe90` has disappeared from the source code, that's why I closed this issue.

[2020-05-19 06:13] 0pdd commented on #69
@victornoel 8 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#130](https://github.com/artipie/rpm-adapter/issues/130), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#155](https://github.com/artipie/rpm-adapter/issues/155), [#166](https://github.co

[2020-05-19 06:13] 0pdd commented on #84
@0pdd the only puzzle [#107](https://github.com/artipie/rpm-adapter/issues/107) is solved here.

[2020-05-19 06:32] 0crat commented on #107
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-19 07:00] sereshqua commented on #107
@0crat quality good

[2020-05-19 12:46] 0crat commented on #177
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-19 15:35] g4s8 commented on #188
Done in #189

[2020-05-19 15:35] #188 closed

[2020-05-19 15:36] g4s8 commented on #117
@0crat refuse

[2020-05-19 15:54] 0pdd opened #190 "RpmTest.java:43-45: Don't change metadata when invalid..."
The puzzle `63-70804367` from #63 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/65b9bd9d1257f5e8a19bf12f98f7026613c55429/src/test/java/com/artipie/rpm/RpmTest.java#L43-L45

The puzzle was created by paulodamaso on 01-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-05-19 15:54] 0pdd commented on #63
@g4s8 the puzzle [#190](https://github.com/artipie/rpm-adapter/issues/190) is still not solved.

[2020-05-19 15:54] 0crat commented on #190
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-19 15:54] 0crat commented on #117
@g4s8 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#117](https://github.com/artipie/rpm-adapter/issues/117), please stop working. Reason for job resignation: Order was cancelled

[2020-05-19 15:56] #130 closed

[2020-05-19 15:56] 0pdd commented on #130
The puzzle `80-4f54b460` has disappeared from the source code, that's why I closed this issue.

[2020-05-19 15:57] 0pdd commented on #69
@victornoel 7 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#155](https://github.com/artipie/rpm-adapter/issues/155), [#166](https://github.com/artipie/rpm-adapter/issues/166), [#82](https://github.com

[2020-05-19 15:57] 0pdd commented on #80
@0pdd the only puzzle [#130](https://github.com/artipie/rpm-adapter/issues/130) is solved here.

[2020-05-19 16:04] 0crat commented on #188
Job was finished in 31 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-19 16:16] 0crat commented on #130
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-19 16:29] sereshqua commented on #130
@0crat quality good

[2020-05-19 22:14] paulodamaso commented on #63
@g4s8 merged, please close

[2020-05-20 06:35] #82 closed

[2020-05-20 06:35] 0pdd commented on #82
The puzzle `69-43c6c36b` has disappeared from the source code, that's why I closed this issue.

[2020-05-20 06:35] 0pdd opened #191 "XmlOthers.java:151-156: Continue changelog..."
The puzzle `82-4bfb0748` from #82 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/6832bcfffd73ce19e4d7597b3bbc2b7cb6272031/src/main/java/com/artipie/rpm/meta/XmlOthers.java#L151-L156

The puzzle was created by paulodamaso on 13-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-05-20 06:35] 0pdd commented on #69
@victornoel 7 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#155](https://github.com/artipie/rpm-adapter/issues/155), [#166](https://github.com/artipie/rpm-adapter/issues/166), [#191](https://github.co

[2020-05-20 06:35] 0pdd commented on #82
@0pdd the puzzle [#191](https://github.com/artipie/rpm-adapter/issues/191) is still not solved.

[2020-05-20 06:36] 0crat commented on #191
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-20 06:58] 0crat commented on #82
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-20 06:58] 0crat commented on #82
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#82](https://github.com/artipie/rpm-adapter/issues/82), since the job is not in scope anymore

[2020-05-20 06:59] 0crat commented on #82
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): CID: [e788d813-b26d-41a1-a1c4-a464ee8713f5](https://www.0crat.com/footprint/CT2E6TK9B/e788d813-b26d-41a1-a1c4-a464ee8713f5), Type: "Order was canceled"

[2020-05-20 07:00] sereshqua commented on #82
@0crat quality good

[2020-05-20 07:08] #178 closed

[2020-05-20 07:09] 0pdd opened #192 "Rpm.java:333-334: Try to get rid of blocking operations..."
The puzzle `178-1f21b2fa` from #178 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/e5a38985a4382403957c410b34d41f19e60873ce/src/main/java/com/artipie/rpm/Rpm.java#L333-L334

The puzzle was created by @olenagerasimova on 14-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-05-20 07:09] 0pdd opened #193 "Rpm.java:387-389: Create enum with metadata file items..."
The puzzle `178-21b31f88` from #178 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/e5a38985a4382403957c410b34d41f19e60873ce/src/main/java/com/artipie/rpm/Rpm.java#L387-L389

The puzzle was created by @olenagerasimova on 14-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-05-20 07:09] 0pdd commented on #124
@g4s8 3 puzzles [#177](https://github.com/artipie/rpm-adapter/issues/177), [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193) are still not solved; solved: [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [#137](https://github.com/artipie/rpm-adapter/issues/137), [

[2020-05-20 07:09] 0pdd commented on #138
@0pdd 3 puzzles [#177](https://github.com/artipie/rpm-adapter/issues/177), [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193) are still not solved; solved: [#141](https://github.com/artipie/rpm-adapter/issues/141), [#178](https://github.com/artipie/rpm-adapter/issues/178).

[2020-05-20 07:09] 0pdd commented on #141
@0pdd 3 puzzles [#177](https://github.com/artipie/rpm-adapter/issues/177), [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193) are still not solved; solved: [#178](https://github.com/artipie/rpm-adapter/issues/178).

[2020-05-20 07:09] 0pdd commented on #178
@0pdd 2 puzzles [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193) are still not solved.

[2020-05-20 07:10] 0crat commented on #193
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-20 07:10] 0crat commented on #192
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-20 07:26] 0crat commented on #178
Job `gh:artipie/rpm-adapter#178` is not assigned, can't get performer

[2020-05-20 09:57] #155 closed

[2020-05-20 09:57] 0pdd commented on #155
The puzzle `75-58eafec8` has disappeared from the source code, that's why I closed this issue.

[2020-05-20 09:57] 0pdd commented on #69
@victornoel 6 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#166](https://github.com/artipie/rpm-adapter/issues/166), [#191](https://github.com/artipie/rpm-adapter/issues/191) are still not solved; sol

[2020-05-20 09:57] 0pdd commented on #75
@0pdd the puzzle [#154](https://github.com/artipie/rpm-adapter/issues/154) is still not solved; solved: [#155](https://github.com/artipie/rpm-adapter/issues/155).

[2020-05-20 10:10] #177 closed

[2020-05-20 10:10] 0pdd commented on #124
@g4s8 2 puzzles [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193) are still not solved; solved: [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [#137](https://github.com/artipie/rpm-adapter/issues/137), [#138](https://github.com/artipie/rpm-adapter/issues/138), [

[2020-05-20 10:10] 0pdd commented on #138
@0pdd 2 puzzles [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193) are still not solved; solved: [#141](https://github.com/artipie/rpm-adapter/issues/141), [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178).

[2020-05-20 10:10] 0pdd commented on #141
@0pdd 2 puzzles [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193) are still not solved; solved: [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178).

[2020-05-20 11:39] 0pdd opened #194 "XmlPackage.java:34-35: Find all usages of metadata files..."
The puzzle `159-8e7ac748` from #159 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/762e9d6cd167f35feb5637f7b2cde50e812a4ec7/src/main/java/com/artipie/rpm/meta/XmlPackage.java#L34-L35

The puzzle was created by @olenagerasimova on 15-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-05-20 11:39] 0pdd commented on #159
@victornoel the puzzle [#194](https://github.com/artipie/rpm-adapter/issues/194) is still not solved.

[2020-05-20 11:40] 0crat commented on #194
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-20 16:47] olenagerasimova commented on #159
@victornoel please check #186 and close this issue if possible

[2020-05-20 16:58] victornoel commented on #159
@olenagerasimova thx

[2020-05-20 16:58] #159 closed

[2020-05-20 16:59] victornoel commented on #155
@0crat status

[2020-05-20 17:07] 0crat commented on #155
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#155](https://github.com/artipie/rpm-adapter/issues/155) is [in scope](http://www.zerocracy.com/policy.html#14) for 13days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [9days](http://www.zerocracy.com/policy.htm

[2020-05-20 17:16] 0crat commented on #159
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-20 17:28] victornoel commented on #155
@g4s8 0crat missed this, can you tell it out please? Thx

[2020-05-20 20:29] sereshqua commented on #159
@0crat quality good

[2020-05-21 06:21] g4s8 commented on #155
@0crat out

[2020-05-21 06:23] 0crat commented on #155
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-21 06:25] sereshqua commented on #155
@0crat quality good

[2020-05-21 09:50] olenagerasimova opened #195 "XMLEventReader VS XMLStreamReader"
According to [this SO question](https://stackoverflow.com/questions/12269504/fastest-and-optimized-way-to-read-the-xml/12273296#12273296) `XMLStreamReader` is faster than `XMLEventReader`. We need to check whether it's true and rewrite `XmlMaid` implementations accordingly.

[2020-05-21 09:51] 0crat commented on #195
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-24 18:31] paulodamaso commented on #63
@g4s8 ping

[2020-05-24 21:25] paulodamaso commented on #113
@0crat wait for https://github.com/artipie/rpm-adapter/pull/198 merge

[2020-05-24 21:26] 0crat commented on #113
@paulodamaso Job [#113](https://github.com/artipie/rpm-adapter/issues/113) is already on hold

[2020-05-24 23:25] paulodamaso commented on #162
@0crat wait for https://github.com/artipie/rpm-adapter/pull/199

[2020-05-25 04:52] olenagerasimova opened #200 "Join xmls without xml-stream"
Let's try to rewrite `XmlMetaJoin` without xml-streams and see if this is going to be work faster.

[2020-05-25 04:52] 0crat commented on #200
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 10:42] g4s8 commented on #63
@paulodamaso thanks

[2020-05-25 10:42] #63 closed

[2020-05-25 10:59] 0crat commented on #63
Job `gh:artipie/rpm-adapter#63` is not assigned, can't get performer

[2020-05-25 11:42] 0pdd opened #201 "XmlMetaJoin.java:84-85: This method have to be removed or..."
The puzzle `200-d9ed28fb` from #200 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/178058324ea1b84175e8e6a811ecff896f1e3ab1/src/main/java/com/artipie/rpm/meta/XmlMetaJoin.java#L84-L85

The puzzle was created by @olenagerasimova on 25-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-05-25 11:42] 0pdd commented on #200
@olenagerasimova the puzzle [#201](https://github.com/artipie/rpm-adapter/issues/201) is still not solved.

[2020-05-25 11:42] 0crat commented on #201
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 11:57] 0crat commented on #201
The job [#201](https://github.com/artipie/rpm-adapter/issues/201) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/16e62e43-e0a1-452f-b497-af0f69e53dfc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-25 14:00] g4s8 commented on #63
@0crat out

[2020-05-25 14:01] 0crat commented on #63
@g4s8 Job `gh:artipie/rpm-adapter#63` is not assigned, can't get performer

[2020-05-25 14:02] g4s8 commented on #63
@0crat status

[2020-05-25 14:02] 0crat commented on #63
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#63](https://github.com/artipie/rpm-adapter/issues/63) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%2363%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-25 14:14] g4s8 commented on #63
@0crat pay 30min @paulodamaso

[2020-05-25 16:04] 0crat commented on #195
The job [#195](https://github.com/artipie/rpm-adapter/issues/195) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4032fed5-93ab-4840-9bdd-8ef05fd39931); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-25 16:19] 0crat commented on #192
The job [#192](https://github.com/artipie/rpm-adapter/issues/192) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/011ec7a5-d3ba-488d-95b0-7ccd2411488f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-26 06:18] olenagerasimova opened #203 "Add junit extension to measure tests time"
As we need to measure time in several tests, I'd suggest to add something like https://github.com/junit-team/junit5/blob/master/documentation/src/test/java/example/timing/TimingExtension.java.

[2020-05-26 06:18] 0crat commented on #203
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-26 09:51] #113 closed

[2020-05-26 09:51] 0pdd commented on #113
The puzzle `89-bf69222b` has disappeared from the source code, that's why I closed this issue.

[2020-05-26 09:51] 0pdd opened #205 "CliArgumentsTest.java:36-38: Add more tests for..."
The puzzle `113-cf87a1eb` from #113 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/50e972c391cdf43cde697ac3b8c64d40d602fa80/src/test/java/com/artipie/rpm/CliArgumentsTest.java#L36-L38

The puzzle was created by paulodamaso on 25-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-26 09:51] 0pdd commented on #68
@g4s8 2 puzzles [#176](https://github.com/artipie/rpm-adapter/issues/176), [#205](https://github.com/artipie/rpm-adapter/issues/205) are still not solved; solved: [#113](https://github.com/artipie/rpm-adapter/issues/113), [#114](https://github.com/artipie/rpm-adapter/issues/114), [#89](https://github.com/artipie/rpm-adapter/issues/89).

[2020-05-26 09:51] 0pdd commented on #89
@0pdd 2 puzzles [#176](https://github.com/artipie/rpm-adapter/issues/176), [#205](https://github.com/artipie/rpm-adapter/issues/205) are still not solved; solved: [#113](https://github.com/artipie/rpm-adapter/issues/113), [#114](https://github.com/artipie/rpm-adapter/issues/114).

[2020-05-26 09:51] 0pdd commented on #113
@0pdd the puzzle [#205](https://github.com/artipie/rpm-adapter/issues/205) is still not solved.

[2020-05-26 09:53] 0crat commented on #205
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-26 11:27] 0crat commented on #113
Job `gh:artipie/rpm-adapter#113` is not assigned, can't get performer

[2020-05-26 11:47] g4s8 commented on #203
@olenagerasimova can we just use `@Timeout(1)` Junit annotation?

[2020-05-26 12:24] #106 closed

[2020-05-26 12:24] 0pdd commented on #106
The puzzle `78-ae125758` has disappeared from the source code, that's why I closed this issue.

[2020-05-26 12:24] 0pdd opened #206 "MetadataFileTest.java:45-53: MetadataFile is saving an..."
The puzzle `106-c1f3bb3a` from #106 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/8955d042625e3d7a3744865881a4de32346422ce/src/test/java/com/artipie/rpm/pkg/MetadataFileTest.java#L45-L53

The puzzle was created by paulodamaso on 13-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-05-26 12:24] 0pdd commented on #69
@victornoel 6 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#166](https://github.com/artipie/rpm-adapter/issues/166), [#191](https://github.com/artipie/rpm-adapter/issues/191), [#206](https://github.com/artipie/rpm-adapter/issues/206) are still not solved; sol

[2020-05-26 12:24] 0pdd commented on #78
@0pdd the puzzle [#206](https://github.com/artipie/rpm-adapter/issues/206) is still not solved; solved: [#106](https://github.com/artipie/rpm-adapter/issues/106).

[2020-05-26 12:24] 0pdd commented on #106
@0pdd the puzzle [#206](https://github.com/artipie/rpm-adapter/issues/206) is still not solved.

[2020-05-26 12:31] #193 closed

[2020-05-26 12:31] 0pdd commented on #193
The puzzle `178-21b31f88` has disappeared from the source code, that's why I closed this issue.

[2020-05-26 12:32] #194 closed

[2020-05-26 12:32] 0pdd commented on #194
The puzzle `159-8e7ac748` has disappeared from the source code, that's why I closed this issue.

[2020-05-26 12:32] 0pdd commented on #124
@g4s8 the puzzle [#192](https://github.com/artipie/rpm-adapter/issues/192) is still not solved; solved: [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [#137](https://github.com/artipie/rpm-adapter/issues/137), [#138](https://github.com/artipie/rpm-adapter/issues/138), [#141](https://github.com/artipie/rpm-adapter/issues/141), [

[2020-05-26 12:32] 0pdd commented on #138
@0pdd the puzzle [#192](https://github.com/artipie/rpm-adapter/issues/192) is still not solved; solved: [#141](https://github.com/artipie/rpm-adapter/issues/141), [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178), [#193](https://github.com/artipie/rpm-adapter/issues/193).

[2020-05-26 12:32] 0pdd commented on #141
@0pdd the puzzle [#192](https://github.com/artipie/rpm-adapter/issues/192) is still not solved; solved: [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178), [#193](https://github.com/artipie/rpm-adapter/issues/193).

[2020-05-26 12:32] 0pdd commented on #178
@0pdd the puzzle [#192](https://github.com/artipie/rpm-adapter/issues/192) is still not solved; solved: [#193](https://github.com/artipie/rpm-adapter/issues/193).

[2020-05-26 12:32] 0pdd commented on #159
@victornoel the only puzzle [#194](https://github.com/artipie/rpm-adapter/issues/194) is solved here.

[2020-05-26 12:49] 0crat commented on #194
Job `gh:artipie/rpm-adapter#194` is not assigned, can't get performer

[2020-05-26 12:50] 0crat commented on #193
Job `gh:artipie/rpm-adapter#193` is not assigned, can't get performer

[2020-05-27 06:40] olenagerasimova commented on #195
@g4s8 closing this issue: I do not see any significant improvements, but code looks much uglier.

[2020-05-27 06:40] #195 closed

[2020-05-27 06:46] olenagerasimova commented on #203
@g4s8 why? Do we want to fail our integration `it.longtests.enabled` if they are taking too long?

[2020-05-27 06:58] 0crat commented on #195
Job was finished in 38 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-27 06:58] 0crat commented on #195
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-27 11:27] g4s8 commented on #203
@olenagerasimova sorry, I misunderstood your ticket. Then I think it's ok to use this extension for Junit

[2020-05-27 13:18] marceloamadeu commented on #154
@0crat status

[2020-05-27 13:21] 0crat commented on #154
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#154](https://github.com/artipie/rpm-adapter/issues/154) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%23154%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-27 20:12] olenagerasimova commented on #200
closing as #196 was merged

[2020-05-27 20:12] #200 closed

[2020-05-27 20:29] 0crat commented on #200
Job `gh:artipie/rpm-adapter#200` is not assigned, can't get performer

[2020-05-28 03:08] paulodamaso commented on #110
@0crat status

[2020-05-28 03:09] 0crat commented on #110
@paulodamaso This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#110](https://github.com/artipie/rpm-adapter/issues/110) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%23110%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-28 03:10] paulodamaso commented on #110
@g4s8 something bad happened here, please take a look

[2020-05-28 03:14] paulodamaso commented on #106
@0crat status

[2020-05-28 03:16] 0crat commented on #106
@paulodamaso This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#106](https://github.com/artipie/rpm-adapter/issues/106) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%23106%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-28 03:25] paulodamaso commented on #113
@0crat status

[2020-05-28 03:30] paulodamaso commented on #117
@0crat wait for #202

[2020-05-28 03:31] 0crat commented on #113
@paulodamaso This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#113](https://github.com/artipie/rpm-adapter/issues/113) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%23113%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-28 03:32] 0crat commented on #117
@paulodamaso Job `gh:artipie/rpm-adapter#117` is not assigned, can't get performer

[2020-05-28 07:34] g4s8 commented on #110
@0crat assign @paulodamaso

[2020-05-28 07:47] 0crat commented on #110
@g4s8 The job [#110](https://github.com/artipie/rpm-adapter/issues/110) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/01e780d7-3e41-4836-a954-545792554032); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2020-05-28 12:12] marceloamadeu commented on #154
@0crat status

[2020-05-28 12:15] 0crat commented on #154
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#154](https://github.com/artipie/rpm-adapter/issues/154) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%23154%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-28 14:36] olenagerasimova commented on #206
@g4s8 please assign me

[2020-05-28 14:47] 0crat commented on #206
The job [#206](https://github.com/artipie/rpm-adapter/issues/206) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/eb4436b0-56a7-4d97-a8aa-f946a87c81ce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-28 14:47] 0crat commented on #206
The job [#206](https://github.com/artipie/rpm-adapter/issues/206) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/339ff9c8-bada-4154-81be-36670a5f0407); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-28 14:47] 0crat commented on #206
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [d7c6264c-2e8e-4ca6-8601-4b2aca24e5fe](https://www.0crat.com/footprint/CT2E6TK9B/d7c6264c-2e8e-4ca6-8601-4b2aca24e5fe), Type: "Order was given"

[2020-05-29 06:53] olenagerasimova opened #208 "Consider removing NamingPolicy"
I'd like to consider removing `NamingPolicy` from `Rpm`: now it's possible to create `Rpm` instance with `sha-256` digest and `NamingPolicy` with `sha-1` digest, which does not make any sense to me. Also, now we are calculating hexes for metadata files twice in `MetadataFile#save`, that is inefficient.
The other option can be to remove digest dependency from `NamingPolicy`: it would either be plai

[2020-05-29 06:53] 0crat commented on #208
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-29 07:40] #201 closed

[2020-05-29 07:40] 0pdd commented on #201
The puzzle `200-d9ed28fb` has disappeared from the source code, that's why I closed this issue.

[2020-05-29 07:41] 0pdd commented on #200
@olenagerasimova the only puzzle [#201](https://github.com/artipie/rpm-adapter/issues/201) is solved here.

[2020-05-29 07:59] 0crat commented on #201
Job `gh:artipie/rpm-adapter#201` is not assigned, can't get performer

[2020-05-29 08:31] g4s8 commented on #208
@olenagerasimova why it's not possible to create `Rpm` with `SHA256` or `SHA1`? As I know our clients are using `SHA1` file prefixes with `SHA256` checksums in `repomd.xml`. Also, it's like a standard to save rpm metadata files with `SHA256` checksums.

[2020-05-29 09:10] olenagerasimova commented on #208
@g4s8 ok, closing it then

[2020-05-29 09:16] #208 closed

[2020-05-29 10:23] olenagerasimova commented on #203
@g4s8 please, assign me

[2020-05-29 11:50] 0crat commented on #203
The job [#203](https://github.com/artipie/rpm-adapter/issues/203) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/83052ab7-19f0-4c61-83b5-0047f6a32671); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-29 14:50] 0crat commented on #166
@g4s8 The job [#166](https://github.com/artipie/rpm-adapter/issues/166) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/99c165a8-3671-4235-9ad8-df53902c669c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2020-05-29 14:59] 0crat commented on #176
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-29 15:00] 0crat commented on #205
The job [#205](https://github.com/artipie/rpm-adapter/issues/205) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/49ddb26b-a874-4f3a-a46f-44d88a3a2819); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-29 15:00] 0crat commented on #111
Job `gh:artipie/rpm-adapter#111` is not assigned, can't get performer

[2020-05-30 15:19] sereshqua commented on #195
@0crat quality bad

[2020-05-30 15:20] 0crat commented on #195
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-05-30 20:15] paulodamaso commented on #99
@g4s8 ping, we have #105 waiting for this. You can assign me if you want

[2020-05-30 20:17] paulodamaso commented on #106
@g4s8 did not got paid, please take a look

[2020-06-01 07:28] olenagerasimova commented on #162
@g4s8 why query URI does not have repository key? How we would know in what rpm repo this uploaded rpm should be added and what metadata files to update?

[2020-06-01 07:46] g4s8 commented on #162
@olenagerasimova @paulodamaso I suppose we will trim this path on Artipie level using these classes soon: https://github.com/artipie/http/pull/164 because RPM repository doesn't need such information as repository name: Artipie server finds the relevant RPM repository, RPM repository updates metadata files based on relative path. Does it make sense?

[2020-06-01 09:43] olenagerasimova commented on #162
@g4s8 I'm not sure I understand the idea: now we can update/create rpm repositories by `key` - that means that there are several repositories in our storage. If I want to put one more rpm file into one of the existing rpm repository I have to know the repository `key`. Or in this case we will obtain repo key from `X-FullPath` header?

[2020-06-01 10:48] 0pdd commented on #206
The puzzle `106-c1f3bb3a` has disappeared from the source code, that's why I closed this issue.

[2020-06-01 10:48] #206 closed

[2020-06-01 10:48] 0pdd commented on #69
@victornoel 5 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#166](https://github.com/artipie/rpm-adapter/issues/166), [#191](https://github.com/artipie/rpm-adapter/issues/191) are still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/1

[2020-06-01 10:48] 0pdd commented on #78
@0pdd all 2 puzzles are solved here: [#106](https://github.com/artipie/rpm-adapter/issues/106), [#206](https://github.com/artipie/rpm-adapter/issues/206).

[2020-06-01 10:48] 0pdd commented on #106
@0pdd the only puzzle [#206](https://github.com/artipie/rpm-adapter/issues/206) is solved here.

[2020-06-01 10:56] g4s8 commented on #162
@olenagerasimova repository storage doesn't care about full path of repository in storage, for example the user sends the request to upload: `PUT https://central.artipie.com/centos8/nginx-1.0.rpm`, Artipie routing removes `/centos8` part from the path and `RpmSlice` receives `PUT https://central.artipie.com/nginx-1.0.rpm` request (path = `/nginx-1.0.rpm`), and it's uploading the file to storage by

[2020-06-01 10:58] g4s8 commented on #106
@0crat pay 30min @paulodamaso

[2020-06-01 11:07] 0crat commented on #206
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-01 11:23] g4s8 commented on #99
@0crat assign @paulodamaso

[2020-06-01 11:25] 0crat commented on #99
@g4s8 The job [#99](https://github.com/artipie/rpm-adapter/issues/99) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8e9e0951-7f9f-4c9f-b0b1-119b285706c0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-06-01 11:26] 0crat commented on #99
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-01 12:17] sereshqua commented on #206
@0crat quality good

[2020-06-01 13:42] g4s8 opened #213 "Basic auth for RPM repo"
Add HTTP basic authentication for RPM download slice, see this SO answer for details: https://stackoverflow.com/a/26852734/1723695

[2020-06-01 16:02] 0crat commented on #213
The job [#213](https://github.com/artipie/rpm-adapter/issues/213) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0fd59d70-7284-4902-acb9-1bde647881d9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-01 17:24] olenagerasimova commented on #162
@g4s8 thanks for the explanation, I got it now

[2020-06-02 10:58] carlosmiranda opened #217 "CliArgumentsTest.testWrongArgumentCount is a bad test"
Current code in `CliArgumentsTest`:

[code]

There is a glaring flaw in this test. I presume `main` is supposed to throw an exception. But _if it is not_, the `catch` block will be skipped and the test will pass (since there are no assertions outside `catch`.

Let's use `assertThrows` instead. See [Junit 5 docs](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions).

[2020-06-02 10:58] 0crat commented on #217
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-02 11:49] 0crat commented on #217
The job [#217](https://github.com/artipie/rpm-adapter/issues/217) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1ecc11e2-efac-4cce-b79d-5a566f969d15); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-02 13:21] #190 closed

[2020-06-02 13:21] 0pdd commented on #190
The puzzle `63-70804367` has disappeared from the source code, that's why I closed this issue.

[2020-06-02 13:22] 0pdd opened #218 "RpmTest.java:43-46: Don't change metadata when invalid..."
The puzzle `190-d298c6d5` from #190 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/19556b01d1294a33853eb6a65b7711bc2539349e/src/test/java/com/artipie/rpm/RpmTest.java#L43-L46

The puzzle was created by @olegmoz on 02-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-06-02 13:22] 0pdd commented on #63
@g4s8 the puzzle [#218](https://github.com/artipie/rpm-adapter/issues/218) is still not solved; solved: [#190](https://github.com/artipie/rpm-adapter/issues/190).

[2020-06-02 13:22] 0pdd commented on #190
@0pdd the puzzle [#218](https://github.com/artipie/rpm-adapter/issues/218) is still not solved.

[2020-06-02 13:22] 0crat commented on #218
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-02 13:25] olegmoz commented on #218
@g4s8 could you please assign me on this issue, so I solve original problem?

[2020-06-02 13:45] 0crat commented on #190
Job `gh:artipie/rpm-adapter#190` is not assigned, can't get performer

[2020-06-02 14:24] 0crat commented on #218
The job [#218](https://github.com/artipie/rpm-adapter/issues/218) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/dbd92fd2-4fcf-43db-82f0-0b2fce291afc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-06-02 15:21] marceloamadeu commented on #205
@0crat status

[2020-06-02 15:23] 0crat commented on #205
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#205](https://github.com/artipie/rpm-adapter/issues/205) is [in scope](http://www.zerocracy.com/policy.html#14) for 4days
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [4days](http://www.zerocracy.com/po

[2020-06-02 15:47] #205 closed

[2020-06-02 15:47] 0pdd commented on #205
The puzzle `113-cf87a1eb` has disappeared from the source code, that's why I closed this issue.

[2020-06-02 15:47] 0pdd commented on #68
@g4s8 the puzzle [#176](https://github.com/artipie/rpm-adapter/issues/176) is still not solved; solved: [#113](https://github.com/artipie/rpm-adapter/issues/113), [#114](https://github.com/artipie/rpm-adapter/issues/114), [#205](https://github.com/artipie/rpm-adapter/issues/205), [#89](https://github.com/artipie/rpm-adapter/issues/89).

[2020-06-02 15:47] 0pdd commented on #89
@0pdd the puzzle [#176](https://github.com/artipie/rpm-adapter/issues/176) is still not solved; solved: [#113](https://github.com/artipie/rpm-adapter/issues/113), [#114](https://github.com/artipie/rpm-adapter/issues/114), [#205](https://github.com/artipie/rpm-adapter/issues/205).

[2020-06-02 15:47] 0pdd commented on #113
@0pdd the only puzzle [#205](https://github.com/artipie/rpm-adapter/issues/205) is solved here.

[2020-06-02 15:48] #117 closed

[2020-06-02 15:48] 0pdd commented on #117
The puzzle `83-a430163f` has disappeared from the source code, that's why I closed this issue.

[2020-06-02 15:48] 0pdd opened #219 "XmlPrimary.java:43-47: Fix metadata 'packages' attribute..."
The puzzle `117-c6ba630d` from #117 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/bf08bf98313d1469f51ffda619340e3ffd704baf/src/main/java/com/artipie/rpm/meta/XmlPrimary.java#L43-L47

The puzzle was created by paulodamaso on 25-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-06-02 15:48] 0pdd opened #220 "XmlPrimary.java:48-54: Fix 'provides' element generation..."
The puzzle `117-c0f32a4a` from #117 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/bf08bf98313d1469f51ffda619340e3ffd704baf/src/main/java/com/artipie/rpm/meta/XmlPrimary.java#L48-L54

The puzzle was created by paulodamaso on 25-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-06-02 15:48] 0pdd commented on #69
@victornoel 6 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#166](https://github.com/artipie/rpm-adapter/issues/166), [#191](https://github.com/artipie/rpm-adapter/issues/191), [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220) are still not solved; sol

[2020-06-02 15:48] 0pdd commented on #83
@0pdd 2 puzzles [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220) are still not solved; solved: [#117](https://github.com/artipie/rpm-adapter/issues/117).

[2020-06-02 15:48] 0pdd commented on #117
@0pdd 2 puzzles [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220) are still not solved.

[2020-06-02 15:50] 0crat commented on #220
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-02 15:50] 0crat commented on #219
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-02 16:06] 0crat commented on #205
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-02 16:07] 0crat commented on #117
Job `gh:artipie/rpm-adapter#117` is not assigned, can't get performer

[2020-06-02 19:04] olenagerasimova commented on #219
@g4s8 please assign me

[2020-06-02 19:05] olenagerasimova commented on #220
@g4s8 please assign me

[2020-06-02 20:16] sereshqua commented on #205
@0crat quality good

[2020-06-03 05:20] olenagerasimova commented on #203
done in #209

[2020-06-03 05:20] #203 closed

[2020-06-03 05:47] 0crat commented on #203
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-03 06:14] sereshqua commented on #203
@0crat quality acceptable

[2020-06-03 06:14] sereshqua commented on #203
@olenagerasimova FYI, if ticket creator = ticket performer, quality would never be good, sorry :)

[2020-06-03 08:10] 0crat commented on #220
The job [#220](https://github.com/artipie/rpm-adapter/issues/220) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/69a4a025-42a0-40f0-b6bd-35f62b820d84); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-03 08:10] 0crat commented on #219
The job [#219](https://github.com/artipie/rpm-adapter/issues/219) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d94d7593-06fc-4f32-999c-15e748a05d02); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-03 08:47] #192 closed

[2020-06-03 08:47] 0pdd commented on #192
The puzzle `178-1f21b2fa` has disappeared from the source code, that's why I closed this issue.

[2020-06-03 08:47] 0pdd opened #224 "Rpm.java:241-242: Extract repeating code from..."
The puzzle `192-3e5a54da` from #192 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/df77ea2f2f929c94c307b06b702e850bd516f6c6/src/main/java/com/artipie/rpm/Rpm.java#L241-L242

The puzzle was created by @olenagerasimova on 02-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-06-03 08:47] 0pdd commented on #124
@g4s8 the puzzle [#224](https://github.com/artipie/rpm-adapter/issues/224) is still not solved; solved: [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [#137](https://github.com/artipie/rpm-adapter/issues/137), [#138](https://github.com/artipie/rpm-adapter/issues/138), [#141](https://github.com/artipie/rpm-adapter/issues/141), [

[2020-06-03 08:47] 0pdd commented on #138
@0pdd the puzzle [#224](https://github.com/artipie/rpm-adapter/issues/224) is still not solved; solved: [#141](https://github.com/artipie/rpm-adapter/issues/141), [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178), [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193).

[2020-06-03 08:47] 0pdd commented on #141
@0pdd the puzzle [#224](https://github.com/artipie/rpm-adapter/issues/224) is still not solved; solved: [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178), [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193).

[2020-06-03 08:47] 0pdd commented on #178
@0pdd the puzzle [#224](https://github.com/artipie/rpm-adapter/issues/224) is still not solved; solved: [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193).

[2020-06-03 08:47] 0pdd commented on #192
@0pdd the puzzle [#224](https://github.com/artipie/rpm-adapter/issues/224) is still not solved.

[2020-06-03 08:48] 0crat commented on #224
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-03 08:59] 0crat commented on #224
The job [#224](https://github.com/artipie/rpm-adapter/issues/224) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f7da6dd8-2bd6-4b63-9f22-5ea572f02ff2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-06-03 09:06] 0crat commented on #192
Job `gh:artipie/rpm-adapter#192` is not assigned, can't get performer

[2020-06-03 09:30] olegmoz commented on #224
@g4s8 sorry, but may be you meant to assign @olenagerasimova ?

[2020-06-03 09:40] g4s8 commented on #224
@olenagerasimova what do you think?

[2020-06-03 09:41] olenagerasimova commented on #224
@g4s8 I do not mind to take this issue

[2020-06-03 09:55] 0crat commented on #224
@g4s8[/z](https://www.0crat.com/u/g4s8) I see that you unassigned this issue; the order is still assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-03 10:03] 0crat commented on #224
The job [#224](https://github.com/artipie/rpm-adapter/issues/224) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e893dd7f-d26d-45c7-b155-2f69b3f214d6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-03 10:36] olenagerasimova opened #226 "Extract class from `Rpm#meta`"
Extract class from `com.artipie.rpm.Rpm#meta` and create proper test for it, this code is repeating in the project.

UPD Changed the issue

[2020-06-03 10:36] 0crat commented on #226
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-03 11:28] g4s8 commented on #226
@olenagerasimova don't forget that `Rpm` class is currently in use by our clients, and any API changes are not welcome.

[2020-06-03 11:31] olenagerasimova commented on #226
@g4s8 thanks for the reminder, I've updated the issue.

[2020-06-03 11:48] olenagerasimova opened #227 "Extend RpmTest"
Test for `Rpm` have to be extended:
- [x]  in `doesntBrakeMetadataWhenInvalidPackageSent` we have make sure that not only repomd.xml is not changed, but other 3 metadata files: primary, other and filelist. The best way to check it I see is to stash xmls after the first update and compare them against the files after second update with broken package.
- [x]  we have to make sure that tempdir is cle

[2020-06-03 11:48] 0crat commented on #227
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-03 11:55] olenagerasimova opened #228 "Invalid RPM on incremental update"
Incremental update `updateBatchIncrementally` should behave the same as `updateBatch` if repository contains invalid rpm file: ignore such packages. Add corresponding test first and then fix the behavior.

[2020-06-03 11:56] 0crat commented on #228
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-03 11:56] olenagerasimova commented on #228
@g4s8 please assign me

[2020-06-03 12:00] 0crat commented on #228
The job [#228](https://github.com/artipie/rpm-adapter/issues/228) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d50c5978-441d-415b-bf6a-b0f508b91aba); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-03 12:00] 0crat commented on #228
The job [#228](https://github.com/artipie/rpm-adapter/issues/228) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/314a3cec-fcad-49ea-bfc7-ed8eda7b9fdd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-03 12:01] 0crat commented on #228
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [72a31887-8119-43ba-9992-422347a12eed](https://www.0crat.com/footprint/CT2E6TK9B/72a31887-8119-43ba-9992-422347a12eed), Type: "Order was given"

[2020-06-03 15:51] 0crat commented on #176
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-03 15:51] 0crat commented on #166
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-03 15:51] 0crat commented on #168
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-04 07:33] #218 closed

[2020-06-04 07:34] 0pdd commented on #63
@g4s8 all 2 puzzles are solved here: [#190](https://github.com/artipie/rpm-adapter/issues/190), [#218](https://github.com/artipie/rpm-adapter/issues/218).

[2020-06-04 07:34] 0pdd commented on #190
@0pdd the only puzzle [#218](https://github.com/artipie/rpm-adapter/issues/218) is solved here.

[2020-06-04 07:54] 0crat commented on #218
Job [#218](https://github.com/artipie/rpm-adapter/issues/218) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-04 07:55] 0crat commented on #218
Job was finished in 41 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-04 07:55] 0crat commented on #218
Job [#218](https://github.com/artipie/rpm-adapter/issues/218) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-04 07:57] 0crat commented on #218
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-04 08:09] sereshqua commented on #218
@0crat quality good

[2020-06-04 08:40] g4s8 opened #230 "FileAlreadyExistsException when updating metadata"
RPM adapter failed once on testing stage with error:
[code]
And with logs:
[code]
The update was started simultaneously from different threads (most probably).

The solution could be to throw an exception if multiple updates started simultaneously for one repository.

[2020-06-04 08:59] 0crat commented on #230
The job [#230](https://github.com/artipie/rpm-adapter/issues/230) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4e697089-bbab-4d06-afa6-bd95537fd838); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-04 11:38] g4s8 opened #232 "RpmITCase is not correct"
`RpmITCase` is not correct: it's creating `repo` temp directory before each test and extracts the content of RPM test bundle into this directory, but the bundle is extracted as children directory to `repo` dir:
[code]
But `batchUpdate` is called against `repo/` directory, we should either move all content of `bundle*` to `repo` and delete `bundle*` or run `batchUpdate` for `repo/bundle*` directory

[2020-06-04 11:46] 0crat commented on #232
The job [#232](https://github.com/artipie/rpm-adapter/issues/232) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/bec59e13-5d9e-46a4-954b-c71169139952); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-04 14:11] olenagerasimova commented on #232
@g4s8 fixed in #233. Honestly, I run this test a lot locally, but I have patch which skips loading and unpacking by moving rpms from once downloaded and unpacked `bundle*` to temp, that's way I never noticed this problem(

[2020-06-04 16:00] olenagerasimova commented on #232
@g4s8 please close

[2020-06-04 16:27] #232 closed

[2020-06-04 16:46] 0crat commented on #232
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-04 16:46] 0crat commented on #232
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-04 16:47] 0crat commented on #232
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#232](https://github.com/artipie/rpm-adapter/issues/232), since the job is not in scope anymore

[2020-06-04 16:47] 0crat commented on #232
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [97b05b2e-7f68-442b-b46c-7ae43d99da7b](https://www.0crat.com/footprint/CT2E6TK9B/97b05b2e-7f68-442b-b46c-7ae43d99da7b), Type: "Order was canceled"

[2020-06-04 20:29] sereshqua commented on #232
@0crat quality good

[2020-06-05 06:30] olenagerasimova commented on #230
@g4s8 please take a look at #234, let's merge it and then I fix the bug.

[2020-06-05 07:48] olenagerasimova opened #235 "Introduce class with test rpm"
Introduce class in the test scope with test rpms, class have to:
- hide paths to test rpms
- be able to add these test rpms into supplied storage (one by one)
- add invalid rpm into storage (see `RpmTest.doesntBrakeMetadataWhenInvalidPackageSent`)

Then use this class in all tests that use test rpms.
Also, it would be useful to add one any rpm into test resources.

[2020-06-05 07:48] 0crat commented on #235
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-05 10:07] olenagerasimova opened #236 "Incremental update fails on new repo"
Incremental update does not work on repository without existing metadata. There are two problems:
- the simple one: `Rpm#meta` fails if metadata file was not found
- the hard one: incremental update parses rpms one by one (if parsing is required) when usual update does it simultaneously. Parallelism is invoked on `Rpm` class level.

As far as I see, solutions can differ depending on our strategy:

[2020-06-05 10:07] 0crat commented on #236
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-05 10:38] g4s8 commented on #236
@olenagerasimova I think it would be better to keep only incremental update here.

[2020-06-05 10:47] #224 closed

[2020-06-05 10:47] 0pdd commented on #224
The puzzle `192-3e5a54da` has disappeared from the source code, that's why I closed this issue.

[2020-06-05 10:47] 0pdd commented on #124
@g4s8 all 14 puzzles are solved here: [#135](https://github.com/artipie/rpm-adapter/issues/135), [#136](https://github.com/artipie/rpm-adapter/issues/136), [#137](https://github.com/artipie/rpm-adapter/issues/137), [#138](https://github.com/artipie/rpm-adapter/issues/138), [#141](https://github.com/artipie/rpm-adapter/issues/141), [#143](https://github.com/artipie/rpm-adapter/issues/143), [#144](h

[2020-06-05 10:47] 0pdd commented on #138
@0pdd all 6 puzzles are solved here: [#141](https://github.com/artipie/rpm-adapter/issues/141), [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178), [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193), [#224](https://github.com/artipie/rpm-adapter/issues/224).

[2020-06-05 10:47] 0pdd commented on #141
@0pdd all 5 puzzles are solved here: [#177](https://github.com/artipie/rpm-adapter/issues/177), [#178](https://github.com/artipie/rpm-adapter/issues/178), [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193), [#224](https://github.com/artipie/rpm-adapter/issues/224).

[2020-06-05 10:47] 0pdd commented on #178
@0pdd all 3 puzzles are solved here: [#192](https://github.com/artipie/rpm-adapter/issues/192), [#193](https://github.com/artipie/rpm-adapter/issues/193), [#224](https://github.com/artipie/rpm-adapter/issues/224).

[2020-06-05 10:47] 0pdd commented on #192
@0pdd the only puzzle [#224](https://github.com/artipie/rpm-adapter/issues/224) is solved here.

[2020-06-05 11:06] 0crat commented on #224
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-05 11:19] sereshqua commented on #224
@0crat quality good

[2020-06-06 11:50] 0crat commented on #99
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-06 16:47] 0crat commented on #213
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-06 19:09] paulodamaso commented on #113
@g4s8 PLease take a look, I didn't got paid for this one

[2020-06-06 19:13] paulodamaso commented on #117
@g4s8 It is stuck, please take a look

[2020-06-07 04:22] marceloamadeu commented on #176
@0crat status

[2020-06-07 04:22] marceloamadeu commented on #168
@0crat status

[2020-06-07 04:22] marceloamadeu commented on #166
@0crat status

[2020-06-07 04:23] 0crat commented on #176
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#176](https://github.com/artipie/rpm-adapter/issues/176) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [9days](http://www.zerocracy.com/po

[2020-06-07 04:23] 0crat commented on #168
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#168](https://github.com/artipie/rpm-adapter/issues/168) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [9days](http://www.zerocracy.com/po

[2020-06-07 04:23] 0crat commented on #166
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#166](https://github.com/artipie/rpm-adapter/issues/166) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [9days](http://www.zerocracy.com/po

[2020-06-07 04:25] marceloamadeu commented on #176
@0crat wait

[2020-06-07 04:25] marceloamadeu commented on #168
@0crat wait

[2020-06-07 08:37] victornoel commented on #217
@0crat wait for #239 to be merged

[2020-06-07 08:50] victornoel commented on #213
@0crat wait for #240 to be merged.

[2020-06-08 08:07] olenagerasimova opened #241 "Metadata files validation"
We need an instrument to validate metadata files in tests. Let's create corresponding classes in test scope, we need to check:
- metadata is valid xml file
- metadata contains given the number of packages
- metadata has info about given packages

After implementation use these instruments in tests classes.

[2020-06-08 08:08] 0crat commented on #241
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-08 08:09] olenagerasimova commented on #241
@g4s8 assign me

[2020-06-08 08:50] 0crat commented on #219
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-08 08:50] 0crat commented on #220
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-08 12:48] 0crat commented on #228
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-08 13:02] 0crat commented on #241
The job [#241](https://github.com/artipie/rpm-adapter/issues/241) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/99a67798-642b-4ae0-b2a6-7769203151c9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-08 14:58] 0crat commented on #166
The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#166](https://github.com/artipie/rpm-adapter/issues/166), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-08 18:45] 0crat commented on #166
The job [#166](https://github.com/artipie/rpm-adapter/issues/166) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c92cb4b2-cbb6-4660-a1cc-7b0f249b7e7f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-08 19:05] victornoel commented on #166
@0crat refuse

[2020-06-08 19:06] 0crat commented on #166
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#166](https://github.com/artipie/rpm-adapter/issues/166), please stop working. Reason for job resignation: Order was cancelled

[2020-06-08 19:07] 0crat commented on #166
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [469ecdc8-1949-4047-b2b3-c42b5b7f45b8](https://www.0crat.com/footprint/CT2E6TK9B/469ecdc8-1949-4047-b2b3-c42b5b7f45b8), Type: "Order was canceled"

[2020-06-08 19:07] 0crat commented on #166
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-09 07:37] victornoel commented on #217
@carlosmiranda this has been fixed

[2020-06-09 09:49] 0pdd opened #244 "StorageLock.java:35-38: Use this class in RPM update to..."
The puzzle `230-3a08fd65` from #230 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/c5b426bf46ca004352abdd1fc8ff4aaf62245abf/src/main/java/com/artipie/rpm/misc/StorageLock.java#L35-L38

The puzzle was created by olenagerasimova on 08-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-06-09 09:49] 0pdd opened #245 "StorageLock.java:39-40: Consider waiting for the lock to..."
The puzzle `230-d8ecbde2` from #230 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/c5b426bf46ca004352abdd1fc8ff4aaf62245abf/src/main/java/com/artipie/rpm/misc/StorageLock.java#L39-L40

The puzzle was created by olenagerasimova on 09-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-06-09 09:49] 0pdd commented on #230
@g4s8 2 puzzles [#244](https://github.com/artipie/rpm-adapter/issues/244), [#245](https://github.com/artipie/rpm-adapter/issues/245) are still not solved.

[2020-06-09 09:50] 0crat commented on #245
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-09 09:50] 0crat commented on #244
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-09 09:51] olenagerasimova commented on #244
@0crat assign me

[2020-06-09 09:58] 0crat commented on #244
@olenagerasimova The job [#244](https://github.com/artipie/rpm-adapter/issues/244) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c97f9000-4563-42cf-b8a6-9f7c1e6745b0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-09 09:58] 0crat commented on #230
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-09 10:15] carlosmiranda commented on #217
@victornoel thanks!

[2020-06-09 10:15] #217 closed

[2020-06-09 15:56] victornoel commented on #217
@0crat status

[2020-06-09 15:57] 0crat commented on #217
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#217](https://github.com/artipie/rpm-adapter/issues/217) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [7days](http://www.zerocracy.com/policy.html

[2020-06-09 16:06] g4s8 commented on #217
@0crat out

[2020-06-09 16:08] 0crat commented on #217
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-09 16:19] olenagerasimova commented on #117
@0crat out

[2020-06-09 16:27] 0crat commented on #117
@olenagerasimova Job `gh:artipie/rpm-adapter#117` is not assigned, can't get performer

[2020-06-09 16:32] olenagerasimova commented on #110
@g4s8 I'm afraid that we implemented skipping invalid packages on update instead of failing the update in #223. Could you please tell what was the desired behavior?

[2020-06-09 18:21] olenagerasimova commented on #166
@0crat assign me

[2020-06-09 18:23] olenagerasimova commented on #235
@0crat assign me

[2020-06-09 18:24] 0crat commented on #166
@olenagerasimova The job [#166](https://github.com/artipie/rpm-adapter/issues/166) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/85e019cb-4e7c-4c76-be85-80a90085540c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-09 18:25] 0crat commented on #235
@olenagerasimova The job [#235](https://github.com/artipie/rpm-adapter/issues/235) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6a4a98cd-219f-4ac0-b52f-7676dc39da54); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-09 19:28] sereshqua commented on #217
@0crat quality good

[2020-06-10 08:03] 0pdd opened #248 "TestRpm.java:37-40: Continue test rpms implementation:..."
The puzzle `235-1ed04df5` from #235 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/aa096e0866386ef37e21436b3241138ae929b895/src/test/java/com/artipie/rpm/TestRpm.java#L37-L40

The puzzle was created by @olenagerasimova on 09-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-06-10 08:03] 0pdd commented on #235
@olenagerasimova the puzzle [#248](https://github.com/artipie/rpm-adapter/issues/248) is still not solved.

[2020-06-10 08:04] 0crat commented on #248
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-10 08:11] olenagerasimova commented on #248
@0crat in

[2020-06-10 08:44] 0crat commented on #248
The job [#248](https://github.com/artipie/rpm-adapter/issues/248) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1544e165-1e72-4d41-86ab-4bf4dcd05852); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-10 11:44] 0pdd opened #250 "Rpm.java:306-307: After..."
The puzzle `240-b0f96bd8` from #240 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/61378de4e7ab8caaebe4df78c707da52928e1cea/src/main/java/com/artipie/rpm/Rpm.java#L306-L307

The puzzle was created by @olenagerasimova on 09-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-06-10 11:45] 0crat commented on #250
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-11 04:46] olenagerasimova commented on #110
@g4s8 agree, thanks

[2020-06-11 05:34] olenagerasimova commented on #226
@0crat assign me

[2020-06-11 05:35] 0crat commented on #226
@olenagerasimova The job [#226](https://github.com/artipie/rpm-adapter/issues/226) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/80eca882-a13a-435a-ba3d-d15a1e09486c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-11 07:09] 0pdd opened #253 "RpmUpload.java:33-50: Finish implementation of RpmUpload..."
The puzzle `162-efa52435` from #162 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/16abd083878c0dbffbadebf27343c7011fc78378/src/main/java/com/artipie/rpm/http/RpmUpload.java#L33-L50

The puzzle was created by paulodamaso on 24-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-06-11 07:09] 0pdd commented on #162
@g4s8 the puzzle [#253](https://github.com/artipie/rpm-adapter/issues/253) is still not solved.

[2020-06-11 07:10] 0crat commented on #253
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-11 07:11] olenagerasimova commented on #253
@0crat assign me

[2020-06-11 07:12] 0crat commented on #253
@olenagerasimova The job [#253](https://github.com/artipie/rpm-adapter/issues/253) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b8f3ccb8-7df0-4ef9-85b8-c7cb5d99f6af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-11 08:08] #220 closed

[2020-06-11 08:08] 0pdd commented on #220
The puzzle `117-c0f32a4a` has disappeared from the source code, that's why I closed this issue.

[2020-06-11 08:09] 0pdd opened #254 "XmlPrimary.java:432-439: We need to experimentally check..."
The puzzle `220-c707f9f7` from #220 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/a1ea5a436ece42ee3dfa2c19406de9a2d97ac022/src/main/java/com/artipie/rpm/meta/XmlPrimary.java#L432-L439

The puzzle was created by @olenagerasimova on 03-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2020-06-11 08:09] 0pdd opened #255 "XmlPrimary.java:440-442: Provides entry also can have..."
The puzzle `220-dd2fed2e` from #220 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/a1ea5a436ece42ee3dfa2c19406de9a2d97ac022/src/main/java/com/artipie/rpm/meta/XmlPrimary.java#L440-L442

The puzzle was created by @olenagerasimova on 03-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2020-06-11 08:09] 0pdd commented on #69
@victornoel 5 puzzles [#105](https://github.com/artipie/rpm-adapter/issues/105), [#154](https://github.com/artipie/rpm-adapter/issues/154), [#166](https://github.com/artipie/rpm-adapter/issues/166), [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255) are still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/1

[2020-06-11 08:09] 0pdd commented on #83
@0pdd 2 puzzles [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255) are still not solved; solved: [#117](https://github.com/artipie/rpm-adapter/issues/117), [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220).

[2020-06-11 08:09] 0pdd commented on #117
@0pdd 2 puzzles [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255) are still not solved; solved: [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220).

[2020-06-11 08:09] 0pdd commented on #220
@0pdd 2 puzzles [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255) are still not solved.

[2020-06-11 08:09] 0crat commented on #254
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-11 08:12] 0crat commented on #255
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-11 12:39] olenagerasimova commented on #162
@g4s8 please close, #253 was merged

[2020-06-11 12:40] 0pdd opened #257 "FileInDir.java:34-37: Add one more (at least) test for..."
The puzzle `226-ba71598e` from #226 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/99cb8ae09499295271ff364bcc901cb8a6947b65/src/main/java/com/artipie/rpm/misc/FileInDir.java#L34-L37

The puzzle was created by @olenagerasimova on 11-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-06-11 12:40] 0pdd commented on #226
@olenagerasimova the puzzle [#257](https://github.com/artipie/rpm-adapter/issues/257) is still not solved.

[2020-06-11 12:41] 0crat commented on #257
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-11 12:42] olenagerasimova commented on #257
@0crat in

[2020-06-11 13:16] #162 closed

[2020-06-11 13:33] 0crat commented on #162
Job `gh:artipie/rpm-adapter#162` is not assigned, can't get performer

[2020-06-11 15:07] 0crat commented on #257
The job [#257](https://github.com/artipie/rpm-adapter/issues/257) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1e41256a-4fe1-4344-b70a-dd6822494443); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-13 13:48] 0crat commented on #241
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-14 10:11] victornoel commented on #257
@0crat wait for #258

[2020-06-14 10:45] 0crat commented on #244
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-14 18:43] 0crat commented on #166
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-14 18:44] 0crat commented on #235
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-15 04:41] 0pdd opened #259 "RpmSlice.java:42-46: Add integration tests for RpmSlice..."
The puzzle `213-52d0fd27` from #213 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/a3aca1dfc7d96212ee7b66eb210711976a0cca0e/src/main/java/com/artipie/rpm/http/RpmSlice.java#L42-L46

The puzzle was created by Victor Noël on 07-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-06-15 04:41] 0pdd commented on #213
@g4s8 the puzzle [#259](https://github.com/artipie/rpm-adapter/issues/259) is still not solved.

[2020-06-15 04:42] 0crat commented on #259
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-15 04:56] olenagerasimova commented on #228
#229 merged

[2020-06-15 04:56] #228 closed

[2020-06-15 05:04] olenagerasimova commented on #259
@0crat assign me

[2020-06-15 05:05] #235 closed

[2020-06-15 05:06] #226 closed

[2020-06-15 05:06] 0crat commented on #259
@olenagerasimova The job [#259](https://github.com/artipie/rpm-adapter/issues/259) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1031098d-a28f-49e1-90e4-c3235804ed0c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-15 05:06] olenagerasimova commented on #213
@g4s8 please close, #240 was merged

[2020-06-15 06:51] #253 closed

[2020-06-15 06:51] 0pdd commented on #253
The puzzle `162-efa52435` has disappeared from the source code, that's why I closed this issue.

[2020-06-15 06:51] 0pdd opened #260 "RpmUpload.java:48-53: Finish implementation of RpmUpload..."
The puzzle `253-431eeb6b` from #253 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/13730e8292b7b1d0f64b64f58fae8670429777c4/src/main/java/com/artipie/rpm/http/RpmUpload.java#L48-L53

The puzzle was created by @olenagerasimova on 11-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-06-15 06:51] g4s8 commented on #235
@rultor release, tag=`0.9`

[2020-06-15 06:51] 0pdd commented on #162
@g4s8 the puzzle [#260](https://github.com/artipie/rpm-adapter/issues/260) is still not solved; solved: [#253](https://github.com/artipie/rpm-adapter/issues/253).

[2020-06-15 06:52] 0pdd commented on #253
@0pdd the puzzle [#260](https://github.com/artipie/rpm-adapter/issues/260) is still not solved.

[2020-06-15 06:52] 0crat commented on #260
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-15 06:52] rultor commented on #235
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22359-643939039)

[2020-06-15 07:02] rultor commented on #235
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22359-643939039) (took me 9min)

[2020-06-15 07:34] #213 closed

[2020-06-15 08:00] 0crat commented on #213
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-15 08:03] 0crat commented on #110
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#110](https://github.com/artipie/rpm-adapter/issues/110), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-15 08:45] 0crat commented on #110
The job [#110](https://github.com/artipie/rpm-adapter/issues/110) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/18d6b3ad-5e25-4454-9fbf-3b4a21007f9d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-15 08:46] sereshqua commented on #213
@0crat quality good

[2020-06-15 13:12] paulodamaso commented on #110
@g4s8 could you please reassign it to me? #210 was reviewed twice, we had a lot of waiting time, and the PR is good to merge

[2020-06-15 14:59] olenagerasimova commented on #110
@0crat assign @paulodamaso

[2020-06-15 15:00] paulodamaso commented on #162
@g4s8 I didn't got paid for this one, please take a look

[2020-06-15 15:01] 0crat commented on #110
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-15 15:02] 0crat commented on #110
@olenagerasimova The job [#110](https://github.com/artipie/rpm-adapter/issues/110) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0d7f459a-f8ce-4200-b4ba-1ee668b8cd7a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.z

[2020-06-15 15:04] paulodamaso commented on #110
@olenagerasimova Thanks

[2020-06-15 15:13] olenagerasimova commented on #8
@yegor256 @LuBan-Liu closing this issue as it's not valid anymore: we have tests with multiple rpms, please check `RpmITCase` (hundred rpms) and `RpmTest` (two rpms)

[2020-06-15 15:13] #8 closed

[2020-06-15 15:16] olenagerasimova commented on #18
not valid anymore

[2020-06-15 15:16] #18 closed

[2020-06-15 15:17] olenagerasimova commented on #24
This problem is already fixed and released

[2020-06-15 15:17] #24 closed

[2020-06-15 15:21] olenagerasimova commented on #55
`RpmTest` was rewritten and does not have such method anymore. Moreover it works on both win and linux as we can see from github actions.

[2020-06-15 15:21] #55 closed

[2020-06-15 15:27] olenagerasimova commented on #73
@0crat assign me

[2020-06-15 15:31] 0crat commented on #8
Job `gh:artipie/rpm-adapter#8` is not assigned, can't get performer

[2020-06-15 15:31] 0crat commented on #73
@olenagerasimova The job [#73](https://github.com/artipie/rpm-adapter/issues/73) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/346113cc-57a4-4010-befd-831ce705517d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http:/

[2020-06-15 15:32] 0crat commented on #73
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-15 15:33] 0crat commented on #18
Job `gh:artipie/rpm-adapter#18` is not assigned, can't get performer

[2020-06-15 15:34] 0crat commented on #24
Job `gh:artipie/rpm-adapter#24` is not assigned, can't get performer

[2020-06-15 15:46] 0crat commented on #55
Job `gh:artipie/rpm-adapter#55` is not assigned, can't get performer

[2020-06-16 04:06] g4s8 commented on #162
@0crat status

[2020-06-16 04:10] 0crat commented on #162
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#162](https://github.com/artipie/rpm-adapter/issues/162) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%23162%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-06-16 09:02] 0crat commented on #230
The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#230](https://github.com/artipie/rpm-adapter/issues/230), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-16 09:04] olenagerasimova commented on #230
@0crat assign me

[2020-06-16 09:04] olenagerasimova commented on #230
@g4s8 please close, we already have puzzles to continue

[2020-06-16 09:05] 0crat commented on #230
@olenagerasimova The job [#230](https://github.com/artipie/rpm-adapter/issues/230) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c516b385-de60-421d-a199-b6674a86ee70); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-16 09:27] g4s8 commented on #230
@olenagerasimova thanks

[2020-06-16 09:27] #230 closed

[2020-06-16 09:29] olenagerasimova commented on #260
@olegmoz don't mind to solve this issue?

[2020-06-16 09:45] 0crat commented on #230
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-16 09:45] 0crat commented on #230
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [53420dd4-9a9d-468c-8a5e-1c8eaa8714d8](https://www.0crat.com/footprint/CT2E6TK9B/53420dd4-9a9d-468c-8a5e-1c8eaa8714d8), Type: "Order was finished"

[2020-06-16 10:03] olenagerasimova opened #263 "Rename method for incremental update"
Main methtod in `Rpm` is called `batchUpdate`, so I think that `updateBatchIncrementally` should be renamed to `batchUpdateIncrementally`

[2020-06-16 10:04] olenagerasimova commented on #263
@0crat assign me

[2020-06-16 10:08] 0crat commented on #263
@olenagerasimova The job [#263](https://github.com/artipie/rpm-adapter/issues/263) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/206c0650-a0f9-405c-9277-162d9e81cf66); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-16 11:45] olenagerasimova commented on #263
#264 merged

[2020-06-16 11:45] #263 closed

[2020-06-16 11:46] olenagerasimova commented on #263
@rultor release, tag=`0.9.1`

[2020-06-16 11:47] rultor commented on #263
@olenagerasimova Thanks for your request. @g4s8 Please confirm this.

[2020-06-16 11:55] g4s8 commented on #263
@olenagerasimova please try again

[2020-06-16 11:57] olenagerasimova commented on #263
@rultor release, tag=`0.9.1`

[2020-06-16 11:57] rultor commented on #263
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22377-644717256)

[2020-06-16 11:58] rultor commented on #263
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22377-644717256) (spent 16s)

[code]

[2020-06-16 12:03] 0crat commented on #263
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-16 12:35] olegmoz commented on #260
@olenagerasimova yes please assign it on me

[2020-06-16 13:03] 0crat commented on #260
The job [#260](https://github.com/artipie/rpm-adapter/issues/260) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9ca5f5b0-823e-471e-b138-7ccb1aebcf8f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-06-16 17:34] paulodamaso commented on #117
@olenagerasimova please take a look at this one, it seems stuck

[2020-06-16 17:46] paulodamaso commented on #110
@0crat wait for #210

[2020-06-16 18:31] olenagerasimova commented on #263
@rultor release, tag=`0.9.1`

[2020-06-16 18:33] rultor commented on #263
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22377-644940074)

[2020-06-16 18:42] rultor commented on #263
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22377-644940074) (took me 8min)

[2020-06-17 04:49] #248 closed

[2020-06-17 04:49] 0pdd commented on #248
The puzzle `235-1ed04df5` has disappeared from the source code, that's why I closed this issue.

[2020-06-17 04:49] 0pdd opened #265 "TestRpm.java:38-41: Add a method `name()` to this..."
The puzzle `248-3857a8d1` from #248 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/47dceda2395c4f814bbceefae9bc01575bbec399/src/test/java/com/artipie/rpm/TestRpm.java#L38-L41

The puzzle was created by Victor Noël on 16-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-06-17 04:49] 0pdd commented on #235
@olenagerasimova the puzzle [#265](https://github.com/artipie/rpm-adapter/issues/265) is still not solved; solved: [#248](https://github.com/artipie/rpm-adapter/issues/248).

[2020-06-17 04:49] 0pdd commented on #248
@0pdd the puzzle [#265](https://github.com/artipie/rpm-adapter/issues/265) is still not solved.

[2020-06-17 04:50] 0crat commented on #265
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-17 05:08] 0crat commented on #248
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-17 05:09] olenagerasimova commented on #265
@0crat in

[2020-06-17 05:11] sereshqua commented on #248
@0crat quality good

[2020-06-17 05:44] 0crat commented on #265
The job [#265](https://github.com/artipie/rpm-adapter/issues/265) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9918449e-984f-4289-a8c2-c7802b4cccbd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-17 08:17] olenagerasimova commented on #99
@0crat out

[2020-06-17 08:19] 0crat commented on #99
@olenagerasimova GitHub issue is still open, won't close

[2020-06-17 16:26] paulodamaso commented on #117
@olenagerasimova ping

[2020-06-17 16:42] paulodamaso commented on #99
@0crat wait

[2020-06-17 18:04] #105 closed

[2020-06-17 18:04] 0pdd commented on #105
The puzzle `81-6d01bf6b` has disappeared from the source code, that's why I closed this issue.

[2020-06-17 18:04] 0pdd commented on #69
@victornoel 4 puzzles [#154](https://github.com/artipie/rpm-adapter/issues/154), [#166](https://github.com/artipie/rpm-adapter/issues/166), [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255) are still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/1

[2020-06-17 18:04] 0pdd commented on #81
@0pdd all 4 puzzles are solved here: [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#147](https://github.com/artipie/rpm-adapter/issues/147).

[2020-06-17 18:13] 0pdd opened #268 "RpmTest.java:58-63: Meaningful error on broken package...."
The puzzle `110-69218d91` from #110 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/c1edca1dd4af55475867d2ec86c4e39d9ace0b45/src/test/java/com/artipie/rpm/RpmTest.java#L58-L63

The puzzle was created by paulodamaso on 12-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-06-17 18:13] 0pdd commented on #110
@g4s8 the puzzle [#268](https://github.com/artipie/rpm-adapter/issues/268) is still not solved.

[2020-06-17 18:13] 0crat commented on #268
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-17 18:18] #257 closed

[2020-06-17 18:18] 0pdd commented on #257
The puzzle `226-ba71598e` has disappeared from the source code, that's why I closed this issue.

[2020-06-17 18:18] 0pdd commented on #226
@olenagerasimova the only puzzle [#257](https://github.com/artipie/rpm-adapter/issues/257) is solved here.

[2020-06-17 18:22] 0crat commented on #105
Job `gh:artipie/rpm-adapter#105` is not assigned, can't get performer

[2020-06-17 18:45] 0crat commented on #257
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-17 19:11] sereshqua commented on #257
@0crat quality good

[2020-06-17 19:11] paulodamaso commented on #162
@g4s8 ping

[2020-06-18 07:06] g4s8 commented on #117
@0crat status

[2020-06-18 07:09] 0crat commented on #117
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#117](https://github.com/artipie/rpm-adapter/issues/117) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Frpm-adapter%23117%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-06-18 07:11] g4s8 commented on #117
@0crat pay 30min @paulodamaso

[2020-06-18 09:35] olenagerasimova opened #271 "Upload API: metadata recalculation"
Let's extend Upload API  by adding optional false by default query parameter to skip metadata recalculation. Parameter name can be `skip_update`.
How it should work:
- `skip_update` parameter is present and equals `false` or absent - we save rpm to storage and trigger metadata recalculation by calling `Rpm#batchUpdate`
- `skip_update` parameter is present and equals `true` - we save rpm to storage

[2020-06-18 09:36] olenagerasimova commented on #271
@g4s8 please, take a look. Any better suggestions for parameter name?

[2020-06-18 09:43] olenagerasimova commented on #154
@0crat in

[2020-06-18 10:47] 0crat commented on #154
The job [#154](https://github.com/artipie/rpm-adapter/issues/154) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/aa5f8373-a8f7-42fe-8885-d5bd22e6723c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-18 11:02] victornoel commented on #154
@0crat refuse

[2020-06-18 11:03] 0crat commented on #154
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#154](https://github.com/artipie/rpm-adapter/issues/154), please stop working. Reason for job resignation: Order was cancelled

[2020-06-18 11:03] 0crat commented on #154
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-18 11:51] 0crat commented on #154
The job [#154](https://github.com/artipie/rpm-adapter/issues/154) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/dcab3644-ae65-45e0-af2d-c2779bb9de66); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-19 05:36] g4s8 commented on #271
@olenagerasimova sounds correct. But I'd use another name for query param. Since metadata update is enabled by default, it may look more clear to use optional flag `skip_update` to skip it. WDYT?

[2020-06-19 05:38] #259 closed

[2020-06-19 05:38] 0pdd commented on #259
The puzzle `213-52d0fd27` has disappeared from the source code, that's why I closed this issue.

[2020-06-19 05:38] 0pdd opened #273 "RpmSlice.java:42-46: Add integration test for rpm..."
The puzzle `259-71347a14` from #259 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/a92d64bb5a3aa2a5e4aea2e3e7c438bf94615d9a/src/main/java/com/artipie/rpm/http/RpmSlice.java#L42-L46

The puzzle was created by @olenagerasimova on 17-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-06-19 05:38] 0pdd commented on #213
@g4s8 the puzzle [#273](https://github.com/artipie/rpm-adapter/issues/273) is still not solved; solved: [#259](https://github.com/artipie/rpm-adapter/issues/259).

[2020-06-19 05:38] 0pdd commented on #259
@0pdd the puzzle [#273](https://github.com/artipie/rpm-adapter/issues/273) is still not solved.

[2020-06-19 05:39] 0crat commented on #273
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-19 05:41] olenagerasimova commented on #271
@g4s8 sounds good, I've updated description

[2020-06-19 05:43] olenagerasimova commented on #271
@olegmoz dot'n you mind implementing this on the next week? Seems like we can do it in two PRs...

[2020-06-19 08:45] olenagerasimova opened #275 "Repository settings"
Naming policy, digest algorithm and filelists for rpm repository are configured on storage level. We need to accept these settings in `RpmUpload` and use them to create `Rpm` accordingly.

[2020-06-19 09:07] olenagerasimova commented on #275
@0crat assign me

[2020-06-19 09:09] 0crat commented on #275
@olenagerasimova The job [#275](https://github.com/artipie/rpm-adapter/issues/275) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6e1c9569-ee9d-4b76-99a6-3272294c6182); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-19 09:11] #260 closed

[2020-06-19 09:11] 0pdd commented on #162
@g4s8 all 2 puzzles are solved here: [#253](https://github.com/artipie/rpm-adapter/issues/253), [#260](https://github.com/artipie/rpm-adapter/issues/260).

[2020-06-19 09:11] 0pdd commented on #253
@0pdd the only puzzle [#260](https://github.com/artipie/rpm-adapter/issues/260) is solved here.

[2020-06-19 09:27] 0crat commented on #260
Job [#260](https://github.com/artipie/rpm-adapter/issues/260) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-19 09:28] 0crat commented on #260
Job [#260](https://github.com/artipie/rpm-adapter/issues/260) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-19 09:28] 0crat commented on #260
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-19 09:43] olegmoz commented on #271
@olenagerasimova yes please assign the ticket

[2020-06-19 09:58] 0crat commented on #271
The job [#271](https://github.com/artipie/rpm-adapter/issues/271) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/285f5c3e-fee1-4eef-b104-417bc0485de2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-06-19 10:12] sereshqua commented on #260
@0crat quality good

[2020-06-19 12:30] 0pdd opened #277 "PrimaryOutputTest.java:48-50: Extend this test: add test..."
The puzzle `241-299104fc` from #241 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/790b309d40175b7014e4e58ca197f2e7f0120b52/src/test/java/com/artipie/rpm/pkg/PrimaryOutputTest.java#L48-L50

The puzzle was created by @olenagerasimova on 18-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"d

[2020-06-19 12:30] 0pdd opened #278 "PrimaryOutputTest.java:88-90: Introduce class from this..."
The puzzle `241-a350bc6d` from #241 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/790b309d40175b7014e4e58ca197f2e7f0120b52/src/test/java/com/artipie/rpm/pkg/PrimaryOutputTest.java#L88-L90

The puzzle was created by olenagerasimova on 18-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-06-19 12:30] 0pdd commented on #241
@olenagerasimova 2 puzzles [#277](https://github.com/artipie/rpm-adapter/issues/277), [#278](https://github.com/artipie/rpm-adapter/issues/278) are still not solved.

[2020-06-19 12:32] olenagerasimova commented on #277
@0crat in

[2020-06-19 12:32] olenagerasimova commented on #278
@0crat in

[2020-06-19 12:33] 0crat commented on #278
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-19 12:33] 0crat commented on #277
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-19 12:34] olenagerasimova commented on #73
#266 merged

[2020-06-19 12:34] #73 closed

[2020-06-19 12:34] olenagerasimova commented on #241
#272 merged

[2020-06-19 12:34] #241 closed

[2020-06-19 12:36] olenagerasimova commented on #110
@g4s8 please close, #210 was merged

[2020-06-19 12:45] 0crat commented on #278
The job [#278](https://github.com/artipie/rpm-adapter/issues/278) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/58d732b3-c340-47ce-9e0b-bac58fe23c92); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-19 13:12] g4s8 commented on #110
@olenagerasimova thanks

[2020-06-19 13:12] #110 closed

[2020-06-19 13:30] 0crat commented on #110
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [bc3518a8-0bf4-443a-a06f-ccc49a5d768f](https://www.0crat.com/footprint/CT2E6TK9B/bc3518a8-0bf4-443a-a06f-ccc49a5d768f), Type: "Order was finished"

[2020-06-19 13:30] 0crat commented on #110
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-19 13:33] sereshqua commented on #110
@0crat quality good

[2020-06-19 13:36] g4s8 commented on #162
@0crat pay 30min @paulodamaso

[2020-06-19 14:02] 0crat commented on #277
The job [#277](https://github.com/artipie/rpm-adapter/issues/277) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e4a57ddb-68d1-45d6-9118-cab04f497ff1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-20 09:06] victornoel commented on #265
@olenagerasimova what is the meaning of the `name()` method for `Multiple`?

[2020-06-20 09:06] victornoel commented on #265
@0crat wait for answer

[2020-06-22 04:53] olenagerasimova commented on #265
@victornoel hm, for now I think it's ok just to throw some exception, `UnsupportedOperationException` for example. If later we will need to add other methods to `TestRpm` which are not consistent with `Multiple` implementation, we can separate these abstractions.

[2020-06-22 07:28] olenagerasimova commented on #273
@0crat assign me

[2020-06-22 07:46] 0crat commented on #273
@olenagerasimova The job [#273](https://github.com/artipie/rpm-adapter/issues/273) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/472021a6-6ecc-4155-b4d7-45d337804d48); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-22 12:42] olenagerasimova commented on #99
@paulodamaso @victornoel I'm closing this issue as I'm planning to reorganize `Repository`, `MetadataFile` and other `MetadataFile` abstractions, I do not see them implementing `Closable` after the reorganization.
@sereshqua please do not report bad quality on this issue as the job was actually done

[2020-06-22 12:42] #99 closed

[2020-06-22 12:47] 0crat commented on #275
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [92ffd047-a48d-4ac4-ae21-5ae21bfc7b76](https://www.0crat.com/footprint/CT2E6TK9B/92ffd047-a48d-4ac4-ae21-5ae21bfc7b76), Type: "Job milestoned"

[2020-06-22 12:47] 0crat commented on #273
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [ccbd70e0-cc31-428a-9284-ff4fca0d4a7f](https://www.0crat.com/footprint/CT2E6TK9B/ccbd70e0-cc31-428a-9284-ff4fca0d4a7f), Type: "Job milestoned"

[2020-06-22 12:47] 0crat commented on #271
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [9dbc209b-f5c2-483e-84e8-262dc208c455](https://www.0crat.com/footprint/CT2E6TK9B/9dbc209b-f5c2-483e-84e8-262dc208c455), Type: "Job milestoned"

[2020-06-22 12:59] 0crat commented on #99
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-22 13:00] sereshqua commented on #99
@0crat quality good

[2020-06-22 13:25] 0pdd opened #281 "RpmOptions.java:32-40: Repository options: create class..."
The puzzle `275-12a5bede` from #275 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/f5d7c1c115a1bee78dcd6bb3472899ca45c4a544/src/main/java/com/artipie/rpm/RpmOptions.java#L32-L40

The puzzle was created by @olenagerasimova on 19-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-06-22 13:25] 0pdd opened #282 "RpmOptions.java:41-42: Add unit test for this class to..."
The puzzle `275-eee2e5ba` from #275 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/f5d7c1c115a1bee78dcd6bb3472899ca45c4a544/src/main/java/com/artipie/rpm/RpmOptions.java#L41-L42

The puzzle was created by @olenagerasimova on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-06-22 13:25] 0crat commented on #281
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-22 13:25] 0pdd commented on #275
@olenagerasimova 2 puzzles [#281](https://github.com/artipie/rpm-adapter/issues/281), [#282](https://github.com/artipie/rpm-adapter/issues/282) are still not solved.

[2020-06-22 13:27] 0crat commented on #282
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-22 13:38] olenagerasimova commented on #282
@0crat in

[2020-06-22 13:47] 0crat commented on #281
The job [#281](https://github.com/artipie/rpm-adapter/issues/281) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/df4fa214-5d63-4481-a136-205508cec5f8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-22 14:33] olenagerasimova commented on #275
#276 merged

[2020-06-22 14:33] #275 closed

[2020-06-22 14:33] 0crat commented on #281
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [d9343bd1-0c22-455e-b4b0-110a52112773](https://www.0crat.com/footprint/CT2E6TK9B/d9343bd1-0c22-455e-b4b0-110a52112773), Type: "Job milestoned"

[2020-06-22 14:46] 0crat commented on #282
The job [#282](https://github.com/artipie/rpm-adapter/issues/282) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/936366ff-5695-44c3-a687-4f0d35ed3afa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-22 17:34] victornoel commented on #265
@0crat wait for #284 to be merged

[2020-06-22 17:49] 0crat commented on #265
@victornoel Job [#265](https://github.com/artipie/rpm-adapter/issues/265) is already on hold

[2020-06-23 04:37] 0pdd opened #285 "NodeHasPkgCount.java:33-37: This matcher should also..."
The puzzle `241-fffd0470` from #241 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/2bea7533e47134926a99f915a47afae0cd733a48/src/test/java/com/artipie/rpm/hm/NodeHasPkgCount.java#L33-L37

The puzzle was created by olenagerasimova on 18-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2020-06-23 04:37] 0pdd commented on #241
@olenagerasimova 3 puzzles [#277](https://github.com/artipie/rpm-adapter/issues/277), [#278](https://github.com/artipie/rpm-adapter/issues/278), [#285](https://github.com/artipie/rpm-adapter/issues/285) are still not solved.

[2020-06-23 04:38] 0crat commented on #285
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-23 04:39] olenagerasimova commented on #285
@0crat in

[2020-06-23 04:39] 0crat commented on #285
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: artipie/rpm-adapter#285, Comment: 647902715

[2020-06-23 07:07] 0pdd opened #286 "RepoConfig.java:31-37: Create `Simple` implementation of..."
The puzzle `281-4a7508e7` from #281 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/f5f27bf9d925157f6a859c61880d56b1f374657e/src/main/java/com/artipie/rpm/RepoConfig.java#L31-L37

The puzzle was created by olenagerasimova on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-06-23 07:07] 0crat commented on #286
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-23 07:07] 0pdd opened #287 "RepoConfig.java:62-70: Implement this class to read..."
The puzzle `281-e86c51c6` from #281 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/f5f27bf9d925157f6a859c61880d56b1f374657e/src/main/java/com/artipie/rpm/RepoConfig.java#L62-L70

The puzzle was created by olenagerasimova on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-06-23 07:07] 0pdd commented on #275
@olenagerasimova 4 puzzles [#281](https://github.com/artipie/rpm-adapter/issues/281), [#282](https://github.com/artipie/rpm-adapter/issues/282), [#286](https://github.com/artipie/rpm-adapter/issues/286), [#287](https://github.com/artipie/rpm-adapter/issues/287) are still not solved.

[2020-06-23 07:07] 0pdd commented on #281
@0pdd 2 puzzles [#286](https://github.com/artipie/rpm-adapter/issues/286), [#287](https://github.com/artipie/rpm-adapter/issues/287) are still not solved.

[2020-06-23 07:09] 0crat commented on #287
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-23 07:56] 0crat commented on #287
The job [#287](https://github.com/artipie/rpm-adapter/issues/287) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a0b9a584-df48-4d2d-a45f-cf62a4618a6b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-23 07:57] 0crat commented on #286
The job [#286](https://github.com/artipie/rpm-adapter/issues/286) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8cf5ecc2-27e9-4580-a8a5-59fe69a36166); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-23 07:59] #281 closed

[2020-06-23 07:59] 0pdd commented on #281
The puzzle `275-12a5bede` has disappeared from the source code, that's why I closed this issue.

[2020-06-23 07:59] 0pdd commented on #275
@olenagerasimova 3 puzzles [#282](https://github.com/artipie/rpm-adapter/issues/282), [#286](https://github.com/artipie/rpm-adapter/issues/286), [#287](https://github.com/artipie/rpm-adapter/issues/287) are still not solved; solved: [#281](https://github.com/artipie/rpm-adapter/issues/281).

[2020-06-23 08:18] 0crat commented on #281
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-23 09:00] #273 closed

[2020-06-23 09:00] 0pdd commented on #273
The puzzle `259-71347a14` has disappeared from the source code, that's why I closed this issue.

[2020-06-23 09:00] 0pdd opened #290 "RpmSliceYumITCase.java:56-58: We need to test that dnf..."
The puzzle `273-e9afba21` from #273 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/745a3da4126352ce85abec5273ada931773ea3f9/src/test/java/com/artipie/rpm/http/RpmSliceYumITCase.java#L56-L58

The puzzle was created by olenagerasimova on 22-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"d

[2020-06-23 09:00] 0pdd commented on #213
@g4s8 the puzzle [#290](https://github.com/artipie/rpm-adapter/issues/290) is still not solved; solved: [#259](https://github.com/artipie/rpm-adapter/issues/259), [#273](https://github.com/artipie/rpm-adapter/issues/273).

[2020-06-23 09:00] 0pdd commented on #259
@0pdd the puzzle [#290](https://github.com/artipie/rpm-adapter/issues/290) is still not solved; solved: [#273](https://github.com/artipie/rpm-adapter/issues/273).

[2020-06-23 09:00] 0pdd commented on #273
@0pdd the puzzle [#290](https://github.com/artipie/rpm-adapter/issues/290) is still not solved.

[2020-06-23 09:02] olenagerasimova commented on #278
@olegmoz don't you mind taking this issue? We need to extract class from method and replace code duplication.

[2020-06-23 09:02] 0crat commented on #290
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-23 09:03] olenagerasimova commented on #290
@artemlazarev don't you mind taking this issue?

[2020-06-23 09:08] 0crat commented on #287
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [27809fa2-3245-41f7-a247-89fa26534d1c](https://www.0crat.com/footprint/CT2E6TK9B/27809fa2-3245-41f7-a247-89fa26534d1c), Type: "Job milestoned"

[2020-06-23 09:08] 0crat commented on #286
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [92e3ee55-5290-49d5-b498-82731efc6592](https://www.0crat.com/footprint/CT2E6TK9B/92e3ee55-5290-49d5-b498-82731efc6592), Type: "Job milestoned"

[2020-06-23 09:20] 0crat commented on #273
Job was finished in 25 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-23 09:22] #271 closed

[2020-06-23 09:43] olegmoz commented on #278
@olenagerasimova yes please, assign me

[2020-06-23 09:59] 0crat commented on #278
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-23 09:59] olenagerasimova commented on #278
@0crat refuse

[2020-06-23 09:59] 0crat commented on #278
The job [#278](https://github.com/artipie/rpm-adapter/issues/278) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3f96155b-bacb-4840-9120-8306bc355d98); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-06-23 10:02] olenagerasimova commented on #278
@olegmoz please, implement headers obtaining as it's done in `FilePackage.header()` method, test has simplified version

[2020-06-23 10:02] 0crat commented on #278
@olenagerasimova The user @olegmoz[/z](https://www.0crat.com/u/olegmoz) resigned from [#278](https://github.com/artipie/rpm-adapter/issues/278), please stop working. Reason for job resignation: Order was cancelled

[2020-06-23 10:03] 0crat commented on #244
The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#244](https://github.com/artipie/rpm-adapter/issues/244), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-23 10:05] olenagerasimova commented on #244
@0crat assign me

[2020-06-23 10:06] 0crat commented on #244
@olenagerasimova The job [#244](https://github.com/artipie/rpm-adapter/issues/244) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/63e2ec3c-5655-4889-b6ca-3576b2389343); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-23 10:07] 0crat commented on #278
The job [#278](https://github.com/artipie/rpm-adapter/issues/278) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f8d380b6-52b7-4a46-80b8-2da809bdeb66); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-06-23 10:55] 0crat commented on #285
The job [#285](https://github.com/artipie/rpm-adapter/issues/285) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/00cd0daa-045c-4447-9cf2-58bd9b91288d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-23 11:00] #286 closed

[2020-06-23 11:00] 0pdd commented on #286
The puzzle `281-4a7508e7` has disappeared from the source code, that's why I closed this issue.

[2020-06-23 11:00] 0pdd commented on #275
@olenagerasimova 2 puzzles [#282](https://github.com/artipie/rpm-adapter/issues/282), [#287](https://github.com/artipie/rpm-adapter/issues/287) are still not solved; solved: [#281](https://github.com/artipie/rpm-adapter/issues/281), [#286](https://github.com/artipie/rpm-adapter/issues/286).

[2020-06-23 11:00] 0pdd commented on #281
@0pdd the puzzle [#287](https://github.com/artipie/rpm-adapter/issues/287) is still not solved; solved: [#286](https://github.com/artipie/rpm-adapter/issues/286).

[2020-06-23 11:07] victornoel commented on #285
@0crat refuse

[2020-06-23 11:10] 0crat commented on #285
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#285](https://github.com/artipie/rpm-adapter/issues/285), please stop working. Reason for job resignation: Order was cancelled

[2020-06-23 11:10] 0crat commented on #285
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-23 11:18] 0crat commented on #286
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-23 11:56] 0crat commented on #285
The job [#285](https://github.com/artipie/rpm-adapter/issues/285) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1110b541-69d4-4c43-8371-07710d846f3c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-23 12:53] 0crat commented on #154
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-23 18:25] 0crat commented on #166
The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#166](https://github.com/artipie/rpm-adapter/issues/166), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-23 18:26] olenagerasimova commented on #166
@0crat assign me

[2020-06-23 18:55] 0crat commented on #166
@olenagerasimova The job [#166](https://github.com/artipie/rpm-adapter/issues/166) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/70cf7ed8-819e-4e38-9671-fbfba2a508bd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-24 10:46] 0crat commented on #271
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-24 14:45] 0crat commented on #277
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-25 05:01] olenagerasimova commented on #271
@0crat out

[2020-06-25 05:09] 0crat commented on #271
@olenagerasimova Job [#271](https://github.com/artipie/rpm-adapter/issues/271) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-25 05:10] 0crat commented on #271
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-25 05:10] 0crat commented on #271
@olenagerasimova Job [#271](https://github.com/artipie/rpm-adapter/issues/271) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-25 05:17] sereshqua commented on #271
@0crat quality good

[2020-06-25 10:41] #287 closed

[2020-06-25 10:41] 0pdd commented on #287
The puzzle `281-e86c51c6` has disappeared from the source code, that's why I closed this issue.

[2020-06-25 10:41] 0pdd commented on #275
@olenagerasimova the puzzle [#282](https://github.com/artipie/rpm-adapter/issues/282) is still not solved; solved: [#281](https://github.com/artipie/rpm-adapter/issues/281), [#286](https://github.com/artipie/rpm-adapter/issues/286), [#287](https://github.com/artipie/rpm-adapter/issues/287).

[2020-06-25 10:41] 0pdd commented on #281
@0pdd all 2 puzzles are solved here: [#286](https://github.com/artipie/rpm-adapter/issues/286), [#287](https://github.com/artipie/rpm-adapter/issues/287).

[2020-06-25 10:48] #278 closed

[2020-06-25 10:48] 0pdd commented on #241
@olenagerasimova 2 puzzles [#277](https://github.com/artipie/rpm-adapter/issues/277), [#285](https://github.com/artipie/rpm-adapter/issues/285) are still not solved; solved: [#278](https://github.com/artipie/rpm-adapter/issues/278).

[2020-06-25 10:50] olenagerasimova commented on #287
@rultor release, tag=`0.10`

[2020-06-25 10:51] rultor commented on #287
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22423-649464373)

[2020-06-25 10:59] rultor commented on #287
@0pdd @olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22423-649464373) (spent 8min)

[code]

[2020-06-25 11:05] olenagerasimova commented on #287
@rultor release, tag=0.10

[2020-06-25 11:07] rultor commented on #287
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22423-649471176)

[2020-06-25 11:07] 0crat commented on #278
Job [#278](https://github.com/artipie/rpm-adapter/issues/278) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-25 11:07] 0crat commented on #278
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [3ff6e4e4-f77b-4795-b959-32dc21010688](https://www.0crat.com/footprint/CT2E6TK9B/3ff6e4e4-f77b-4795-b959-32dc21010688), Type: "Order was finished"

[2020-06-25 11:07] rultor commented on #287
@0pdd @olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22423-649471176) (spent 27s)

[code]

[2020-06-25 11:08] 0crat commented on #278
Job [#278](https://github.com/artipie/rpm-adapter/issues/278) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-25 11:08] 0crat commented on #278
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-25 11:09] sereshqua commented on #278
@0crat quality good

[2020-06-25 11:18] olenagerasimova commented on #287
@g4s8 please, could you take a look? What's wrong with release?

[2020-06-25 13:14] olenagerasimova commented on #287
@rultor release, tag=`0.10`

[2020-06-25 13:15] rultor commented on #287
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22423-649533047)

[2020-06-25 13:22] rultor commented on #287
@0pdd @olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22423-649533047) (spent 7min)

[code]

[2020-06-25 18:01] paulodamaso commented on #282
@0crat wait for #295 review

[2020-06-25 19:43] paulodamaso commented on #277
@0crat wait for #296 merge

[2020-06-26 10:43] olenagerasimova commented on #287
@rultor release, tag=`0.10`

[2020-06-26 10:45] rultor commented on #287
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22423-650113924)

[2020-06-26 10:52] rultor commented on #287
@0pdd @olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22423-650113924) (spent 7min)

[code]

[2020-06-26 11:59] olenagerasimova commented on #287
@rultor release, tag=`0.10`

[2020-06-26 12:01] rultor commented on #287
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22423-650141457)

[2020-06-26 12:10] rultor commented on #287
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22423-650141457) (took me 9min)

[2020-06-26 12:49] 0crat commented on #278
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [4eaf8151-e696-4482-92a1-8e7de049c204](https://www.0crat.com/footprint/CT2E6TK9B/4eaf8151-e696-4482-92a1-8e7de049c204), Type: "Job milestoned"

[2020-06-28 12:45] 0crat commented on #285
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-29 04:26] #265 closed

[2020-06-29 04:26] 0pdd commented on #265
The puzzle `248-3857a8d1` has disappeared from the source code, that's why I closed this issue.

[2020-06-29 04:27] 0pdd commented on #235
@olenagerasimova all 2 puzzles are solved here: [#248](https://github.com/artipie/rpm-adapter/issues/248), [#265](https://github.com/artipie/rpm-adapter/issues/265).

[2020-06-29 04:27] 0pdd commented on #248
@0pdd the only puzzle [#265](https://github.com/artipie/rpm-adapter/issues/265) is solved here.

[2020-06-29 04:47] 0crat commented on #265
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-29 04:50] sereshqua commented on #265
@0crat quality good

[2020-06-29 04:51] #176 closed

[2020-06-29 04:51] 0pdd commented on #176
The puzzle `114-f9d288ae` has disappeared from the source code, that's why I closed this issue.

[2020-06-29 04:51] 0pdd commented on #68
@g4s8 all 5 puzzles are solved here: [#113](https://github.com/artipie/rpm-adapter/issues/113), [#114](https://github.com/artipie/rpm-adapter/issues/114), [#176](https://github.com/artipie/rpm-adapter/issues/176), [#205](https://github.com/artipie/rpm-adapter/issues/205), [#89](https://github.com/artipie/rpm-adapter/issues/89).

[2020-06-29 04:51] 0pdd commented on #89
@0pdd all 4 puzzles are solved here: [#113](https://github.com/artipie/rpm-adapter/issues/113), [#114](https://github.com/artipie/rpm-adapter/issues/114), [#176](https://github.com/artipie/rpm-adapter/issues/176), [#205](https://github.com/artipie/rpm-adapter/issues/205).

[2020-06-29 04:52] 0pdd commented on #114
@0pdd the only puzzle [#176](https://github.com/artipie/rpm-adapter/issues/176) is solved here.

[2020-06-29 04:56] olenagerasimova commented on #244
@0crat wait

[2020-06-29 04:56] olenagerasimova commented on #166
@0crat wait

[2020-06-29 05:04] olenagerasimova commented on #154
@paulodamaso please note that this issue was added to this week milestone, which means that PR should be merged till friday 7pm GMT+3. If you do have time for this, please, let me know

[2020-06-29 05:05] olenagerasimova commented on #168
@marceloamadeu this is taking too long, I'm assigning issue myself

[2020-06-29 05:06] olenagerasimova commented on #168
@0crat assign me

[2020-06-29 05:06] 0crat commented on #282
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [c1266f37-0b4e-4145-806a-dd023c35f812](https://www.0crat.com/footprint/CT2E6TK9B/c1266f37-0b4e-4145-806a-dd023c35f812), Type: "Job milestoned"

[2020-06-29 05:06] 0crat commented on #154
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [49b2960a-a444-4281-b103-b5ac8a4e2d01](https://www.0crat.com/footprint/CT2E6TK9B/49b2960a-a444-4281-b103-b5ac8a4e2d01), Type: "Job milestoned"

[2020-06-29 05:06] 0crat commented on #277
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [e6e800db-3233-45d1-ba58-bf595b3f6fe2](https://www.0crat.com/footprint/CT2E6TK9B/e6e800db-3233-45d1-ba58-bf595b3f6fe2), Type: "Job milestoned"

[2020-06-29 05:06] 0crat commented on #166
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [7e2260b4-9e89-4c52-9481-b80302909236](https://www.0crat.com/footprint/CT2E6TK9B/7e2260b4-9e89-4c52-9481-b80302909236), Type: "Job milestoned"

[2020-06-29 05:07] 0crat commented on #168
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [e3ec4868-b579-40fc-9872-3eebdda4dba5](https://www.0crat.com/footprint/CT2E6TK9B/e3ec4868-b579-40fc-9872-3eebdda4dba5), Type: "Job milestoned"

[2020-06-29 05:07] 0crat commented on #168
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-29 05:07] 0crat commented on #285
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [55614698-37f9-4422-9821-a93adffb94d1](https://www.0crat.com/footprint/CT2E6TK9B/55614698-37f9-4422-9821-a93adffb94d1), Type: "Job milestoned"

[2020-06-29 05:07] 0crat commented on #168
@olenagerasimova The job [#168](https://github.com/artipie/rpm-adapter/issues/168) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/16584c4e-bb2d-407a-b852-c251158c60ab); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http

[2020-06-29 05:10] 0crat commented on #176
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-29 05:20] olenagerasimova opened #299 "Create class to obtain `packages` count"
We need class to read `packages` attribute value of metadata `primary.xml` obtained from repository we are updating. Implementation can read first 5 lines of the given file with `BufferedReader` and try to get value of the attribute with the help of regular expression. Throw an exception if `packages` attribute was not found.
Put class into `meta` package and do not forget about test.

[2020-06-29 05:22] 0crat commented on #299
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [18139daa-2e64-4dc7-9186-afe1b6c58a81](https://www.0crat.com/footprint/CT2E6TK9B/18139daa-2e64-4dc7-9186-afe1b6c58a81), Type: "Job milestoned"

[2020-06-29 05:22] olenagerasimova commented on #299
@olegmoz could you please take a look? Let me know if smth is not clear

[2020-06-29 05:22] 0crat commented on #299
The job [#299](https://github.com/artipie/rpm-adapter/issues/299) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b200fb6c-bf18-42c0-8d0e-83c710b68aa0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-06-29 05:27] 0crat commented on #290
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [041438e0-f98d-47e2-8a8a-fb977c02092c](https://www.0crat.com/footprint/CT2E6TK9B/041438e0-f98d-47e2-8a8a-fb977c02092c), Type: "Job milestoned"

[2020-06-29 05:28] sereshqua commented on #176
@0crat quality good

[2020-06-29 05:52] 0crat commented on #176
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [2f1b62d2-eab4-43ce-9bbf-645351ef2bb5](https://www.0crat.com/footprint/CT2E6TK9B/2f1b62d2-eab4-43ce-9bbf-645351ef2bb5), Type: "Job milestoned"

[2020-06-29 08:23] olegmoz commented on #299
@olenagerasimova please give some clarification in this issue:
- Where this class is going to be used? Is it for some new features or is it about reducing code duplication?
- Is there is example of proper `primary.xml` in the project, to have as reference?
- Why do you suggest parsing XML as string via RegEx instead of proper tools for XML parsing?

[2020-06-29 10:11] olenagerasimova commented on #299
@olegmoz
- this class will be used to optimize the update: if packages was added (via HTTP API put method for example) we can simply append corresponding information to metadata, set `packages` attribute to old `packages` value + amount of added packages and rewrite repomd.xml
- check `primary.xml.example` please
- it will work faster, regular expression will not be difficult, this tag can be met

[2020-06-29 11:04] 0crat commented on #290
The job [#290](https://github.com/artipie/rpm-adapter/issues/290) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1c072ab1-1913-4c9b-b447-fea528cb8d2b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.