[2020-06-29 13:33] #168 closed

[2020-06-29 13:33] 0pdd commented on #168
The puzzle `161-ecd3feaa` has disappeared from the source code, that's why I closed this issue.

[2020-06-29 13:33] 0pdd commented on #161
@victornoel the only puzzle [#168](https://github.com/artipie/rpm-adapter/issues/168) is solved here.

[2020-06-29 13:49] 0crat commented on #168
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-29 14:29] olenagerasimova opened #303 "Analyze aibolit report"
Let's analyze report (check [this](https://github.com/artipie/rpm-adapter/actions?query=workflow%3A%22Experimental+CI+tools%22) action) generated by [aibolit](https://github.com/yegor256/aibolit) and try to follow its recommendations to make our code better.
I'm proposing the following process:
1) choose class from the report to work on,
2) fix relevant problems and submit PR,
3) report bugs (if a

[2020-06-29 14:34] olenagerasimova commented on #303
@acheshkov hi, thanks for integrating Aibolit into rpm-adapter! I'd like to start analyzing Aibolit report for rpm-adapter and reporting found problems (if any) to Aibolit. Don't you mind?
@g4s8 what do you think of proposed prosecc?

[2020-06-29 14:56] g4s8 commented on #303
@olenagerasimova yes, I think you can report all problems here: https://github.com/yegor256/aibolit/

[2020-06-30 06:15] 0crat commented on #154
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-30 06:16] 0crat commented on #154
The job [#154](https://github.com/artipie/rpm-adapter/issues/154) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d34cc12a-20b5-4aa7-b455-816094f1270a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-30 11:32] #154 closed

[2020-06-30 11:32] 0pdd commented on #154
The puzzle `75-9baf1976` has disappeared from the source code, that's why I closed this issue.

[2020-06-30 11:32] 0pdd commented on #69
@victornoel 3 puzzles [#166](https://github.com/artipie/rpm-adapter/issues/166), [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255) are still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/1

[2020-06-30 11:32] 0pdd commented on #75
@0pdd all 2 puzzles are solved here: [#154](https://github.com/artipie/rpm-adapter/issues/154), [#155](https://github.com/artipie/rpm-adapter/issues/155).

[2020-06-30 11:59] 0crat commented on #154
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-30 13:09] #285 closed

[2020-06-30 13:09] 0pdd commented on #285
The puzzle `241-fffd0470` has disappeared from the source code, that's why I closed this issue.

[2020-06-30 13:10] 0pdd opened #307 "NodeHasPkgCount.java:34-39: This matcher should also..."
The puzzle `285-b9db6ed3` from #285 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/ad868fd583a12f7cc8fe389cad0951ff17e6ad5d/src/test/java/com/artipie/rpm/hm/NodeHasPkgCount.java#L34-L39

The puzzle was created by paulodamaso on 25-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-06-30 13:10] 0pdd commented on #241
@olenagerasimova 2 puzzles [#277](https://github.com/artipie/rpm-adapter/issues/277), [#307](https://github.com/artipie/rpm-adapter/issues/307) are still not solved; solved: [#278](https://github.com/artipie/rpm-adapter/issues/278), [#285](https://github.com/artipie/rpm-adapter/issues/285).

[2020-06-30 13:10] 0pdd commented on #285
@0pdd the puzzle [#307](https://github.com/artipie/rpm-adapter/issues/307) is still not solved.

[2020-06-30 13:10] 0crat commented on #307
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-30 13:12] 0crat commented on #307
The job [#307](https://github.com/artipie/rpm-adapter/issues/307) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ca84df95-8255-41f7-8b89-153cd1b6fa0e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-06-30 13:29] 0crat commented on #285
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-30 14:43] sereshqua commented on #285
@0crat quality good

[2020-06-30 15:02] 0crat commented on #299
Job [#299](https://github.com/artipie/rpm-adapter/issues/299) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-06-30 15:02] 0crat commented on #299
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-06-30 15:13] olenagerasimova commented on #299
@olegmoz please, check this [comment](https://github.com/artipie/rpm-adapter/pull/306#pullrequestreview-440006214), don't you mind reopening this issue and follow suggestions?

[2020-06-30 15:50] olegmoz commented on #299
@olenagerasimova sorry, missed the comment. Totally agree, will make required changes

[2020-06-30 20:03] 0crat commented on #307
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [bfe8ff0c-4b85-4ac5-928a-ddc10b20b5ca](https://www.0crat.com/footprint/CT2E6TK9B/bfe8ff0c-4b85-4ac5-928a-ddc10b20b5ca), Type: "Job milestoned"

[2020-07-02 08:50] #166 closed

[2020-07-02 08:50] 0pdd commented on #166
The puzzle `85-d051fc3e` has disappeared from the source code, that's why I closed this issue.

[2020-07-02 08:50] 0pdd commented on #69
@victornoel 2 puzzles [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255) are still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/1

[2020-07-02 08:50] 0pdd commented on #85
@0pdd the only puzzle [#166](https://github.com/artipie/rpm-adapter/issues/166) is solved here.

[2020-07-02 09:08] 0crat commented on #166
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [311b1be4-4510-46e6-8893-daa70af7490a](https://www.0crat.com/footprint/CT2E6TK9B/311b1be4-4510-46e6-8893-daa70af7490a), Type: "Order was finished"

[2020-07-02 09:20] #307 closed

[2020-07-02 09:20] 0pdd commented on #307
The puzzle `285-b9db6ed3` has disappeared from the source code, that's why I closed this issue.

[2020-07-02 09:20] 0pdd opened #310 "NodeHasPkgCountTest.java:41-42: Test methods for..."
The puzzle `307-d58d9aca` from #307 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/2054c9db6420a9780c6f62209e0b978cf7783d7b/src/test/java/com/artipie/rpm/hm/NodeHasPkgCountTest.java#L41-L42

The puzzle was created by @olenagerasimova on 30-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"

[2020-07-02 09:21] 0pdd opened #311 "NodeHasPkgCount.java:35-36: Use this matcher in `RpmTest`..."
The puzzle `307-cda9f9c1` from #307 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/2054c9db6420a9780c6f62209e0b978cf7783d7b/src/test/java/com/artipie/rpm/hm/NodeHasPkgCount.java#L35-L36

The puzzle was created by @olenagerasimova on 30-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-07-02 09:21] 0pdd commented on #241
@olenagerasimova 3 puzzles [#277](https://github.com/artipie/rpm-adapter/issues/277), [#310](https://github.com/artipie/rpm-adapter/issues/310), [#311](https://github.com/artipie/rpm-adapter/issues/311) are still not solved; solved: [#278](https://github.com/artipie/rpm-adapter/issues/278), [#285](https://github.com/artipie/rpm-adapter/issues/285), [#307](https://github.com/artipie/rpm-adapter/iss

[2020-07-02 09:21] 0pdd commented on #285
@0pdd 2 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#311](https://github.com/artipie/rpm-adapter/issues/311) are still not solved; solved: [#307](https://github.com/artipie/rpm-adapter/issues/307).

[2020-07-02 09:21] 0pdd commented on #307
@0pdd 2 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#311](https://github.com/artipie/rpm-adapter/issues/311) are still not solved.

[2020-07-02 09:21] 0crat commented on #311
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-02 09:22] 0crat commented on #310
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-02 09:24] 0crat commented on #311
The job [#311](https://github.com/artipie/rpm-adapter/issues/311) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3015aecf-2669-4f02-a55b-dfedc3584fc9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-07-02 10:00] 0crat commented on #307
Job was finished in 44 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-03 05:12] 0crat commented on #311
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [b8cde747-8133-4db3-8d6f-45d56a61bb3d](https://www.0crat.com/footprint/CT2E6TK9B/b8cde747-8133-4db3-8d6f-45d56a61bb3d), Type: "Job milestoned"

[2020-07-03 06:43] #277 closed

[2020-07-03 06:43] 0pdd commented on #277
The puzzle `241-299104fc` has disappeared from the source code, that's why I closed this issue.

[2020-07-03 06:43] 0pdd commented on #241
@olenagerasimova 2 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#311](https://github.com/artipie/rpm-adapter/issues/311) are still not solved; solved: [#277](https://github.com/artipie/rpm-adapter/issues/277), [#278](https://github.com/artipie/rpm-adapter/issues/278), [#285](https://github.com/artipie/rpm-adapter/issues/285), [#307](https://github.com/artipie/rpm-adapter/iss

[2020-07-03 06:43] olenagerasimova commented on #310
@0crat in

[2020-07-03 07:02] 0crat commented on #277
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-03 07:26] sereshqua commented on #277
@0crat quality good

[2020-07-03 07:49] 0crat commented on #310
The job [#310](https://github.com/artipie/rpm-adapter/issues/310) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/be102424-b7de-4fe6-aece-c95a0a36cf73); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-07-03 08:49] victornoel commented on #310
@0crat refuse I'm not on windows

[2020-07-03 08:50] olegmoz commented on #299
@olenagerasimova in comment to previous PR you have stated that `IllegalStateException` does not fit well for. Do you have some suggestion for better standard exception to use or you would like me to introduce special exception for this case?

[2020-07-03 08:50] 0crat commented on #310
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#310](https://github.com/artipie/rpm-adapter/issues/310), please stop working. Reason for job resignation: Order was cancelled

[2020-07-03 08:51] 0crat commented on #310
@victornoel Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-03 09:11] olenagerasimova commented on #299
@olegmoz I think we can use `IllegalArgumentException`

[2020-07-03 09:21] #282 closed

[2020-07-03 09:21] 0pdd commented on #282
The puzzle `275-eee2e5ba` has disappeared from the source code, that's why I closed this issue.

[2020-07-03 09:21] 0pdd commented on #275
@olenagerasimova all 4 puzzles are solved here: [#281](https://github.com/artipie/rpm-adapter/issues/281), [#282](https://github.com/artipie/rpm-adapter/issues/282), [#286](https://github.com/artipie/rpm-adapter/issues/286), [#287](https://github.com/artipie/rpm-adapter/issues/287).

[2020-07-03 09:49] 0crat commented on #282
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-03 10:16] sereshqua commented on #282
@0crat quality good

[2020-07-03 10:18] #299 closed

[2020-07-03 10:21] 0crat commented on #282
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [4aa07560-f9b0-401b-91b7-c5bc9161d80b](https://www.0crat.com/footprint/CT2E6TK9B/4aa07560-f9b0-401b-91b7-c5bc9161d80b), Type: "Pay cash"

[2020-07-03 10:47] 0crat commented on #299
Job [#299](https://github.com/artipie/rpm-adapter/issues/299) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-07-03 10:48] 0crat commented on #299
Job [#299](https://github.com/artipie/rpm-adapter/issues/299) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-07-03 10:48] 0crat commented on #299
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-03 10:49] 0crat commented on #310
The job [#310](https://github.com/artipie/rpm-adapter/issues/310) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/07738aa4-c1f0-4030-930b-4638f9a60fae); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-07-03 11:30] #290 closed

[2020-07-03 11:30] 0pdd commented on #290
The puzzle `273-e9afba21` has disappeared from the source code, that's why I closed this issue.

[2020-07-03 11:30] 0pdd commented on #213
@g4s8 all 3 puzzles are solved here: [#259](https://github.com/artipie/rpm-adapter/issues/259), [#273](https://github.com/artipie/rpm-adapter/issues/273), [#290](https://github.com/artipie/rpm-adapter/issues/290).

[2020-07-03 11:30] 0pdd commented on #259
@0pdd all 2 puzzles are solved here: [#273](https://github.com/artipie/rpm-adapter/issues/273), [#290](https://github.com/artipie/rpm-adapter/issues/290).

[2020-07-03 11:30] 0pdd commented on #273
@0pdd the only puzzle [#290](https://github.com/artipie/rpm-adapter/issues/290) is solved here.

[2020-07-03 11:54] sereshqua commented on #299
@0crat quality good

[2020-07-03 12:03] olenagerasimova opened #314 "ModifiableMetadata: merge and clean only if necessary"
ModifiableMetadata needs to be able to work if `old` metadata does not exist/is empty and some logic to optimize actions on `metadata.xmls`:
1. Call `XmlMetaJoin.merge()` only if required: there is nothing to merge if `old` does not exists/empty or if new metadata.xml is empty (no packages were added). In the second case we can simply copy data from `old` to new
2. Call `XmlMaid.clean()` only if r

[2020-07-03 13:24] olenagerasimova opened #315 "Abstraction for `NamingPolicy` and temp dir"
Let's create abstraction (or modify existing code, `NamingPolicy` for example) for `NamingPolicy` and temp dir. The main goals here are
a) not to pass `tmp` dir into `Repository` ctor, it's required only in `Repository#save()` method
b) reduce parameters amount in `MetadataFile#save()`

Do not forget about test.

[2020-07-03 13:29] #311 closed

[2020-07-03 13:29] 0pdd commented on #311
The puzzle `307-cda9f9c1` has disappeared from the source code, that's why I closed this issue.

[2020-07-03 13:29] 0pdd opened #316 "StorageHasMetadata.java:44-45: Create proper unit test..."
The puzzle `311-652b1692` from #311 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/20bbb408b8d8cdaa84fc5281867ab830f5f708d7/src/test/java/com/artipie/rpm/hm/StorageHasMetadata.java#L44-L45

The puzzle was created by olenagerasimova on 03-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-07-03 13:29] 0pdd opened #317 "StorageHasMetadata.java:46-49: Add one more check (here..."
The puzzle `311-7f1cb24b` from #311 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/20bbb408b8d8cdaa84fc5281867ab830f5f708d7/src/test/java/com/artipie/rpm/hm/StorageHasMetadata.java#L46-L49

The puzzle was created by olenagerasimova on 03-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-07-03 13:29] 0crat commented on #316
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-03 13:29] 0pdd commented on #241
@olenagerasimova 3 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317) are still not solved; solved: [#277](https://github.com/artipie/rpm-adapter/issues/277), [#278](https://github.com/artipie/rpm-adapter/issues/278), [#285](https://github.com/artipie/rpm-adapter/iss

[2020-07-03 13:29] 0pdd commented on #285
@0pdd 3 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317) are still not solved; solved: [#307](https://github.com/artipie/rpm-adapter/issues/307), [#311](https://github.com/artipie/rpm-adapter/issues/311).

[2020-07-03 13:29] 0pdd commented on #307
@0pdd 3 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317) are still not solved; solved: [#311](https://github.com/artipie/rpm-adapter/issues/311).

[2020-07-03 13:29] 0pdd commented on #311
@0pdd 2 puzzles [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317) are still not solved.

[2020-07-03 13:32] 0crat commented on #317
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-03 13:39] olenagerasimova commented on #316
@0crat in

[2020-07-03 13:46] olenagerasimova commented on #317
@0crat in

[2020-07-03 14:01] 0crat commented on #311
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-03 14:08] olenagerasimova opened #318 "Calc rpm package digest before saving it to tmp"
Use `ContentDigest` from `asto` to calculate digest of the rpm package before saving it to temp file and save it to temp only if it is not already listed in metadata files and parsing is required for this package.

[2020-07-03 14:26] olenagerasimova opened #319 "Access test resources via class-loader"
This repository has a lot of test resources references via path instead of class-loader of current thread context. Fix it and possible replace code duplication by introducing corresponding classes/methods in test scope.

[2020-07-03 14:27] olenagerasimova opened #320 "OthersOutput test"
Create test for `OthersOutput`, see `PrimaryOutputTest` as an example.

[2020-07-03 14:28] olenagerasimova opened #321 "FilelistsOutput test"
Create test for `FilelistsOutput`, check `PrimaryOutputTest` as an example.

[2020-07-03 14:30] 0crat commented on #236
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [74cd5609-15a1-4b19-bd89-fdd97bd7e5cd](https://www.0crat.com/footprint/CT2E6TK9B/74cd5609-15a1-4b19-bd89-fdd97bd7e5cd), Type: "Job milestoned"

[2020-07-03 14:31] 0crat commented on #315
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [79b5eba6-203f-4a9d-b795-de240c3df272](https://www.0crat.com/footprint/CT2E6TK9B/79b5eba6-203f-4a9d-b795-de240c3df272), Type: "Job milestoned"

[2020-07-03 14:31] 0crat commented on #314
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [d35dff86-9391-44ae-9b7b-5054e873bfdb](https://www.0crat.com/footprint/CT2E6TK9B/d35dff86-9391-44ae-9b7b-5054e873bfdb), Type: "Job milestoned"

[2020-07-03 14:31] 0crat commented on #318
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [3de8d799-8a63-4ed5-9aab-f5af2b8aeed8](https://www.0crat.com/footprint/CT2E6TK9B/3de8d799-8a63-4ed5-9aab-f5af2b8aeed8), Type: "Job milestoned"

[2020-07-03 14:31] 0crat commented on #319
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [845fa4cf-5a97-4d47-9c10-e517f1dc247b](https://www.0crat.com/footprint/CT2E6TK9B/845fa4cf-5a97-4d47-9c10-e517f1dc247b), Type: "Job milestoned"

[2020-07-03 14:49] 0crat commented on #317
The job [#317](https://github.com/artipie/rpm-adapter/issues/317) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/57a58f7e-a5ab-4a83-925f-58c37022e655); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-07-03 15:49] 0crat commented on #316
The job [#316](https://github.com/artipie/rpm-adapter/issues/316) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f2136c6b-83ca-4416-b14e-b513bba1f60f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-07-05 17:26] victornoel commented on #316
@0crat refuse

[2020-07-05 17:27] 0crat commented on #316
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#316](https://github.com/artipie/rpm-adapter/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2020-07-05 18:54] 0crat commented on #316
The job [#316](https://github.com/artipie/rpm-adapter/issues/316) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/091caffa-e714-4920-84ca-8ab71e1d62bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-07-06 07:12] 0crat commented on #315
The job [#315](https://github.com/artipie/rpm-adapter/issues/315) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a5bbecac-c703-42ba-bff3-798f8cd09e56); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-07-06 09:46] olenagerasimova opened #323 "Don't wrap XMLStreamException into IOException"
We have a lot of places where `XMLStreamException` is wrapped into `IOException`, but is does not seem right: `XMLStreamException` is

and does not have anything to do with I/O operations failure. Let's fix it by maybe introducing another exception for all possible error while working with xml files.

[2020-07-06 12:02] 0crat commented on #319
The job [#319](https://github.com/artipie/rpm-adapter/issues/319) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7b1377fd-4bde-4b6b-8c17-e61df4e7f68f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-07-06 12:02] 0crat commented on #319
The job [#319](https://github.com/artipie/rpm-adapter/issues/319) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/50d21162-6ad3-401b-a61a-1c5a4d9a8d9f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-07-06 12:02] 0crat commented on #319
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [0fd78371-bdc7-4ea9-abd1-b559fa9a44b3](https://www.0crat.com/footprint/CT2E6TK9B/0fd78371-bdc7-4ea9-abd1-b559fa9a44b3), Type: "Order was given"

[2020-07-06 12:03] 0crat commented on #314
The job [#314](https://github.com/artipie/rpm-adapter/issues/314) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/526874e6-2813-4758-a9c4-a2a5abb0917b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-07-06 12:03] olenagerasimova commented on #315
Closed via #322

[2020-07-06 12:03] #315 closed

[2020-07-06 12:20] 0crat commented on #315
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-08 11:47] 0crat commented on #310
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-08 14:25] #236 closed

[2020-07-08 14:47] 0crat commented on #236
Job `gh:artipie/rpm-adapter#236` is not assigned, can't get performer

[2020-07-08 15:45] 0crat commented on #317
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-09 09:39] #319 closed

[2020-07-10 08:01] olenagerasimova commented on #314
done in #329

[2020-07-10 08:01] #314 closed

[2020-07-13 08:36] 0crat commented on #319
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-13 08:58] 0crat commented on #316
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-13 09:04] 0crat commented on #314
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-13 09:07] olenagerasimova commented on #314
@0crat out

[2020-07-13 18:37] paulodamaso commented on #316
@g4s8 I'm having troubles in understanding what's the purpose of this matcher. I need a better description of it so I can write proper tests.

[2020-07-13 18:38] paulodamaso commented on #316
@0crat wait for better description

[2020-07-14 07:30] olenagerasimova commented on #316
@paulodamaso please see #330

[2020-07-16 10:06] 0crat commented on #319
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#319](https://github.com/artipie/rpm-adapter/issues/319), since the job is not in scope anymore

[2020-07-17 14:02] marceloamadeu commented on #317
@0crat refuse

[2020-07-17 14:04] 0crat commented on #317
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#317](https://github.com/artipie/rpm-adapter/issues/317), please stop working. Reason for job resignation: Order was cancelled

[2020-07-22 10:02] 0crat commented on #317
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-27 05:17] olenagerasimova opened #333 "Update asto to 0.23.3"
Update asto to 0.23.3 to use `PublisherAs` and `KeyLastPart` from the new version.

[2020-07-28 08:52] 0crat commented on #317
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-28 10:23] #333 closed

[2020-07-29 13:20] 0crat commented on #333
Job was finished in 29 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-05 10:25] olenagerasimova commented on #333
@rultor release, tag=`0.10.2`

[2020-08-05 10:26] rultor commented on #333
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22817-669113923)

[2020-08-05 10:33] rultor commented on #333
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22817-669113923) (spent 7min)

[code]

[2020-08-05 14:23] #250 closed

[2020-08-05 14:24] olenagerasimova commented on #333
@rultor release, tag=`0.10.2`

[2020-08-05 14:25] rultor commented on #333
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22817-669223926)

[2020-08-05 14:38] rultor commented on #333
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22817-669223926) (took me 13min)

[2020-08-05 15:05] 0crat commented on #250
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-07 13:49] paulodamaso commented on #310
@0crat refuse

[2020-08-07 13:50] paulodamaso commented on #316
@0crat refuse

[2020-08-07 13:51] 0crat commented on #310
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#310](https://github.com/artipie/rpm-adapter/issues/310), please stop working. Reason for job resignation: Order was cancelled

[2020-08-07 14:00] 0crat commented on #316
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#316](https://github.com/artipie/rpm-adapter/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2020-08-10 06:37] olenagerasimova opened #336 "Update asto to 0.23.4"
Update asto to `0.23.4` and `TestResource` from asto instead of `TestResource` from rpm.

[2020-08-11 11:02] genryxy commented on #321
@olenagerasimova I change part of class `PrimaryOutputTest `, but get such error:
`Expected namespace uri 'http://linux.duke.edu/metadata/filelists' but was 'null'`

In `PrimaryOutputTest` `.xml` file has two namespaces therefore the tests are passed. Should I ignore default namespace by this way:
` .withNodeFilter(
                                node -> !node.isDefaultNamespace(node.getNamespace

[2020-08-11 11:44] olenagerasimova commented on #321
@genryxy

why have you done this? There is not need to change `PrimaryOutputTest`, it's necessary to create test for `FilelistsOutput`.

Please, add headers to `abc-filelists.xml.example` and `libdeflt-filelists.xml.example` with `filelists` tag and `namespace`:
[code]

As for other differences between generated xml and examples, please, filter/ignore them with the help of `withNodeFilter` and `wi

[2020-08-11 11:50] genryxy commented on #321
@olenagerasimova
Yes, sorry for misunderstanding. I created a new class `FilelistsOutput` and in this class write code.
Thanks

[2020-08-12 09:16] olenagerasimova commented on #321
closed via #337

[2020-08-12 09:16] #321 closed

[2020-08-12 10:00] 0crat commented on #321
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-12 10:34] 0crat commented on #320
You @genryxy[/z](https://www.0crat.com/u/genryxy) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-14 07:53] olenagerasimova commented on #320
closed via #338

[2020-08-14 07:53] #320 closed

[2020-08-14 08:09] 0crat commented on #320
Job `gh:artipie/rpm-adapter#320` is not assigned, can't get performer

[2020-08-14 09:14] #336 closed

[2020-08-14 09:21] olenagerasimova commented on #336
@rultor release, tag=`1.0`

[2020-08-14 09:22] rultor commented on #336
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22950-673980928)

[2020-08-14 09:34] 0crat commented on #336
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-14 09:34] rultor commented on #336
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22950-673980928) (took me 12min)

[2020-08-19 14:46] olegmoz opened #340 "Use Lock with expiration and retries from ASTO"
Recently `StorageLock` class has been added to ASTO module. It supports lock expiration by timeout, which is useful for automatic release of locks if server came down with lock acquired. There is also `RetryLock` class which may be used to retry obtaining lock which may fail for different reasons (network failures, competing lock acquire operations etc). Using them will be an improvement over dist

[2020-08-25 12:01] #244 closed

[2020-08-25 12:01] 0pdd commented on #244
The puzzle `230-3a08fd65` has disappeared from the source code, that's why I closed this issue.

[2020-08-25 12:01] #245 closed

[2020-08-25 12:01] 0pdd commented on #245
The puzzle `230-d8ecbde2` has disappeared from the source code, that's why I closed this issue.

[2020-08-25 12:01] 0pdd commented on #230
@g4s8 all 2 puzzles are solved here: [#244](https://github.com/artipie/rpm-adapter/issues/244), [#245](https://github.com/artipie/rpm-adapter/issues/245).

[2020-08-25 12:20] 0crat commented on #245
Job `gh:artipie/rpm-adapter#245` is not assigned, can't get performer

[2020-08-25 12:22] 0crat commented on #244
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [b5de12de-6112-4203-8eab-43e7f3e53a00](https://www.0crat.com/footprint/CT2E6TK9B/b5de12de-6112-4203-8eab-43e7f3e53a00), Type: "Order was finished"

[2020-08-26 12:48] #340 closed

[2020-08-26 13:05] 0crat commented on #340
Job `gh:artipie/rpm-adapter#340` is not assigned, can't get performer

[2020-08-26 20:32] paulodamaso commented on #317
@0crat wait for #343

[2020-08-27 04:36] olenagerasimova commented on #340
@olegmoz thanks

[2020-08-27 04:36] olenagerasimova commented on #340
@rultor release, tag=`1.1`

[2020-08-27 04:37] rultor commented on #340
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23133-681408684)

[2020-08-27 04:45] rultor commented on #340
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23133-681408684) (took me 8min)

[2020-09-10 13:44] #316 closed

[2020-09-10 13:44] #317 closed

[2020-09-10 13:44] 0pdd commented on #317
The puzzle `311-7f1cb24b` has disappeared from the source code, that's why I closed this issue.

[2020-09-10 13:44] 0pdd opened #359 "StorageHasRepoMd.java:33-36: Implement StorageHasRepoMd..."
The puzzle `317-5a8b4b93` from #317 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/c0039bb8b9f26d6a5d02a981c608f8bdb73b26d1/src/test/java/com/artipie/rpm/hm/StorageHasRepoMd.java#L33-L36

The puzzle was created by paulodamaso on 09-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-09-10 13:44] 0pdd opened #360 "StorageHasMetadata.java:47-49: Create proper unit test..."
The puzzle `311-c333d3a1` from #311 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/c0039bb8b9f26d6a5d02a981c608f8bdb73b26d1/src/test/java/com/artipie/rpm/hm/StorageHasMetadata.java#L47-L49

The puzzle was created by @olenagerasimova on 05-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"d

[2020-09-10 13:44] 0pdd commented on #241
@olenagerasimova 3 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#359](https://github.com/artipie/rpm-adapter/issues/359), [#360](https://github.com/artipie/rpm-adapter/issues/360) are still not solved; solved: [#277](https://github.com/artipie/rpm-adapter/issues/277), [#278](https://github.com/artipie/rpm-adapter/issues/278), [#285](https://github.com/artipie/rpm-adapter/iss

[2020-09-10 13:44] 0pdd commented on #285
@0pdd 3 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#359](https://github.com/artipie/rpm-adapter/issues/359), [#360](https://github.com/artipie/rpm-adapter/issues/360) are still not solved; solved: [#307](https://github.com/artipie/rpm-adapter/issues/307), [#311](https://github.com/artipie/rpm-adapter/issues/311), [#316](https://github.com/artipie/rpm-adapter/issues/316), [

[2020-09-10 13:44] 0pdd commented on #307
@0pdd 3 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#359](https://github.com/artipie/rpm-adapter/issues/359), [#360](https://github.com/artipie/rpm-adapter/issues/360) are still not solved; solved: [#311](https://github.com/artipie/rpm-adapter/issues/311), [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317).

[2020-09-10 13:45] 0pdd commented on #311
@0pdd 2 puzzles [#359](https://github.com/artipie/rpm-adapter/issues/359), [#360](https://github.com/artipie/rpm-adapter/issues/360) are still not solved; solved: [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317).

[2020-09-10 13:45] 0pdd commented on #317
@0pdd the puzzle [#359](https://github.com/artipie/rpm-adapter/issues/359) is still not solved.

[2020-09-10 14:02] 0crat commented on #316
Job `gh:artipie/rpm-adapter#316` is not assigned, can't get performer

[2020-09-10 14:05] 0crat commented on #317
The project doesn't have enough funds, can't make a payment

[2020-09-24 07:47] #254 closed

[2020-09-24 07:47] 0pdd commented on #254
The puzzle `220-c707f9f7` has disappeared from the source code, that's why I closed this issue.

[2020-09-24 07:48] 0pdd opened #366 "XmlPrimary.java:432-439: We need to experimentally check..."
The puzzle `220-a8f07415` from #220 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/fa0cb20c985c2ab386449f55bddfd486298a397c/src/main/java/com/artipie/rpm/meta/XmlPrimary.java#L432-L439

The puzzle was created by @olenagerasimova on 05-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2020-09-24 07:48] 0pdd commented on #69
@victornoel 2 puzzles [#255](https://github.com/artipie/rpm-adapter/issues/255), [#366](https://github.com/artipie/rpm-adapter/issues/366) are still not solved; solved: [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/1

[2020-09-24 07:48] 0pdd commented on #83
@0pdd 2 puzzles [#255](https://github.com/artipie/rpm-adapter/issues/255), [#366](https://github.com/artipie/rpm-adapter/issues/366) are still not solved; solved: [#117](https://github.com/artipie/rpm-adapter/issues/117), [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220), [#254](https://github.com/artipie/rpm-adapter/issues/254).

[2020-09-24 07:48] 0pdd commented on #117
@0pdd 2 puzzles [#255](https://github.com/artipie/rpm-adapter/issues/255), [#366](https://github.com/artipie/rpm-adapter/issues/366) are still not solved; solved: [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220), [#254](https://github.com/artipie/rpm-adapter/issues/254).

[2020-09-24 07:48] 0pdd commented on #220
@0pdd 2 puzzles [#255](https://github.com/artipie/rpm-adapter/issues/255), [#366](https://github.com/artipie/rpm-adapter/issues/366) are still not solved; solved: [#254](https://github.com/artipie/rpm-adapter/issues/254).

[2020-09-24 08:06] 0crat commented on #254
Job `gh:artipie/rpm-adapter#254` is not assigned, can't get performer

[2020-10-22 12:00] olegmoz opened #368 "Migrate to HTTP 0.16.7, use BasicAuthSlice"
Migrate to HTTP `0.16.7`, use `BasicAuthSlice` instead of deprecated `SliceAuth` and `Identities`

[2020-10-22 12:02] 0crat commented on #368
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-22 13:44] #368 closed

[2020-10-22 14:08] 0crat commented on #368
Job `gh:artipie/rpm-adapter#368` is not assigned, can't get performer

[2020-10-22 14:56] olegmoz commented on #368
@rultor release, tag=`1.2.2`

[2020-10-22 14:57] rultor commented on #368
@olegmoz Thanks for your request. @g4s8 Please confirm this.

[2020-10-22 15:18] olenagerasimova commented on #368
@rultor release, tag=`1.2.2`

[2020-10-22 15:19] rultor commented on #368
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23579-714567331)

[2020-10-22 15:29] rultor commented on #368
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23579-714567331) (took me 9min)

[2020-10-27 07:50] #359 closed

[2020-10-27 07:50] 0pdd commented on #241
@olenagerasimova 2 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#360](https://github.com/artipie/rpm-adapter/issues/360) are still not solved; solved: [#277](https://github.com/artipie/rpm-adapter/issues/277), [#278](https://github.com/artipie/rpm-adapter/issues/278), [#285](https://github.com/artipie/rpm-adapter/issues/285), [#307](https://github.com/artipie/rpm-adapter/iss

[2020-10-27 07:50] 0pdd commented on #285
@0pdd 2 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#360](https://github.com/artipie/rpm-adapter/issues/360) are still not solved; solved: [#307](https://github.com/artipie/rpm-adapter/issues/307), [#311](https://github.com/artipie/rpm-adapter/issues/311), [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317), [

[2020-10-27 07:50] 0pdd commented on #307
@0pdd 2 puzzles [#310](https://github.com/artipie/rpm-adapter/issues/310), [#360](https://github.com/artipie/rpm-adapter/issues/360) are still not solved; solved: [#311](https://github.com/artipie/rpm-adapter/issues/311), [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317), [#359](https://github.com/artipie/rpm-adapter/issues/359).

[2020-10-27 07:50] 0pdd commented on #311
@0pdd the puzzle [#360](https://github.com/artipie/rpm-adapter/issues/360) is still not solved; solved: [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317), [#359](https://github.com/artipie/rpm-adapter/issues/359).

[2020-10-27 07:50] 0pdd commented on #317
@0pdd the only puzzle [#359](https://github.com/artipie/rpm-adapter/issues/359) is solved here.

[2020-10-27 08:07] 0crat commented on #359
Job `gh:artipie/rpm-adapter#359` is not assigned, can't get performer

[2020-10-27 09:39] olenagerasimova commented on #318
This issue will not be solved, as the suggested approach is not very good: for now `ModifiableRepository` is written in sequential style and works with temp files, not with `Content`. It's necessary to calculate digest of the temp file to add info abour the new rpms and remove records of the removed ones.
We may come back to this issue when (or if) `ModifiableRepository` will be rewritten in react

[2020-10-27 09:39] #318 closed

[2020-10-27 10:04] 0crat commented on #318
Job `gh:artipie/rpm-adapter#318` is not assigned, can't get performer

[2020-10-27 15:33] #323 closed

[2020-10-27 16:10] 0crat commented on #323
Job `gh:artipie/rpm-adapter#323` is not assigned, can't get performer

[2020-11-04 17:34] olenagerasimova commented on #227
all done in `RpmTest`

[2020-11-05 09:12] #227 closed

[2020-11-05 09:13] olenagerasimova commented on #227
@rultor release, tag=`1.3`

[2020-11-05 09:14] rultor commented on #227
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23642-722247705)

[2020-11-05 09:28] rultor commented on #227
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23642-722247705) (took me 14min)

[2020-11-20 10:27] olenagerasimova opened #376 "Subdirectories in rpm repository"
Rpms in the rpm repository can be organized in subdirectories, tag `location` in the `primary.xml` should specify rpm file location relatively to the rpm repository, for example for file structure:
[code]
`primary.xml` should contain `location` tags
[code]

[2020-11-23 11:50] olenagerasimova commented on #376
@rultor release, tag=`1.3.1`

[2020-11-23 11:51] rultor commented on #376
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23736-732113677)

[2020-11-23 12:01] rultor commented on #376
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23736-732113677) (took me 9min)

[2020-11-23 13:57] olenagerasimova commented on #376
@olegmoz I've released a new version and it is already available in maven central. Could you please inform our colleagues to try new release?

[2020-11-23 17:26] #376 closed

[2020-11-23 17:26] olenagerasimova commented on #376
@rultor release, tag=`1.3.2`

[2020-11-23 17:28] rultor commented on #376
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23736-732308406)

[2020-11-23 17:42] rultor commented on #376
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23736-732308406) (took me 14min)

[2021-02-25 15:11] g4s8 opened #380 "ForJoinPool for batchUpdate investigation"
Now, the `Rpm.batchUpdate()` method runs in parallel for each package file to update on RX IO-scheduler. Let's investigate if it's possible to schedule package parsing tasks on `ForkJoinPool` maybe with `RecursiveTask` where package parsing task can be self-estimated and decomposed to subtasks. First we need to create some benchmarks to analyze the speed of current `butchUpdate()` version and comp

[2021-04-02 08:48] g4s8 opened #382 "RPM benchmarks"
Add benchmarks for RPM repository:
 - update a single package (100, 1000, 5000)
 - batch-update (100, 1000, 5000)

[2021-04-21 08:52] milkysoft opened #387 "Benchmarks fail to run with error"
[code]

`env BENCH_DIR=${PWD} java -Xmx9048m -cp "targetenchmarks.jar:target/classes/*:target/dependency/*" org.openjdk.jmh.Main RpmBench`

[code]

[2021-04-22 05:49] g4s8 opened #388 "RPM SDK performance issues"
RPM SDK has multiple performance issues to be resolved:
 - [x] It copies ALL packages of repository to temporary directory, repository may be huge (e.g. > 500 Gb), so it's very expensive operation, we need to get rid of copying of temporary files
 - [x] For optimization, the SDK user can provide only new packages (not all repository) and all `repodata` files, so we can update metadata based on pro

[2021-04-22 09:24] olenagerasimova commented on #387
@milkysoft hm, cannot reproduce the error. Benchmark requires rpm repo in the test directory, have you unpacked any of the bundles?

[2021-05-07 11:34] 0pdd opened #391 "RpmTest.java:78-80: Extract primary.xml `location` tag..."
The puzzle `376-24e83852` from #376 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/d9cdb6ef33d812e185cbdf8b76de5c9bfc8efe43/src/test/java/com/artipie/rpm/RpmTest.java#L78-L80

The puzzle was created by milkysoft on 07-May-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2021-05-07 11:34] 0pdd commented on #376
@olenagerasimova the puzzle [#391](https://github.com/artipie/rpm-adapter/issues/391) is still not solved.

[2021-05-14 11:31] 0pdd opened #397 "XmlEvent.java:165-166: This condition is not covered with..."
The puzzle `388-5c2cea0d` from #388 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/5f96763667159a58d7fab4a0ede1c3682bb806fb/src/main/java/com/artipie/rpm/meta/XmlEvent.java#L165-L166

The puzzle was created by @olenagerasimova on 14-May-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2021-05-14 11:31] 0pdd commented on #388
@g4s8 the puzzle [#397](https://github.com/artipie/rpm-adapter/issues/397) is still not solved.

[2021-05-26 14:33] olenagerasimova opened #410 "Use `ArtipieException` for public API"
Let's update `asto` and use `ArtipieException` in all public API methods

[2021-05-27 05:42] g4s8 commented on #388
Done, @olenagerasimova thanks

[2021-05-27 05:42] #388 closed

[2021-05-27 06:27] #410 closed

[2021-05-31 06:53] olenagerasimova opened #412 "Skip invalid rpms"
`RpmMetadata.Append` should skip invalid rpm files on update: log the error, skip invalid file, continue the update.

[2021-05-31 06:58] olenagerasimova opened #413 "Optional input stream in `RpmMetadata.MetadataItem`"
Existing old metadata input stream in `RpmMetadata.MetadataItem` should be optional, it should be possible to work without existing metadata.

[2021-05-31 07:14] g4s8 commented on #412
I think this should be optional, and will not be enabled for Artipie server

[2021-05-31 12:02] #412 closed

[2021-05-31 14:06] olenagerasimova opened #415 "Empty index xml input stream"
`RpmMetadata.Remove` and `RpmMetadata.Append` should properly handle the case, when empty index xml in provided as input stream. By empty index xml I mean valid xml for empty repository:
[code]

[2021-06-02 07:14] #415 closed

[2021-06-02 13:48] #413 closed

[2021-06-02 13:49] olenagerasimova commented on #415
@rultor release, tag=`1.7`

[2021-06-02 13:51] rultor commented on #415
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24585-853044510)

[2021-06-02 14:01] rultor commented on #415
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24585-853044510) (took me 10min)

[2021-06-24 05:41] g4s8 opened #421 "Use in-memory storage for benchmarks"
Refactor benchmarks by moving to submodule, use fast in-memory storage for benchmarks

[2021-06-24 11:18] #421 closed

[2021-06-28 08:53] olenagerasimova opened #423 "Dependencies check"
Check and update/remove the following dependencies:
log4j 1.2.17
org.apache.ant
com.fasterxml.jackson.core/jackson-databind/2.1
io.vertx/vertx-core/3.2.9

[2021-06-28 09:28] #423 closed

[2021-06-28 09:29] olenagerasimova commented on #423
@rultor release, tag=`1.7.1`

[2021-06-28 09:30] rultor commented on #423
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24681-869528578)

[2021-06-28 09:37] rultor commented on #423
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24681-869528578) (spent 7min)

[code]

[2021-06-28 10:09] olenagerasimova commented on #423
@rultor release, tag=`1.7.1`

[2021-06-28 10:10] rultor commented on #423
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24681-869556205)

[2021-06-28 10:16] rultor commented on #423
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24681-869556205) (spent 7min)

[code]

[2021-06-28 10:34] olenagerasimova commented on #423
@rultor release, tag=`1.7.1`

[2021-06-28 10:35] rultor commented on #423
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24681-869572538)

[2021-06-28 10:42] rultor commented on #423
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24681-869572538) (spent 7min)

[code]

[2021-06-28 12:22] olenagerasimova opened #428 "Change sdk api to update metadata"
Our colleagues can provide parsed rpm metadata header, checksum, rpm file size and location, thus we should accept all this information in `com.artipie.rpm.RpmMetadata.Append#perform()` and do not parse rpm file.

[2021-06-28 13:00] olenagerasimova commented on #423
@rultor release, tag=`1.7.1`

[2021-06-28 13:01] rultor commented on #423
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24681-869662875)

[2021-06-28 13:09] rultor commented on #423
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24681-869662875) (took me 8min)

[2021-07-01 11:39] #428 closed

[2021-07-01 11:40] olenagerasimova commented on #428
@rultor release, tag=`1.8.0`

[2021-07-01 11:40] rultor commented on #428
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24692-872172530)

[2021-07-01 11:49] rultor commented on #428
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24692-872172530) (took me 9min)

[2021-07-07 09:15] #382 closed

[2021-07-07 10:12] olenagerasimova opened #433 "Error in RpmMetadata.Append with empty rpm list"
`RpmMetadata.Append.perform()` call with empty rpm list leads to `ArtipieIOEexception`.

[2021-07-08 09:43] olenagerasimova commented on #433
Solved by updating asto on repo-service side

[2021-07-08 09:43] #433 closed

[2021-07-28 08:11] olenagerasimova opened #435 "Dependency vulnerabilities"
Let's exclude/update following dependencies:
org.apache.ant
org.apache.commons/commons-compress

[2021-08-04 10:49] olenagerasimova opened #438 "Setup release action"
Let's release github actions to release on push tags.

[2021-08-04 10:50] olenagerasimova commented on #438
@g4s8 please, take a look

[2021-08-04 12:50] #438 closed

[2021-08-04 12:50] g4s8 commented on #438
@olenagerasimova fixed in https://github.com/artipie/rpm-adapter/commit/d1a24b826325595fae756a1660b8c542eded73af

[2021-08-19 07:05] olenagerasimova commented on #387
cannot reproduce

[2021-08-19 07:05] #387 closed

[2021-08-19 07:06] olenagerasimova commented on #435
done

[2021-08-19 07:06] #435 closed

[2021-10-11 06:55] olenagerasimova opened #440 "Refactor rpm http layer"
Now rpm http layer uses `Rpm#batchUpdate(com.artipie.asto.Key)` to update the repository, but now we have more efficient SDK API to perform the update and sdk in asto to work with storage items and IO streams. Let's use these sdks to speed up rpm adapter.
Also, we can extend our http api with the method to remove rpm package from repository.

[2021-10-11 07:02] g4s8 commented on #440
@olenagerasimova I think we can also add additional option to disable repository update on upload and use cron job if specified in repo config, e.g.:
[code]
vs
[code]

It could be useful for multi-instance deployments with high upload traffic.

[2021-10-11 07:22] olenagerasimova commented on #440
@g4s8 thanks, good idea. We also have `skip_update` http request parameter, I guess this parameter should work only if cron job is not configured.

[2021-10-20 06:55] olenagerasimova opened #453 "Provides and requires entry lists"
Now provides and requires entry lists are not build quite correctly, entry item does not have `ver`, `rel`, `epoch` and `flags` attributes. We need to figure out how obtain this information from `org.redline_rpm` and add it to the metadata files.
Here is the expected example:
[code]
Epoch and rel (shorten for release) are part of the package version, the format is `epoch:ver-rel`.

[2021-10-28 06:41] 0pdd opened #464 "AstoRepoAddTest.java:87-88: This method is duplicated in..."
The puzzle `440-7d4a1546` from #440 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/b251bc9181cbe1da682f41fc6a0c7f9fe589e00a/src/test/java/com/artipie/rpm/asto/AstoRepoAddTest.java#L87-L88

The puzzle was created by @olenagerasimova on 28-Oct-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2021-10-29 08:17] #453 closed, assigned to nobody

[2021-10-29 13:08] #464 closed, assigned to baudoliver7

[2021-11-01 06:58] olenagerasimova opened #469 "Release part of the version"
According to `redline` and other docs, hyphen is not allowed in release version part. But there is an example rpm `httpd-2.4.6-80.1.h8.eulerosv2r7.x86_64.rpm` with version `20120211-x86-64` and createrepo parses it as `ver="20120211"` and `rel="x86-64"`.

So, let's allow hyphens in release part of the version.

[2021-11-01 09:40] olenagerasimova commented on #469
done in #470

[2021-11-01 09:40] #469 closed

[2021-11-10 07:05] olenagerasimova opened #477 "Use new classes from asto"
Let's update asto and use
1) `KeyExcludeFirst` in `AstoRepoRemove#removeTemp` and `AstoRepoAdd#removeTemp`
2) new ctor of `StorageValuePipeline` with two keys to avoid unnecessary copy/move operations

[2021-11-10 08:53] #477 closed

[2021-11-15 11:49] #391 closed

[2021-11-15 11:49] 0pdd commented on #391
The puzzle `376-24e83852` has disappeared from the source code, that's why I closed this issue.

[2021-11-15 11:50] 0pdd commented on #376
@olenagerasimova the only puzzle [#391](https://github.com/artipie/rpm-adapter/issues/391) is solved here.

[2021-11-16 07:08] #255 closed

[2021-11-16 07:08] 0pdd commented on #255
The puzzle `220-dd2fed2e` has disappeared from the source code, that's why I closed this issue.

[2021-11-16 07:08] #366 closed

[2021-11-16 07:08] 0pdd commented on #366
The puzzle `220-a8f07415` has disappeared from the source code, that's why I closed this issue.

[2021-11-16 07:08] 0pdd commented on #69
@victornoel all 31 puzzles are solved here: [#103](https://github.com/artipie/rpm-adapter/issues/103), [#104](https://github.com/artipie/rpm-adapter/issues/104), [#105](https://github.com/artipie/rpm-adapter/issues/105), [#106](https://github.com/artipie/rpm-adapter/issues/106), [#107](https://github.com/artipie/rpm-adapter/issues/107), [#117](https://github.com/artipie/rpm-adapter/issues/117), [#

[2021-11-16 07:08] 0pdd commented on #83
@0pdd all 6 puzzles are solved here: [#117](https://github.com/artipie/rpm-adapter/issues/117), [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220), [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255), [#366](https://github.com/artipie/rpm-adapter/issues/366).

[2021-11-16 07:08] 0pdd commented on #117
@0pdd all 5 puzzles are solved here: [#219](https://github.com/artipie/rpm-adapter/issues/219), [#220](https://github.com/artipie/rpm-adapter/issues/220), [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255), [#366](https://github.com/artipie/rpm-adapter/issues/366).

[2021-11-16 07:08] 0pdd commented on #220
@0pdd all 3 puzzles are solved here: [#254](https://github.com/artipie/rpm-adapter/issues/254), [#255](https://github.com/artipie/rpm-adapter/issues/255), [#366](https://github.com/artipie/rpm-adapter/issues/366).

[2021-11-23 06:19] olenagerasimova opened #486 "Requires flags are not parsed correctly"
After obtaining flags from rpm_redline it's necessary to perform `&= 0xf` for each flag and only then try to find the correct meaning (EQ, GE, LE atc).

[2021-11-23 10:34] #486 closed

[2021-12-09 09:17] g4s8 opened #489 "Analyze differences for rpm-adapter and createrepo"
Analyze metadata xml produced by rpm-adapter and createrepo e.g. for `ant-1.9.2-9.noarch.rpm`:
- add the greatest version of `lib.so` deps #494
- #495
- #501
- #506
- #503
- #508
- #512

[2021-12-09 13:08] g4s8 opened #490 "RPM adapter doesn't put requires constraints on duplicate"
If item is duplicated in `requires` element, RPM-adapter removes constraints flags. Example:

Artipie generates:
[code]

`createrepo` generates:
[code]

[2021-12-10 06:47] #490 closed

[2021-12-10 06:58] g4s8 opened #492 "Rpm adapter should skip primary requires items on condisions"
During the hotfix #491 the duplicates check for metadata requires items was disabled, since it was implemented not correctly: it just ignores all name duplicates required items, but it should check it with some additional conditions:
[code]
Duplicate should be checked by its name, flags, version to skip it.

Source (createrepo): https://github.com/rpm-software-management/createrepo_c/blob/master/s

[2021-12-13 13:45] olenagerasimova commented on #492
@g4s8 to implement it correctly, we also need to calculate `pre` tag (prerequisite) value. To do it, can you please help me to understand this expression:
[code]
https://github.com/rpm-software-management/createrepo_c/blob/b49b8b2586c07d3e84009beba677162b86539f9d/src/parsehdr.c#L386-L391

I cannot understand the meaning of `RPMSENSE_PREREQ`, `RPMSENSE_SCRIPT_PRE` and `RPMSENSE_SCRIPT_POST` and whe

[2021-12-13 15:02] g4s8 commented on #492
This `C` expression means that if `num_flags` value has any of bits from `RPMSENSE_PREREQ`, `RPMSENSE_SCRIPT_PRE` and `RPMSENSE_SCRIPT_POST`, then set `pre` value to `1`.

Example:
[code]

[2021-12-14 07:48] #492 closed

[2021-12-27 11:18] olenagerasimova opened #494 "Implement `lib.so` version comparison"
We need to implement comparison of `lib.so` dependencies list. These `lib.so` items are often present in `requires` list and `createrepo` only adds the record with the greatest version, for example from the list
[code]
only `libc.so.6(GLIBC_2.4)(64bit)` should be added to the `requires` list.

Comparison implementation should work exactly as it's done in `createrepo` source https://github.com/rpm-

[2021-12-27 11:26] olenagerasimova commented on #494
@g4s8 please, take a look at this issue. Maybe we can delegate it to someone who knows `c`?

[2021-12-28 09:04] olenagerasimova opened #495 "Filter primary files list"
I'm analyzing differences between primary xmls generated by create repo and rpm-adapter. List of files is the main difference here: it is significantly bigger in rpm-adapter's primary. Let's try to implement some filter:
- add `/usr/bin` and `/usr/sbin` and everything in it
- add item starting with `/usr/` and having `/bin/` subdir, for example `/usr/share/ant/bin/antRun`
- add `/etc` and all subf

[2021-12-29 06:37] olenagerasimova commented on #494
@baudoliver7 hi, have you already started to work on this issue? If not, I guess I have time to do it myself...

[2021-12-29 08:35] baudoliver7 commented on #494
@g4s8 already started :-)

Le mer. 29 déc. 2021 à 6:37 AM, Alena ***@***.***> a écrit :

[2021-12-29 09:56] baudoliver7 commented on #494
Ooops, I mean @olenagerasimova, sorry

[2021-12-30 10:43] #494 closed

[2021-12-30 11:56] baudoliver7 commented on #310
@artipie/maintainers could I fix this ?

[2021-12-30 12:01] olenagerasimova commented on #310
@baudoliver7 yes, please

[2022-01-10 06:34] #310 closed

[2022-01-10 06:34] 0pdd commented on #241
@olenagerasimova the puzzle [#360](https://github.com/artipie/rpm-adapter/issues/360) is still not solved; solved: [#277](https://github.com/artipie/rpm-adapter/issues/277), [#278](https://github.com/artipie/rpm-adapter/issues/278), [#285](https://github.com/artipie/rpm-adapter/issues/285), [#307](https://github.com/artipie/rpm-adapter/issues/307), [#310](https://github.com/artipie/rpm-adapter/iss

[2022-01-10 06:34] 0pdd commented on #285
@0pdd the puzzle [#360](https://github.com/artipie/rpm-adapter/issues/360) is still not solved; solved: [#307](https://github.com/artipie/rpm-adapter/issues/307), [#310](https://github.com/artipie/rpm-adapter/issues/310), [#311](https://github.com/artipie/rpm-adapter/issues/311), [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317), [

[2022-01-10 06:34] 0pdd commented on #307
@0pdd the puzzle [#360](https://github.com/artipie/rpm-adapter/issues/360) is still not solved; solved: [#310](https://github.com/artipie/rpm-adapter/issues/310), [#311](https://github.com/artipie/rpm-adapter/issues/311), [#316](https://github.com/artipie/rpm-adapter/issues/316), [#317](https://github.com/artipie/rpm-adapter/issues/317), [#359](https://github.com/artipie/rpm-adapter/issues/359).

[2022-01-10 07:54] olenagerasimova opened #501 "Type of the primary `file` entity"
`File` entity of the primary xml can have attribute `type` with `dir` or `ghost` values. Now, we add only `dir` but not precisely as it is done in `createrepo`. Thus, we need:
1) to analyze the [condition](https://github.com/rpm-software-management/createrepo_c/blob/b49b8b2586c07d3e84009beba677162b86539f9d/src/parsehdr.c#L278) in `createrepo` by which `type=dir` is added
2) to analyze the [conditi

[2022-01-10 09:03] olenagerasimova commented on #501
@g4s8 do not you mind assigning this issue to @baudoliver7 ? C knowledge would be definitely helpful here

[2022-01-26 07:57] olenagerasimova opened #503 "Implement obsoletes tag"
Let's add `obsoletes` tag to primary xml with corresponding dependencies names and versions.

[2022-01-27 06:54] #503 closed

[2022-01-27 07:01] olenagerasimova opened #506 "Do not write provides items into requires"
Sometimes rpm packages can have same items listed in provides and requires (check `libdb-4.7.so`):
[code]
In such cases, if item was listed in provides, we should not add it to requires. While comparing, do not forget to consider version.

[2022-01-27 10:55] #506 closed

[2022-01-28 06:45] olenagerasimova opened #508 "Write conflicts list into primary xml"
Let's add list of conflicts into primary xml.

[2022-01-31 14:51] #501 closed

[2022-01-31 16:15] baudoliver7 commented on #501
@olenagerasimova There is an issue with @0pdd. Expected puzzle haven't been generated.

[2022-01-31 20:44] baudoliver7 commented on #501
@olenagerasimova It has been resolved now. At the next commit on `master`, puzzle will be generated.

[2022-02-02 07:50] #508 closed

[2022-02-02 07:51] 0pdd opened #512 "XmlEvent.java:170-174: Analyze condition by which we add..."
The puzzle `501-b9458298` from #501 has to be resolved:

https://github.com/artipie/rpm-adapter/blob/8d6ee1cf89f524ea63237a6a2d5c353e8d3a5e2d/src/main/java/com/artipie/rpm/meta/XmlEvent.java#L170-L174

The puzzle was created by @baudoliver7 on 31-Jan-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-02-02 07:51] 0pdd commented on #501
@olenagerasimova the puzzle [#512](https://github.com/artipie/rpm-adapter/issues/512) is still not solved.

[2022-02-02 07:52] olenagerasimova commented on #512
@g4s8 can we delegate this issue to @baudoliver7 ?

[2022-02-03 10:26] #512 closed

[2022-02-03 10:26] 0pdd commented on #501
@olenagerasimova the only puzzle [#512](https://github.com/artipie/rpm-adapter/issues/512) is solved here.

[2022-03-10 07:45] lugeng opened #514 "[question] rpm-adapter does not generate sqlite DBs, has any plan to implement?"

[2022-03-10 07:51] g4s8 commented on #514
@lugeng good point! Sqlite operations should be much faster than using xml files, we definitely need to support it.

[2022-03-11 11:14] olenagerasimova commented on #514
DB structure is described [here](https://github.com/rpm-software-management/createrepo_c/blob/master/src/sqlite.c)

[2022-03-24 07:54] olenagerasimova opened #515 "AstoMetadataAdd got stuck with large files"
When existing metadata xml is large enough, `AstoMetadataAdd` got stuck while reading and processing this existing large metadata xml.
Class `AstoMetadataAdd` is meant to add information about new rpm files into metadata xmls (into all 3: primary, other and filelists). Class workflow if the following:
1. Create/update primary:
  - if primary xml already exists - copy existing data skipping duplica

[2022-03-31 13:17] olenagerasimova commented on #495
Here is the list of some other redundant dependencies:
1. redundant perl dependency
2. redundant pkgconfig dependency
3. redundant /usr/bin/ruby、/usr/bin/stap,/usr/bin/perl dependency
4. redundant /usr/sbin/glibc_post_upgrade.x86_64 dependency
5. redundant duo、nmap-ncat dpendency， this happens in package glibc-2.28-46.eulerosv2r9.x86_64，nmap-2:7.80-1.h1.eulerosv2r9.x86_64

[2022-04-04 08:07] olenagerasimova commented on #495
also, when
1) pkg name is `perl`, entry `/urs/bin/perl` should not be added to requires
2) pkg name is `bush`, entry `/urs/bin/bush` should not be added to requires
3) pkg name is `systemtap-client`, entry `/usr/bin/stap` should not be added to requires

[2022-04-11 06:34] olenagerasimova opened #519 "Test resources in the distribution package"
There are test resources (rpms, xmls ets) in the rpm-adapter distribution package. Such files should not be added into distribution jar, let's correct settings in pom to fix it.

[2022-04-11 06:46] #519 closed

[2022-04-25 10:35] olenagerasimova commented on #495
fixed

[2022-04-25 10:35] #495 closed

[2022-04-25 10:48] olenagerasimova opened #521 "Consider version and flag when filtering requires items"
We need to take into account version and flag while filtering requires item by provides, check the comparison screenshot:

<img src="https://user-images.githubusercontent.com/14931449/165073932-6b3db962-07b5-49f8-b5a3-dc003af65b60.jpg" width="500">

perl(CPAN::Meta::Converter) and perl(Parse::CPAN::Meta) are provided by the package and the provided version satisfy requires requirements, thus these

[2022-04-29 12:57] #521 closed

[2022-05-16 09:30] olenagerasimova opened #524 "Version of libc.so.6"
Package vim-common.x86_64 2:7.4.160-2.h3

![image](https://user-images.githubusercontent.com/14931449/168562834-8710cb53-8cef-4e35-a05a-99d1720ce66b.png)

[2022-06-01 07:46] dgarus opened #529 "`RpmTest#updatesDifferentReposSimultaneouslyTwice` is hanging locally"
`RpmTest#updatesDifferentReposSimultaneouslyTwice`
is hanging locally on macOS and win OS.
Java17

[2022-06-03 08:36] olenagerasimova opened #531 "ITs with centos 8"
Centos 8 went EOL, Centos developers [recommend](https://www.centos.org/news-and-events/1321-reminder-centos-linux-is-eol-on-december-31st/) migrating to CentOS Stream. Let's read about this new CentOS Stream and figure out what rpm package manager it uses: if it's `dnf`, then centos can be simply removed from ITs (as we already have tests with `dnf` on fedora), if it's smth else, let's add this n

[2022-06-07 15:03] olenagerasimova opened #534 "Check and fix `RpmITCase`"
`RpmITCase` fails with `java.nio.file.FileSystemException: Not a directory` exception. We need to figure out where exactly is a problem and fix it.

[2022-06-17 09:07] #531 closed

[2022-06-24 07:19] #515 closed

[2022-06-24 08:30] #529 closed

[2022-06-27 07:00] #534 closed

[2022-07-28 15:03] #440 closed

[2022-11-30 09:01] olenagerasimova commented on #489
done

[2022-11-30 09:01] #489 closed